{% extends "cciw/standard.html" %}
{% block content %}

  {% regroup camps by year as grouped %}
  {% for yeargroup in grouped %}
    <h2><a name="year{{ yeargroup.grouper }}">{{ yeargroup.grouper }}</a></h2>
    <ul class="camplist">
      {% for camp in yeargroup.list %}
        <li><a href="{{ camp.get_absolute_url }}" title="{{ camp.nice_name }}">
          Camp {{ camp.name }}</a>
          {{ camp.bracketted_old_name }}
          {% with leaders=camp.leaders.all %}
            {% if leaders %}
              led by {{ leaders|join:", " }}{% if camp.chaplain %}, {% endif %}
            {% endif %}
          {% endwith %}
          {% if camp.chaplain %}
            chaplain {{ camp.chaplain }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
