{% extends "standard" %}
{% block content %}
	{% if camps %}
		{{ introtext }}
		<h2>Dates</h2>
		<p>Click on the number of the camp for more information</p>
		<div>
		<table class="topheaders">
			<tr>
				<th>#</th>
				<th>Age</th>
				<th>Dates</th>
				<th>Leaders</th>
				<th>Chaplain</th>
			</tr>
			{% for camp in camps %}
			{% ifchanged %}
			<tr>
				<th colspan="5" class="siteDivision">
				<a href="{{ camp.get_site.get_absolute_url }}">{{ camp.get_site.shortName }}</a>
				</th>
			</tr>
			{% endifchanged %}
			<tr>
				<td><a href="{{ camp.get_absolute_url }}" 
					title="{{ camp.niceName }}">{{ camp.number }}</a></td>
				<td>{{ camp.age	}}</td>
				<td>{{ camp.startDate|date:"d M"}} - {{ camp.endDate|date:"d M" }}</td>
				<td>{{ camp.get_leader_list|join:", " }}</td>
				<td>{{ camp.get_chaplain }}</td>
			</tr>
			{% endfor %}
		</table>
		</div>
		{{ outrotext }}
	{% else %}
	<p>Information for camps in {{thisyear}} is not yet available.</p>
	{% endif %}


{% endblock %}
