<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}CCIW: {{ title }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" title="dark" href="{{ STATIC_URL }}css/style.css" type="text/css" />
<!--[if lt IE 6]><link rel="stylesheet" title="dark" href="{{ STATIC_URL }}css/ielt6.css" type="text/css" /><![endif]-->
<!--[if gte IE 6]><link rel="stylesheet" title="dark" href="{{ STATIC_URL }}css/iegte6.css" type="text/css" /><![endif]-->
{% block extraheader %}{% endblock %}
</head>
<body>
{% block bodystart %}
{% endblock %}
<div id="header">
	<div id="headerlogo">
		{% if not homepage %}
			<a href="/" title="Home page" style="height: 60px; width:183px; display: block;"></a>
		{% endif %}
	</div>
</div>
{% block main %}
	<div id="mainbase">
		<div id="pageTitle">
			<h1>{{ title }}</h1>
		</div>
		<div id="contentBody">
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
