<!DOCTYPE html>
<html lang="en-gb">
<head>
<title>{% block title %}{{ title }} | CCIW{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
{% block extraheader %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23715914-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
{% block bodystart %}
{% endblock %}
<div id="header" {% block headerattr %}{% endblock %}>
  <div id="headerlogo">
    {% block extrapageheader %}
    {% endblock %}
    <a href="/" title="Home page" style="height: 66px; width: 200px; display: block;"></a>
  </div>
</div>
{% block main %}
	<div id="mainbase">
		<div id="pageTitle">
			<h1>{{ title }}</h1>
		</div>
		<div id="contentBody">
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

    <!--[if lte IE 6]>
    <div id="ie-message">
      Your browser is obsolete, and probably doesn't display this site
      correctly. Please upgrade to <a href="http://abetterbrowser.org/">a better
      browser</a>.
    </div>
    <![endif]-->
</body>
</html>
