{% extends "cciw/standard.html" %}
{% load standardpage %}
{% block content %}

  <h2>Summary</h2>

  <p>CCiW's data retention policy is to keep personal information only as long
    as necessary to serve the needs of our campers and officers, and in complicance with
    all applicable laws. In short:</p>

  <ul>
    <li>We keep most camper data for 5 years by default, unless deletion is requested earlier. The primary reason for keeping it more than one year is to provide convenience to those booking, so that they do not need to enter all details each year.</li>
    <li>We keep some basic data about names of campers on camps indefinitely, for legal reasons set out below.</li>
    <li>We normally keep officer data indefinitely.</li>
    <li>Data subjects have “right to erasure” as set out in the GDPR and other laws, subject to some limitations below.</li>
  </ul>

  <p>The full data retention policy is included below.</p>

  {{ data_retention_policy }}

{% endblock %}
