<script type="text/javascript">
<!--
function bibleWindow()
{
	var passage = document.getElementById('passageinput').value;
	window.open('/services/esv_passage/?passage=' + encodeURI(passage),
		'bible',"toolbar=yes,height=600,width=500,location=no,menubar=no,scrollbars=yes,resizable=yes");
}
function insert(text)
{
	document.getElementById('message').value += text;
}

//-->
</script>
<div>
<textarea name="message" rows="12" cols="60" id="message">{% if message_text %}{{ message_text|escape }}{% endif %}</textarea>
<div class="messageiconrow">
<a class="button" href="javascript: void insert(':-)');"><img src="{{ pagevars.media_root_url }}images/emoticons/smile.gif" alt=":-)" title="Add emoticon" /></a>
<a class="button" href="javascript: void insert(':-(');"><img src="{{ pagevars.media_root_url }}images/emoticons/sad.gif" alt=":-(" title="Add emoticon" /></a>
<a class="button" href="javascript: void insert(':-/');"><img src="{{ pagevars.media_root_url }}images/emoticons/unsure.gif" alt=":-/" title="Add emoticon" /></a>
<a class="button" href="javascript: void insert(';-)');"><img src="{{ pagevars.media_root_url }}images/emoticons/wink.gif" alt=";-)" title="Add emoticon" /></a>
<a class="button" href="javascript: void insert(':eyebrow:');"><img src="{{ pagevars.media_root_url }}images/emoticons/eyebrow.gif" alt=":eyebrow:" title="Add emoticon" /></a>
 |
<a class="button" href="javascript: void insert('[b][/b]');" title="Add bold text tags"><b>B</b></a>
<a class="button" href="javascript: void insert('[i][/i]');" title="Add italic text tags"><b><i>I</i></b></a>
<a class="button" href="javascript: void insert('[quote][/quote]');" title="Add tags for quoting someone"><b>Q</b></a>

 | Bible: <input name="passageinput" id="passageinput" type="text" title="Enter Bible passage and click the icon
to do a lookup in a popup window" /><a title="Enter Bible passage and click the icon
to do a lookup in a popup window" class="button" href="javascript:void bibleWindow();"><img src="{{ pagevars.media_root_url }}images/book.png" alt="bible icon" /></a>
 |
<a title="More details about creating messages." href="/website/bbcode/" >Help</a>
</div>
</div>
