{% extends "base" %}
{% load standardpage %}
{% block main %}
<div id="mainstandard">
	<div id="sidebarOuter">
		<div id="sidebar">
			<h1>Contents</h1>
			<ul
			>{% for menulink in menulinks %}<li
					><a href="{{ menulink.url }}"
					{% if menulink.extra_title %}
						title="{{ menulink.extra_title }}"
					{% endif %}
					{% if menulink.isCurrentPage %}
						class="currentPage"
					{% endif %}
					{% if menulink.isCurrentSection %}
						class="currentSection"
					{% endif %}
					>{{ menulink.title }}</a></li
			>{% endfor %}</ul
			>
		</div>
	</div>
	<div id="contentOuter">
		<div id="content">
			<div id="page_title">
				<h1>{{ pagevars.title }}</h1>
			</div>
			<div id="contentBody">
				{% block breadcrumb %}
					{% if breadcrumb %}
						<div class='breadcrumb'>{{ breadcrumb }}</div>
					{% endif %}
				{% endblock %}
				{% block content %}
					{{ contentBody }}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
<div id="footer">
	<h1>Quick Links</h1>
	<ul>
	{% if currentMember %}	
		<li>Logged in as :  <a href="{{currentMember.get_absolute_url}}">{{currentMember.user_name}}</a></li>
		<li><a href="{{currentMember.get_absolute_url}}messages">{{currentMember.new_messages}} new message(s)</a></li>
	{% else %}
		<li><a href="/login/">Login</a></li>
	{% endif %}
		<li><a href="/members/?online=1"> {{ pagevars.logged_in_members }} member(s) online</a></li>
	</ul>
</div>
{% endblock %}