{% extends "cciw/base.html" %}
{% load standardpage %}

{% block extraheader %}
	<meta name="description" content="{{ meta_description|escape }}" />
	<meta name="keywords" content="{{ meta_keywords|escape }}" />
	{{ block.super }}
	{% block atomfeed %}
		{% atomfeedlink %}
	{% endblock %}
{% endblock %}
{% block bodystart %}
<div id="skiptocontentdiv"><a href="#content" id="skiptocontent">Skip to content</a></div>
{% endblock %}
{% block main %}
<div id="mainstandard">
	<div id="sidebarOuter">
		<div id="sidebar">
			<h1>Site contents</h1>
			<ul
			>{% for menulink in menulinks %}<li
					><a href="{{ menulink.url }}"
					{% if menulink.extra_title %} title="{{ menulink.extra_title|escape }}" {% endif %}
					{% if menulink.isCurrentPage %} class="currentPage" {% endif %}
					{% if menulink.isCurrentSection %} class="currentSection" {% endif %}
					>{{ menulink.title|escape }}</a></li
			>{% endfor %}</ul
			>
		</div>
	</div>
	<div id="contentOuter">
		<div id="content">
			<div id="pageTitle">
				<h1>{{ title|escape }}</h1>
			</div>
			<div id="contentBody">
				{% block breadcrumb %}
					{% if breadcrumb %}
						<div class='breadcrumb'>{{ breadcrumb }}</div>
					{% endif %}
				{% endblock %}
				{% block content %}
					{{ contentBody }}
				{% endblock %}
			</div>
			<div class="bottomlinks">{% atomfeedlinkvisible %} <a href="/website/help/" title="Get help or report problems with the site">Help</a> | <a href="/website/abuse/" title="How to report absue of the web site">Report abuse</a></div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
<div id="footer">
	<h1>Quick Links</h1>
	<ul>
	{% if current_member %}	
		<li>Logged in as :  <a href="{{current_member.get_absolute_url}}">{{current_member.user_name}}</a></li>
		<li><a href="{{current_member.get_absolute_url}}messages/inbox/">{{current_member.new_messages}} new message(s)</a></li>
	{% else %}
		<li><a href="/login/">Login</a></li>
	{% endif %}
		<li><a href="/members/?online=1"> {{ misc.logged_in_members }} member(s) online</a></li>
	</ul>
</div>

{% endblock %}