repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.9
    hooks:
      # Run the linter and fix
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.1'
    hooks:
      - id: flynt
        language_version: python3.13
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml
        entry: djhtml -t 2
        language_version: python3.13
  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.24.0'
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.2"]
exclude: '.*\.min\..*'
