BeautifulSoup==3.1.0.1
PIL==1.1.7
psycopg2==2.2.2
twill==0.9
zc.lockfile==1.0.0
south==0.7.2
xlwt==0.7.2
xlrd==0.7.1
creole>=1.2
python-dateutil==2.0
Django==1.4.5
-e git+https://github.com/spookylukey/django-paypal@27627681#egg=paypal
-e git://github.com/jtauber/django-mailer.git@840d25bb9d#egg=django-mailer
-e hg+https://bitbucket.org/spookylukey/django-autocomplete/@28490de155fb#egg=django-autocomplete
-e git://github.com/spookylukey/djiki.git@fa8031ee46#egg=djiki
diff-match-patch
pytz
