BeautifulSoup==3.1.0.1
PIL==1.1.7
psycopg2==2.2.2
twill==0.9
zc.lockfile==1.0.0
south==0.7.2
xlwt==0.7.2
xlrd==0.7.1
creole>=1.2
python-dateutil==2.0
-e git+https://github.com/dcramer/django-paypal#egg=paypal
-e hg+https://bitbucket.org/spookylukey/django/@00f11ed96fe8#egg=django
