beautifulsoup4==4.11.1
django-debug-toolbar==3.5
django-functest==1.5.1
django-plainpasswordhasher==0.3
flake8==5.0.4
hypothesis==6.54.6
ipython==8.5.0
lxml==4.9.1
pyquery==1.4.3
selenium==4.4.3
vcrpy==4.2.1
isort==5.10.1
pytest==7.1.3
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-xdist[psutil]==2.1.0
time-machine==2.8.1
