{% extends "cciw/standard.html" %}
{% load csrf %}
{% block content %}
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}

	{% if show_form %}
	<p>Enter the subject and the first post of the new topic below.</p>
	<form action="#messageform" method="post">{% csrf_token %}
		{% include "cciw/errors.html" %}
		{% include "cciw/msgpreview.html" %}
		{% if preview %}
			<p>Make any changes below, and choose
			'Preview' again or 'Post'.</p>
		{% endif %}
		<table class="simpleform">
			<tr>
				<th scope="row">Subject:</th>
				<td><input type="text" size="50" name="subject" value="{{ subject_text }}" /></td>
			</tr>
			<tr>
				<th scope="row">Message:</th>
				<td>
					{% include "cciw/message.html" %}
				</td>
			</tr>
		</table>
		<div>
		<br/><input type="submit" name="preview" value="Preview"/>&nbsp;
		<input type="submit" name="post" value="Post" />
		</div>
	</form>
	{% endif %}
{% endblock %}
