{% extends "cciw/standard.html" %}
{% block content %}



{% if existing_poll %}
<p>Edit the poll details below.  Please note, you can either:</p>
<ul>
  <li>Change the text on existing options (votes for that option will
  be preserved)</li>
  <li>Remove one or more option</li>
  <li>Add one or more option</li>
</ul>
<p>But do not do more than one of the above at once!</p>
{% else %}
<p>Enter the poll details below.  A new topic will be
created for this poll.</p>
{% endif %}

{% if form.errors %}
	<div class="userError">
	Please check your input:
	</div>
{% endif %}

<form action="" method="post">

<div class="form">
{{ form.as_p }}
</div>

<div><input type="submit" name="submit" id="submit" value="Submit" /></div>
</form>

{% endblock %}
