{% extends "cciw/standard.html" %}
{% block content %}

<script type="text/javascript" src="{{ pagevars.media_root_url }}/javascript/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="{{ pagevars.media_root_url }}/javascript/cciwutils.js"></script>
<script type="text/javascript">
<!--

// DEBUG:
//createLoggingPane();

var editpollformname = 'editpollform';

function get_input_change_handler(control_name, control_id) {
	function on_input_change(ev) {
		d = cciw_validate_form(editpollformname);
		d.addCallbacks(standardform_get_validator_callback(control_name, control_id), 
				standardform_ajax_error_handler);
	};
	return on_input_change;
} 

connect(window, 'onload',
	function(ev) {
		// Add event handlers to everything that can be validated.
		add_form_onchange_handlers(editpollformname, function(input) {
			return get_input_change_handler(input.name, input.id);
		});		
	}
);


//-->
</script>

{% if existing_poll %}
<p>Edit the poll details below.  Please note, you can either:</p>
<ul>
  <li>Change the text on existing options (votes for that option will
  be preserved)</li>
  <li>Remove one or more option</li>
  <li>Add one or more option</li>
</ul>
<p>But do not do more than one of the above at once!</p>
{% else %}
<p>Enter the poll details below.  A new topic will be
created for this poll.</p>
{% endif %}

{% if form.errors %}
	<div class="userError">
	Please check your input:
	</div>
{% endif %}

<form action="" method="post" id="editpollform">

<div class="form">
{{ form.as_p }}
</div>

<div><input type="submit" name="submit" id="submit" value="Submit" /></div>
</form>

{% endblock %}
