{% extends "cciw/standard.html" %}
{% block content %}



{% if existing_poll %}
<p>Edit the poll details below.  Please note, you can either:</p>
<ul>
  <li>Change the text on existing options (votes for that option will
  not be changed)</li>
  <li>Remove one or more option</li>
  <li>Add one or more option</li>
</ul>
<p>But do not do more than one of the above at once!</p>
{% else %}
<p>Enter the poll details below.  A new topic will be
created for this poll.</p>
{% endif %}

{% if errors %}
	<div class="userError">
	Please check your input:
	</div>
{% endif %}

<form action="" method="post">

<div class="formrow">
<label for="id_title">Title</label>{{ form.title }}
{% if form.title.errors %}<span class="validationError">{{ form.title.errors|join:", " }}</span>{% endif %}
</div>

<div class="formrow">
<label for="id_intro_text">Intro text</label>{{ form.intro_text }}
{% if form.intro_text.errors %}<span class="validationError">{{ form.intro_text.errors|join:", " }}</span>{% endif %}
</div>

<div class="formrow">
<label for="polloptions">Options (one per line)</label><textarea name="polloptions" id="polloptions" rows="10" cols="40">{{ polloptions }}</textarea>{% if errors.polloptions %}<span class="validationError">{{ errors.polloptions }}</span>{% endif %}
</div>

<div class="formrow">
<label for="id_outro_text">Closing text</label>{{ form.outro_text }}
{% if form.outro_text.errors %}<span class="validationError">{{ form.outro_text.errors|join:", " }}</span>{% endif %}
</div>

<div class="formrow">
<label for="id_voting_starts_date">Voting start date</label>{{ form.voting_starts_date }} 
{% if form.voting_starts_date.errors %}<span class="validationError">{{ form.voting_starts_date.errors|join:", " }}</span>{% endif %}
</div>

<div class="formrow">
<label for="id_voting_starts_time">Voting start time</label>{{ form.voting_starts_time }}
{% if form.voting_starts_time.errors %}<span class="validationError">{{ form.voting_starts_time.errors|join:", " }}</span>{% endif %}
 </div>

<div class="formrow">
<label for="id_voting_ends_date">Voting end date</label>{{ form.voting_ends_date }}
{% if form.voting_ends_date.errors %}<span class="validationError">{{ form.voting_ends_date.errors|join:", " }}</span>{% endif %}
 </div>

<div class="formrow">
<label for="id_voting_ends_time">Voting end time</label>{{ form.voting_ends_time }}
{% if form.voting_ends_time.errors %}<span class="validationError">{{ form.voting_ends_time.errors|join:", " }}</span>{% endif %}
 </div>

<div class="formrow">
<label for="id_rules">Voting rules</label>{{ form.rules }}
{% if form.rules.errors %}<span class="validationError">{{ form.rules.errors|join:", " }}</span>{% endif %}
</div>

<div class="formrow">
<label for="id_rules">Value of 'X' (for voting rules)</label>{{ form.rule_parameter }}
{% if form.rule_parameter.errors %}<span class="validationError">{{ form.rule_parameter.errors|join:", " }}</span>{% endif %}
</div>


<div><input type="submit" name="submit" id="submit" value="Submit" /></div>
</form>

{% endblock %}
