{% extends "cciw/standard.html" %}
{% load standardpage %}
{% load view_extras %}

{% block extraheader %}
{{ block.super }}
{% block atomfeed %}
<link rel="alternate" type="application/atom+xml" href="{{ request.path }}?format=atom" title="Atom feed for message board posts." />
{% endblock %}
{% endblock %}
{% load forums %}
{% block content %}
{% for post in object_list %}
	<div class="individualPost">
		<div class="postHeader">
		{% ifchanged %}
			<h2>
			{% if post.topic_id %}In topic <a href="{{ post.topic.get_absolute_url }}">{{ post.topic.subject|escape }}</a>:{% endif %}
			{% if post.photo_id %}On photo <a href="{{ post.photo.get_absolute_url }}">{{ post.photo.id }}</a>:{% endif %}
			</h2>
		{% endifchanged %}
		From {% memberlink %}{{ post.posted_by_id }}{% endmemberlink %}, at {{ post.posted_at|date:"d M y, h:i" }} &mdash; <span class="readmore"><a href="{{ post.get_absolute_url }}">view in context</a></span>:
		</div>
		<div class="postMessage">
		{% if post.subject %}<div class="postSubject">{{ post.subject|bb2html }}</div>{% endif %}
		{{ post.message|bb2html }}
		</div>
		
	</div>
{% endfor %}
<div class="paging">{% paging_control %}</div>
{% endblock %}
