			{% for post in object_list %}
			<tr>
				<td class="postFrom">
					<span class="postMemberIcon">{{ post.get_posted_by.icon_image }}</span>
					{% memberlink %}{{ post.posted_by_id }}{% endmemberlink %}<br/>
					<span class="postDate">{% if post.posted_at %}{{ post.posted_at|date:"d M y, h:i" }}{% endif %}</span>
				</td>
				<td class="postMessage">
					{% if post.subject %}<div class="postSubject">{{ post.subject }}</div>{% endif %}
					{{ post.message|bb2html }}
				</td>
			</tr>
			{% endfor %}
