			{% for post in object_list %}
			<tr>
				<td class="postFrom">
					<span class="postMemberIcon">{{ post.get_postedBy.iconImage }}</span>
					{% memberlink %}{{ post.postedBy_id }}{% endmemberlink %}<br/>
					<span class="postDate">{% if post.postedAt %}{{ post.postedAt|date:"d M y, h:i" }}{% endif %}</span>
				</td>
				<td class="postMessage">
					{% if post.subject %}<div class="postSubject">{{ post.subject }}</div>{% endif %}
					{{ post.message|bb2html }}
				</td>
			</tr>
			{% endfor %}
