{% extends "cciw/standard.html" %}
{% load standardpage %}
{% load view_extras %}
{% load forums %}
{% block content %}
	{% block thread_top %}{% endblock %}

	<div class="paging"><a name="comments"></a>{% paging_control #comments %}</div>
	<table class="topheaders">
		<tr>
		{% if news_item or photo or poll %}
			<th class="commentHeader" colspan="2">
			{% if photo %}<span class="taglist">{% tag_summary_list for photo %} {% add_tag_link for photo %}</span>{% endif %}			
			{% if topic %}<span class="taglist">{% tag_summary_list for topic %} {% add_tag_link for topic %}</span>{% endif %}
			Comments
			</th>
		{% else %}
			{% if topic %}
				<th class="topicSubject" colspan="2">
				<span class="taglist">{% tag_summary_list for topic %} {% add_tag_link for topic %}</span>
				<h2>{{ topic.subject }}</h2></th>
			{% endif %}
		{% endif %}
		</tr>
		<tr>
			<th scope="col" class="postFromCol">From</th>
			<th scope="col">Message</th>
		</tr>
		{% if object_list %}
			{% for post in object_list %}
			<tr>
				<td class="postFrom">
					<span class="postMemberIcon">{% membericon %}{{ post.posted_by_id }}{% endmembericon %}</span>
					{% memberlink %}{{ post.posted_by_id }}{% endmemberlink %}<br/>
					<span class="postDate">{% if post.posted_at %}{{ post.posted_at|date:"d M y, H:i" }}{% endif %}</span>
					{% if post.hidden %}
						{% if moderator %}
							<br/><span class="postHiddenMsg">HIDDEN</span>
						{% else %}
							<br/><span class="postHiddenMsg">HIDDEN</span> (awaiting moderator approval)
						{% endif %}
					{% endif %}
					{% if moderator %}&nbsp;<span class="editPost"><a href="/admin/cciwmain/post/{{ post.id }}/" title="Edit this post" ><img width="16" height="16" src="{{ pagevars.media_root_url}}/images/edit.png" alt="Edit this post" /></a></span>
					{% endif %}
				</td>
				<td class="postMessage" id="id{{ post.id }}">
					<span class="taglist">{% tag_summary_list for post %} {% add_tag_link for post %}</span>
					{% if post.subject %}<div class="postSubject">{{ post.subject }}</div>{% endif %}
					{{ post.message|bb2html }}
				</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td  colspan="2">There are no posts yet here.</td>
			</tr>
		{% endif %}
	</table>
	<div class="paging">{% paging_control #comments %}</div>
<script type="text/javascript">
<!--
bits = window.location.href.split('#');
if (bits.length == 2) {
    td = document.getElementById(bits[1]);
    if (td) {
	tr = td.parentNode;
        className = tr.className;
        if (className.length > 0) {
            className = className + " ";
        }
        className = className + 'selected';
        tr.className = className;
    }
}
//-->
</script>
	
	{% if show_message_form %}
		{% if not has_next %}
			<form action="#messageform" method="post">{% csrf_token %}
			<h2 id="messageform">Add message:</h2>
			{% include "cciw/errors.html" %}
			{% include "cciw/msgpreview.html" %}
			{% if preview %}
				<p>Make any changes below, and choose
				'Preview' again or 'Post'.</p>
			{% endif %}
			<table class="simpleform">
				<tr>
					<th scope="row">Message:</th>
					<td>
						{% include "cciw/message.html" %}
					</td>
				</tr>
			</table>
			<div>
			<br/><input type="submit" name="preview" value="Preview" id="preview" />&nbsp;
			<input type="submit" name="post" value="Post" id="post" />
			</div>
			</form>
		{% endif %}
	{% else %}
		{% if not has_next %}
			{% if login_link %}
				<div><a href="{{ login_link }}">Login to post a
message.</a></div>
			{% endif %}
		{% endif %}
	{% endif %}
	{% block thread_bottom %}{% endblock %}
{% endblock %}

