{% extends "cciw/standard" %}
{% load standardpage %}
{% load view_extras %}
{% block content %}
	<p>Select from the list of topics below by clicking on the topic name.</p>
	{% if object_list %}
		<div class="paging">{% paging_control %}</div>
		<table class="topheaders">
			<tr>
				<th scope="col">Topic</th>
				<th scope="col" class="topicStartedCol">Started 
					{% sorting_control "aca" "dca" 
						"Sort by date started, ascending" 
						"Sort by date started, descending" %}</th>
				<th scope="col">Posts 
					{% sorting_control "apc" "dpc" 
						"Sort by number of posts, ascending" 
						"Sort by number of posts, descending" %}</th>
				<th scope="col" class="topicLastPostCol">Last post 
					{% sorting_control "alp" "dlp" 
						"Sort by date of last post, ascending" 
						"Sort by date of last post, descending" %}</th>
				<th scope="col">Status</th>
			</tr>
		{% for topic in object_list %}
			<tr>
				<td class="topicLink">
				{% if topic.news_item_id %}<div class="center">NEWS ITEM</div>{% endif %}
				{{ topic.get_link }}
				</td>
				<td>{% if topic.created_at %}{{ topic.created_at|date:"d M Y h:i" }}<br/>{% endif %}
				    {% if topic.started_by_id %}{% memberlink %}{{ topic.started_by_id }}{% endmemberlink %}{% endif %}</td>
				<td>{{ topic.post_count }}</td>
				<td>{% if topic.last_post_at %}{{ topic.last_post_at|date:"d M Y h:i" }}<br/>{% endif %}
				    {% if topic.last_post_by_id %}{% memberlink %}{{ topic.last_post_by_id }}{% endmemberlink %}{% endif %}</td>
				<td>{% if topic.open %}Open{% else %}Closed{% endif %}</td>
			</tr>
		{% endfor %}
		</table>
		<div class="paging">{% paging_control %}</div>
	{% else %}
		<p>There are no topics yet in this forum.</p>
	{% endif %}

{% endblock %} 
