{% extends "standard" %}
{% load standardpage %}
{% load view_extras %}
{% load forums %}
{% block content %}
	{{ introtext }}
	{% if newsItem %}
	<br/>
	<div class="newsItem">
		<div class="newsItemDetails">Posted: {{ newsItem.createdAt|date:"d M Y, h:i" }}, 
		by {% memberlink %}{{ newsItem.createdBy_id }}{% endmemberlink %}</div>
		<div class="newsItemFull">
		{% if newsItem.fullItem %}
			{{ newsItem.fullItem|standard_subs }}
		{% else %}
			{{ newsItem.summary|bb2html }}
		{% endif %}
		</div>
	</div>
	{% endif %}
	<a name="comments"></a>
	<div class="paging">{% paging_control #comments %}</div>
	<table class="topheaders">
		<tr>
		{% if newsItem %}
			<th class="commentHeader" colspan="2">Comments</th>
		{% else %}
			{% if poll %}
			<th class="commentHeader" colspan="2">Comments</th>
			{% else %}
			<th class="topicSubject" colspan="2"><h2>{{ topic.subject }}</h2></th>
			{% endif %}
		{% endif %}
		</tr>

		<tr>
			<th class="postFromCol">From</th>
			<th>Message</th>
		</tr>
		{% if object_list %}
			{% include 'forums/thread' %}
		{% else %}
			<tr>
				<td  colspan="2">There are no posts yet in this topic.</td>
			</tr>
		{% endif %}
	</table>
	<div class="paging">{% paging_control #comments %}</div>

		TODO - add message form

{% endblock %} 
