{% extends "cciw/standard" %}
{% load standardpage %}
{% load view_extras %}
{% load forums %}
{% block content %}
	{{ introtext }}
	{% if news_item %}
	<br/>
	<div class="newsItem">
		<div class="newsItemDetails">Posted: {{ news_item.created_at|date:"d M Y, h:i" }}, 
		by {% memberlink %}{{ news_item.created_by_id }}{% endmemberlink %}</div>
		<div class="newsItemFull">
		{% if news_item.full_item %}
			{{ news_item.full_item|standard_subs }}
		{% else %}
			{{ news_item.summary|bb2html }}
		{% endif %}
		</div>
	</div>
	{% endif %}
	{% if poll %}
		{% if show_poll_results %}
		<div class="pollresults">
			<h2>{{ poll.title }}</h2>
			{% if poll.intro_text %}<p>{{ poll.intro_text }}</p>{% endif %}
			<p>Results:</p>
			<table>
			{% for polloption in poll.get_poll_option_list %}
				<tr>
					<td>{{ polloption.text|bb2html }}</td>
					<td>{{ polloption.total }} votes &nbsp;&nbsp;</td>
					<td>{{ polloption.percentage }}</td>
					<td><div class="pollBarChartTotal"><div style="width: {{ polloption.bar_width }}px; " class="pollBarChart"></div></div></td>
				</tr>
				
			{% endfor %}
			{% if poll.outro_text %}<p>{{ poll.outro_text }}</p>{% endif %}
			</table>
		</div>
		{% else %}
			<p>{{ poll.intro_text }}</p>
			{% for polloption in poll.get_poll_option_list %}

			{% endfor %}
			<p>{{ poll.outro_text }}</p>
		{% endif %}
	{% endif %}
	<div class="paging"><a name="comments"></a>{% paging_control #comments %}</div>
	<table class="topheaders">
		<tr>
		{% if news_item %}
			<th class="commentHeader" colspan="2">Comments</th>
		{% else %}
			{% if poll %}
			<th class="commentHeader" colspan="2">Comments</th>
			{% else %}
			<th class="topicSubject" colspan="2"><h2>{{ topic.subject }}</h2></th>
			{% endif %}
		{% endif %}
		</tr>
		<tr>
			<th scope="col" class="postFromCol">From</th>
			<th scope="col">Message</th>
		</tr>
		{% if object_list %}
			{% include 'cciw/forums/thread' %}
		{% else %}
			<tr>
				<td  colspan="2">There are no posts yet in this topic.</td>
			</tr>
		{% endif %}
	</table>
	<div class="paging">{% paging_control #comments %}</div>

		TODO - add message form

{% endblock %}
