{% extends "admin/change_form.html" %}

{% load static %}
{% load compress %}


{% block form_top %}
  {{ block.super }}
  {# Some javascript enhancements  #}

  {% if booking_problems %}

    <h2>Errors and warnings:</h2>

    <p>Please check the following list of problems before changing a booking to
      'Booked'. These are the warnings that would normally be shown to the user.
      The booking secretary has the right to ignore these problems, after
      checking with the camp leader where necessary.
    </p>

    <div class="bookingProblems" id="id_problems">
      <ul>
        {% for problem in booking_problems %}
          <li>
            {% if problem.blocker %}
              <img class="booking-error-icon" src="{% static "admin/img/icon-no.svg" %}">
            {% elif problem.warning %}
              <img class="booking-warning-icon" src="{% static "admin/img/icon-alert.svg" %}">
            {% else %}
              {# for approvals that have been granted #}
              <img class="booking-ok-icon" src="{% static "admin/img/icon-yes.svg" %}">
            {% endif %}
            {{ problem.description }}
            <i>{{ problem.status_display }}</i>

          </li>
        {% endfor %}
      </ul>
    </div>

  {% endif %}
  <script type="text/javascript">
    var cciw = (function(pub) {
      "use strict";
      pub.placeAvailabilityJsonUrl = '{% url "cciw-officers-place_availability_json" %}';
      pub.getExpectedAmountDueUrl = '{% url "cciw-officers-get_booking_expected_amount_due" %}';

      return pub;

    })(cciw || {});

  </script>

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}bookings/js/admin_booking.js"></script>
  {% endcompress %}

{% endblock %}
