{% load widget_tweaks %}
<div
  class="formrow {{ field.css_classes }}"
  id="div_id_{{ field.name }}"
  {% if do_htmx_validation and field|widget_type != "fileinput" and field|widget_type != "captchatextinput" %}
    hx-get="."
    hx-vals='{"_validate_field": "{{ field.name }}" }'
    hx-trigger="change from:#div_id_{{ field.name }}"
    hx-include="#div_id_{{ field.name }}"
    hx-target="this"
    hx-swap="outerHTML"
  {% endif %}
>
  {% if errors %}
    <div class="fieldMessages">
      {{ errors }}
    </div>
  {% endif %}
  <div class="field">
    {% if label_tag %}
      {# Passed in via render_single_form_field #}
      {{ label_tag }}
    {% else %}
      {% if field.label %}{{ field.label_tag }}{% endif %}
    {% endif %}
    <div class="inputwidget">
      {{ field }}
      {% if field.help_text %}
        <br>
        <span class="helptext">{{ field.help_text|safe }}</span>
      {% endif %}
    </div>
  </div>
</div>
