{% load standardpage %}
{% load forums %}
{% if obj.news_item_id %}
  {% if obj.news_item.full_item %}
    {{ obj.news_item.full_item|safe|standard_subs }}
  {% else %}
    {{ obj.news_item.summary|bb2html }}
  {% endif %}
{% else %}
  {% if obj.poll_id %}
    {{ obj.poll.intro_text|bb2html }}
    <ul>
    {% for polloption in obj.poll.poll_options.all %}
      <li>{{ polloption.text|bb2html }}</li>
    {% endfor %}
    </ul>
    {{ obj.poll.outro_text|bb2html }}
  {% else %}
    {{ obj.post_count }} posts.
  {% endif %}
{% endif %}
