{% extends 'cciw/officers/base.html' %}
{% load static %}
{% block title %}
CCIW Officer wiki
{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/djiki.css" %}" />
{% endblock %}

{% block userlinks %}<a href="/officers/">Officer homepage</a> / <a href="/wiki/Index">Wiki start</a>{% endblock %}
{% block content %}
<div class="djiki">
	<div class="actions">
		<div>
		{% block djiki_actions %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	<div class="main">
		{% block djiki_main %}{% endblock %}
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
