#header2
{
	background-image: url('/media/images/header.png');
}

#headerlogo
{
	background-image: url('/media/images/headerlogo.png');
}
#header2
{
	height: 63px;
	background-repeat: repeat-x;
}

#headerlogo
{
	background-repeat: no-repeat;
	margin-left: 0px;
	height: 63px;
}

#header	{ background:black; color:white; min-height:2.4em; overflow:auto; }
#header a:link, #header a:visited { color:#00bb55; }
#header a:hover { text-decoration:underline; }

#helplink 
{ 
    font-size: 11px; 
    text-align: right; 
    padding: 2px 10px;
}

.firstline,
.refdetails
{
    cursor: pointer;
}

.firstline,
.addrblock,
.refdetails
{
    background: #d0d0d0;
}

.hidden
{
    display: none;
}

.refdetails
{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-top: 2px;
}

.good
{
    color: green;
}

.ok
{
    color: darkorange;
}

.refrow td
{
    border-bottom: 1px solid black;
}

.refrow table td
{
    border-bottom: 0px;
}

.refrow table
{
    width: 100%;
}

tr.refrow td.nopadding
{

    padding: 0px;
    margin: 0px;
}

/* References */

.refcount 
{ 
    color: white; 
    background: #8080ff;
    padding-left: 2px;
    padding-right: 2px;
}

.reference
{
    padding-left: 2em;
    margin-bottom: 3em;
}

.referencestart
{
    border-top: 1px solid #888;
    padding-top: 0.5em;
}

.referencebutton
{
    padding: 0.5em;
}

/* Admin overrides */

#user-tools 
{ 
    top: 1.4em;
    padding:0.2em 10px 1.2em 10px;
}

.actionnote {
    background-color: #ff8;
    padding: 0.3em;
}
