/******************* COLOURS *******************/
/* Include all borders here too */

body {
	background-color: black;
	color: white;
}

a:link {
	color: #00bb55;
}

a:visited {
	color: #ff7700;
}
a:hover {
	color: #00ff55;
}




/* Header */

#header
{
	background-image: url('http://cciw_django_local/media/images/header.png');
}

#headerlogo
{
	background-image: url('http://cciw_django_local/media/images/headerlogo.png');
}

#mainbase
{
	background-color: #282828;
}

#mainstandard #contentBody, #mainstandard #pageTitle, #mainstandard #sidebar
{
	background-color: #181818;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}


/* Sidebar styles */
#sidebar h1
{
	border-bottom: 1px solid #666666;
}

#sidebar a
{
	border-left: 2px solid #262626;
	border-right: 2px solid #262626;
}

#sidebar a.currentSection,
#sidebar a.currentPage
{
	background-color: #333333;
	border-left: 2px solid #505050;
	border-right: 2px solid #505050;
	color: #ffffff;
}

#sidebar a:hover
{
	background-color: #441100;
	border-left: 2px solid #662200;
	border-right: 2px solid #662200;
	color: white;
}

#footer
{
	background-image: url('http://cciw_django_local/media/images/headervline.png');
}


/* Content styles */

h2
{
	border-bottom: 2px solid #663300;
}

/* Tables */


table.sideheaders td,
table.simpleform td,
table.topheaders td
{
	background-color: #000000;
}

table.sideheaders th,
table.simpleform th,
table.topheaders th
{
	background-color: #383838;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders th,
table.topheaders td
{
	border: solid 1px #336633;
}
td div.postSubject
{
	border-bottom: 1px solid #336633;
}

span.sortingControl img
{
	border: 0px;
	border-bottom: 1px solid #808080;
}
span.sortingControl img.sortAscActive,
span.sortingControl img.sortDescActive
{
	border-bottom: 2px solid #00ff00;

}


div.userError
{
	border: 1px solid #cc0000;
	background-color: #330000;
}

div.awardInfo
{
	border-top: 1px solid #808080;
}

div.awardDescription
{
	border: 1px solid #808080;
}

div.breadcrumb
{
	border-bottom: 1px solid #114411;
}

div.bottombreadcrumb
{
	border-top: 1px solid #114411;
}

table.topheaders th.topicSubject
{
	background-color: transparent;
}

table.topheaders th.commentHeader
{
	background-color: transparent;
}

div.newsItem h2
{
	border: 0px;
	background-color: #441100;
}

.newsItemDetails
{
	border-bottom: 1px solid #441100;
	margin-bottom: 4px;
}


.postMessage blockquote
{
	border: 2px solid #206020;
	background-color: #203020;
	border-top: 1px solid #206020;
}
.postMessage .memberquote
{
	background-color: #203020;
	border: 2px solid #206020;
	border-bottom: 0px;
}

div.pollBarChartTotal
{
	width: 404px;
	border: 1px solid #114411;
	
}

div.pollBarChart
{
	height: 10px; background-color: white; margin: 2px;
}

.pollresults td
{
	vertical-align: top;
}

.messagePreview
{
	border: 1px solid #206020;
	background-color: #102010;
}


/************************** END COLOURS *******************/
/************* LAYOUT, SPACING, GENERAL STYLES ************/

body 
{
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-family: verdana, arial, sans;
}

a:link
{
	text-decoration: none;
}


a:visited
{
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6
{
	margin-top: 0;
	margin-bottom: 0.6em;
}

h1
{
	font-size: 1.5em;
}
#content h1
{
	text-shadow: 0px 0px 6px #00bb55;
}



h2
{
	font-size: 1.3em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}
/* Header and positioning */
#skiptocontentdiv
{
	display: none;
}
#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
	background-repeat: repeat-x;
}

#headerlogo
{
	background-repeat: no-repeat;
	margin-left: 5px;
	height: 72px;
}

/* base template only */
#mainbase
{
	position: absolute;
	left: 0px;
	top: 72px;
	margin: 0px 8px;
}

/* standard template */
#sidebarOuter
{
	position: absolute;
	left: 0px;
	top: 72px;
	width: 14em;
	z-index: 2;
}

#sidebar
{
	margin-left: 10px;
	margin-right: 10px;
}

#contentOuter
{
	position: absolute;
	left: 0px;
	top: 72px;
	width: 100%;
	z-index: 1;
}
#content
{
	margin-left: 14em;
	margin-right: 10px;
}

#mainbase #contentBody, #mainbase #pageTitle
{
	padding: 0 10px;
	margin: 0px;
}
#mainbase h1
{
	margin: 0;
	padding: 0;

}

#mainstandard #pageTitle
{
	margin-top: 0px;
	margin-bottom: 0px;
}
#mainstandard #pageTitle h1
{
	margin: 0;
	padding: 0.2em;
	text-align: center;
}

#mainstandard #contentBody
{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0 0.8em 0.8em 0.8em;
}

#mainstandard #editfooter
{
	padding: 0 5px;
}

/* Sidebar styles */
#sidebar h1
{
	font-size: 1.1em;
	text-align: center;
	padding: 2px;
	margin: 0;

}

#sidebar ul,
#sidebar li
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#sidebar a
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	display: block;
	text-decoration: none;
}

#footer
{
	position: absolute;
	top: 0px;
	text-align: right;
	font-size: 0.8em;
	right: 1em;
	padding-top: 5px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: top left;
	height: 70px;
}

#footer h1
{
	display:none;
}

#footer ul, #footer li
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Content styles */


/* Tables */

table.sideheaders,
table.simpleform,
table.topheaders
{
	border-collapse: collapse;
}
table.sideheaders,
table.topheaders
{
	width: 100%; /* TODO - IE 5.5 and below use width of page as 100% here */
}

table.sideheaders td,
table.topheaders td
{
	overflow: hidden;
}

table.sideheaders th,
table.simpleform th
{
	text-align: left;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders th,
table.topheaders td
{
	padding: 3px;
}

td div.postSubject
{
	font-style: italic;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: 2px;
	padding: 0px 4px;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders td
{
	vertical-align: top;
}

table.topheaders th
{
	white-space: nowrap;
}
}

ul.leaderlist
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.leaderlist li
{
	margin: 0 0 1em 0;
	padding: 0px;
}

div.paging 
{
	text-align: right;
	padding: 5px 0px 5px 0px;
	position: relative; /* IE bug */
}

span.sortingControl
{
	white-space: nowrap;
}

span.sortingControl img
{
	padding-bottom: 2px;
	vertical-align: middle;
}

div.sitephoto
{
	text-align: center;
}

div.formrow
{
	margin: 5px 0px;
}

div.formrow label
{
	display: block;
	float: left;
	width: 10em;
}

div.userError
{
	padding: 5px;
	text-align: left;
}

div.awardInfo
{
	padding: 8px;
}

img.award 
{
	vertical-align: top;
}

.awardname
{
	font-weight: bold;
}

div.awardDescription img
{
	vertical-align: middle;
	margin-right: 1em;
}
div.awardDescription
{
	margin: 1em 2em;
	padding: 5px;	
}

div.breadcrumb
{
	margin-bottom: 5px;
}

div.bottombreadcrumb
{
	margin-top: 1em;
}

/* Message boards */
span.postMemberIcon
{
	float: right;
}

th.postFromCol
{
	width: 15em;
}

th.topicStartedCol, th.topicLastPostCol, th.photoDateAddedCol, th.photoLastPostCol
{
	width: 10.5em;
}

table.topheaders th.topicSubject
{
	background-color: transparent;
}

table.topheaders th.commentHeader
{
	text-align: left;
	background-color: transparent;
}

td.topicLink
{
	vertical-align: middle;
}

th.topicSubject h2
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1.1em;
	font-style: italic;
}

td.postMessage p
{
	margin-top: 0px;
	margin-bottom: 1em;
}

div.newsItem h2
{
	padding: 0px 4px;
	margin: 1em -5px 0px -5px;

}

div.center
{
	text-align: center;
}

.photo, .photoCol
{
	text-align: center;
}

.postMessage blockquote
{
	padding: 0.5em 1em ;
	margin: 0 1em 0.5em 1em;
}

.postMessage .memberquote
{
	padding: 0px 2px;
	margin: 0.5em 1em 0 1em;
	font-style: italic;
}

.messagePreview
{
	padding: 0.5em 1em ;
	margin: 0 1em 0.5em 1em;
}

.editChunkLink
{
	font-size: 80%;
	text-align: right;
}
