/*********** Colours ************/
/* Include all borders here too */

body {
	background-color: white;
	color: black;
}

a:link {
	color: #008000;
}

a:visited {
	color: #aa3300;
}
a:hover {
	color: #00aa00;
}




/* Header */

#header
{
	background-image: url('http://cciw_django_local/media/images/header_inv.png');
}

#headerlogo
{
	background-image: url('http://cciw_django_local/media/images/headerlogo_inv.png');
}

#mainbase
{
	background-color: #d8d8d8;
}

#mainstandard #contentBody, #mainstandard #pageTitle, #mainstandard #sidebar
{
	background-color: #e8e8e8;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}


/* Sidebar styles */
#sidebar h1
{
	border-bottom: 1px solid #aaaaaa;
}

#sidebar a
{
	border-left: 2px solid #d8d8d8;
	border-right: 2px solid #d8d8d8;
}

#sidebar a.currentSection,
#sidebar a.currentPage
{
	background-color: #cccccc;
	border-left: 2px solid #b0b0b0;
	border-right: 2px solid #b0b0b0;
	color: #000000;
}

#sidebar a:hover
{
	background-color: #cc8866;
	border-left: 2px solid #996644;
	border-right: 2px solid #996644;
	color: black;
}

#sidebar a.currentSection:hover,
#sidebar a.currentPage:hover
{
	background-color: #cc8866;
	border-left: 2px solid #996644;
	border-right: 2px solid #996644;
}

#footer
{
	background-image: url('http://cciw_django_local/media/images/headervline_inv.png');
}


/* Content styles */

h2
{
	border-bottom: 2px solid #cc8866;
}

/* Tables */


table.sideheaders td,
table.topheaders td
{
	background-color: #ffffff;
}

table.sideheaders th,
table.topheaders th
{
	background-color: #c8c8c8;
}

table.sideheaders th,
table.sideheaders td,
table.topheaders th,
table.topheaders td
{
	border: solid 1px #336633;
}
td div.postSubject
{
	border-bottom: 1px solid #336633;
}

span.sortingControl img
{
	border: 0px;
	border-bottom: 1px solid #808080;
}
span.sortingControl img.sortAscActive,
span.sortingControl img.sortDescActive
{
	border-bottom: 2px solid #008000;

}


div.userError
{
	border: 1px solid #cc0000;
	background-color: #ffcccc;
}

div.awardInfo
{
	border-top: 1px solid #808080;
}

div.awardDescription
{
	border: 1px solid #808080;
}

div.breadcrumb
{
	border-bottom: 1px solid #114411;
}

div.bottombreadcrumb
{
	border-top: 1px solid #114411;
}

table.topheaders th.topicSubject
{
	background-color: transparent;
}

table.topheaders th.commentHeader
{
	background-color: transparent;
}

div.newsItem h2
{
	border: 0px;
	background-color: #cc8866;
}


.postMessage blockquote
{
	border: 2px solid #206020;
	background-color: #203020;
	border-top: 1px solid #206020;
}
.postMessage .memberquote
{
	background-color: #203020;
	border: 2px solid #206020;
	border-bottom: 0px;
}



/************* Layout, spacing, general styles ************/

body {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-family: verdana, arial, sans;
	/* TODO IE 5.5 and above have v large font as default, need to shrink selectively */
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6
{
	margin-top: 0;
	margin-bottom: 0.6em;
}


/* Header and positioning */

#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
	background-repeat: repeat-x;
}

#headerlogo
{
	background-repeat: no-repeat;
	margin-left: 5px;
	height: 72px;
}

/* base template only */
#mainbase
{
	position: absolute;
	left: 0px;
	top: 72px;
	margin: 0px 8px;
}

/* standard template */
#sidebarOuter
{
	position: absolute;
	left: 0px;
	top: 72px;
	width: 14em;
	z-index: 2;
}

#sidebar
{
	margin-left: 10px;
	margin-right: 10px;
}

#contentOuter
{
	position: absolute;
	left: 0px;
	top: 72px;
	width: 100%;
	z-index: 1;
}
#content
{
	margin-left: 14em;
	margin-right: 10px;
}

#mainbase #contentBody, #mainbase #pageTitle
{
	padding: 0 10px;
	margin: 0px;
}
#mainbase h1
{
	margin: 0;
	padding: 0;

}


#mainstandard #pageTitle
{
	margin-top: 0px;
	margin-bottom: 0px;
}
#mainstandard #pageTitle h1
{
	margin: 0;
	padding: 0.2em;
	text-align: center;
}

#mainstandard #contentBody
{
	margin-top: 1em;
	padding: 0.8em;
	padding-top: 0em;
}
/* Sidebar styles */
#sidebar h1
{
	font-size: 1.1em;
	text-align: center;
	padding: 2px;
	margin: 0;

}

#sidebar ul,
#sidebar li
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#sidebar a
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	display: block;
	text-decoration: none;
}

#footer
{
	position: absolute;
	top: 0px;
	text-align: right;
	font-size: 0.8em;
	right: 1em;
	padding-top: 5px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: top left;
	height: 70px;
}
#footer h1{
	display:none;
}
#footer ul, #footer li
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Content styles */


/* Tables */

table.sideheaders,
table.topheaders
{
	border-collapse: collapse;
	width: 100%; /* TODO - IE 5.5 and below use width of page as 100% here */
}

table.sideheaders td,
table.topheaders td
{
	overflow: hidden;
}

table.sideheaders th
{
	text-align: left;
}


table.sideheaders th,
table.sideheaders td,
table.topheaders th,
table.topheaders td
{
	padding: 3px;
}
td div.postSubject
{
	font-style: italic;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: 2px;
	padding: 0px 4px;
}
table.sideheaders th,
table.sideheaders td,
table.topheaders td
{
	vertical-align: top;
}

table.topheaders th
{
	white-space: nowrap;
}
}

ul.leaderlist
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.leaderlist li
{
	margin: 0 0 1em 0;
	padding: 0px;
}

div.paging {
	text-align: right;
	padding: 5px 0px 5px 0px;
	position: relative; /* IE bug */
}

span.sortingControl
{
	white-space: nowrap;
}

span.sortingControl img
{
	padding-bottom: 2px;
	vertical-align: middle;
}

div.sitephoto
{
	text-align: center;
}

div.formrow
{
	margin: 5px 0px;
}

div.formrow label
{
	display: block;
	float: left;
	width: 10em;
}

div.userError
{
	padding: 5px;
	text-align: center;
}

div.awardInfo
{
	padding: 8px;
}

img.award 
{
	vertical-align: top;
}

.awardname
{
	font-weight: bold;
}

div.awardDescription img
{
	vertical-align: middle;
	margin-right: 1em;
}
div.awardDescription
{
	margin: 1em 2em;
	padding: 5px;	
}

div.breadcrumb
{
	margin-bottom: 5px;
}

div.bottombreadcrumb
{
	margin-top: 1em;
}

/* Message boards */
span.postMemberIcon
{
	float: right;
}

th.postFromCol
{
	width: 15em;
}

th.topicStartedCol, th.topicLastPostCol, th.photoDateAddedCol, th.photoLastPostCol
{
	width: 10.5em;
}

table.topheaders th.topicSubject
{
	background-color: transparent;
}

table.topheaders th.commentHeader
{
	text-align: left;
	background-color: transparent;
}

td.topicLink
{
	vertical-align: middle;
}

th.topicSubject h2
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1.1em;
	font-style: italic;
}

td.postMessage p
{
	margin-top: 0px;
	margin-bottom: 1em;
}

div.newsItem h2
{
	padding: 0px 4px;
	margin: 1em -5px 0px -5px;

}

div.center
{
	text-align: center;
}

.photo, .photoCol
{
	text-align: center;
}

.postMessage blockquote
{
	padding: 0.5em 1em ;
	margin: 0 1em 0.5em 1em;
}
.postMessage .memberquote
{
	padding: 0px 2px;
	margin: 0.5em 1em 0 1em;
	font-style: italic;
}
