.currentofficers {
    form {
        display: inline;
    }
    input:not(:focus):invalid {
        border-color: red;
    }
}

.chooseofficers__tablewrapper {
    height: 18em;
    resize: both;
    max-width: fit-content;
    overflow-y: auto;
    thead tr {
        position: sticky;
        top: 0;
    }
    margin-top: 1em;
    margin-bottom: 1em;

}

.chooseofficers__officer--previous {
    font-weight: bold;
}

.chooseofficers, .newofficers {
    margin-top: 1em;
    margin-bottom: 1em;

    > details > summary  {
        font-size: 16px;
    }
}


th.rightbreak, td.rightbreak {
    border-right: 1px solid #888;
}
