{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{{ title }} | Django site admin{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}adminextra.css" />
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/cciwutils.js"></script>
<script type="text/javascript">
<!--
(function($) {
   $(document).ready(cciw.externalLinks);
})(jQuery);
//-->
</script>

{% endblock %}
{% block branding %}
<div id="header2">
	<div id="headerlogo">
	  <div id="helplink"><a href="mailto:webmaster@cciw.co.uk">Help</a></div>
	</div>
</div>
{% endblock %}
{% block userlinks %}<a href="/officers/">Officer homepage</a> / <a href="/admin/password_change/">{% trans 'Change password' %}</a> / <a href="/admin/logout/">{% trans 'Log out' %}</a>{% endblock %}

{% block nav-global %}{% endblock %}
