{% extends "cciw/standard.html" %}
{% load standardpage %}
{% load view_extras %}
{% block content %}

{% if go_to %}
<p>Go to <a href="{{ go_to_href }}">{{ go_to }}</a></p>
{% endif %}

<h2>Search</h2>
<div>
	<form method='get' action='/tag_search/'>
		<p>Enter tags to search for:</p>
		<p>
		<label>Text: 
		<input type='text' name='search' id='search' value="{{ text|escape }}" /></label>
<input type="submit" name="go" value="Go" />
		</p>
	</form>
</div>

<h2>Results</h2>
{% if object_list %}
	<table class="tagtargets">
		<tr>
			<th scope="col">Item</th>
			<th scope="col">Count</th>
		</tr>
		{% for tagtarget in object_list %}
		<tr>
			<td><span class="tagtitle">{{ tagtarget.render }}</span></td>
			<td><a class="tagcount" href="/tag_targets/{{ tagtarget.target_ct.name }}/{{ tagtarget.target_id }}/" title="Details">x{{ tagtarget.count }}</a></td>
		</tr>
		{% endfor %}
	</table>
	<div class="paging">
	{% paging_control %}</div>
{% else %}
	<p>Nothing found.</p>

{% endif %}

{% endblock %}