{% extends "cciw/standard" %}
{% load view_extras %}
{% load standardpage %}
{% load forums %}
{% block content %}
{% if object_list %}
	<form action="" method="post" >
	<div class="paging">{% paging_control %}</div>
	<table class="topheaders">
		<tr>
			<th scope="col" class="postFromCol">From</th>
			<th scope="col">Message</th>
			<th scope="col">Select</th>
		</tr>
		{% for message in object_list %}
		<tr>
			<td class="postFrom">
				<span class="postMemberIcon">{{ message.from_member.icon_image }}</span>
				{% memberlink %}{{ message.from_member_id }}{% endmemberlink %}<br/>
				<span class="postDate">{% if message.time %}{{ message.time|date:"d M y, h:i" }}{% endif %}</span><br/>
				<a href="/members/{{ message.from_member_id }}/messages/" title="Reply to {{ messge.from_member_id }}">&raquo; reply</a>
			</td>
			<td class="postMessage">{{ message.text|bb2html }}</td>
			<td style="text-align: center;"><input type="checkbox" name="msg_{{ message.id }}" /></td>
		</tr>
		{% endfor %}
	</table>
	<div class="paging">{% paging_control %}</div>
	<div>Action for selected messages:
	{% if show_delete_button %}<input type="submit" name="delete" value="Delete"/>{% endif %}
	{% if show_archive_button %}<input type="submit" name="archive" value="Archive"/>{% endif %}
	{% if show_move_inbox_button %}<input type="submit" name="inbox" value="Move to inbox"/>{% endif %}
	</div>

	</form>
{% else %}
	<p>No messages found.</p>

{% endif %}
{% endblock %}
