@import "utilities.scss";


// Admin re-theme

:root {
    --primary: #1e913b;
    --secondary: #065a1b;
    --breadcrumbs-fg: #cce8c4;
    --breadcrumbs-bg: var(--primary);
    --link-fg: #3b8439;
    --link-hover-color: #0d6600;
    --link-selected-fg: #0d5902;
    --button-bg: var(--primary);
    --button-hover-bg: #6bb660;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #226720;
}

/* Additional */


button {
    // Style the same an input[type=submit] in admin styles
    background: var(--button-bg);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}


#container
{
    min-width: 700px;
}

a:hover {
    text-decoration: underline;
}

#helplink
{
    font-size: 11px;
    text-align: right;
    padding: 2px 10px;
}

@mixin compact-button-styles {
    padding: 3px 6px;
}

@mixin compact-buttons {
    input[type=submit], button {
        @include compact-button-styles;
    }
}

input[type=submit].button--compact {
    @include compact-button-styles;
}


.hidden
{
    display: none;
}

.good
{
    color: green;
}

.ok
{
    color: darkorange;
}


a[target=_blank] {
    &::after {
        content: " ";
        display: inline-block;
        width: 14px;
        height: 12px;
        margin-left: 3px;
        background: url('/static/images/newwindow.png') no-repeat;
    }
}

.validation-warning {
    color: #04f;
    margin-left: 5px;
    padding: 4px;
}





/* Manage references */

.manage-reference-list {
    @include compact-buttons;
}
.refcount
{
    color: white;
    background: #8080ff;
    padding-left: 2px;
    padding-right: 2px;
}

.reference
{
    padding-left: 2em;
    margin-bottom: 3em;
}

.manage-reference {
    padding: 0.5em 1em;

    li button {
        margin-left: 0.5em;
    }

    li {
        font-size: inherit;
    }
}

.manage-reference-list {
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
}

.manage-reference + .manage-reference {
    border-top: 1px solid #888;
}

.manage-reference--notrequested {
    background-color: #f8f8f8;
}

.manage-reference--requested {
    background-color: #fff8d0;
}
.manage-reference--received {
    background-color: #f0fff0;
}

.manage-reference__action-table {
    margin: 0.5em 0.5em 0 0;
    .layout-tr:nth-child(2n+1) .layout-td {
        background-color: #fff8;
    }
    > .layout-tr > .layout-td {
        padding-right: 0.5em;
    }
    .layout-tr {
        .layout-td {
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
        }
    }
    .layout-tr + .layout-tr {
        .layout-td {
            border-top: 0;
        }
    }

    .layout-td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &:first-child {
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
    }
}

.reference-field-name {
    font-style: italic;
    font-weight: bold;
    color: #555;
}

p.reference-field-value,
div.application-statement {
    margin-left: 1em;
    border: 1px solid #888;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
    min-height: 1.3em;
}

tr.reference-header {
    td {
        border-bottom: 1px solid #ccc;
    }
    h3 {
        color: #000;
    }
}

tr.reference-list {
    td {
        width: 50%;
        padding: 5px 15px;
        border: 1px solid #ccc;
    }
}

/* Create reference, create visitor log */


// Quick and dirty fixes to make the forms work nicely on small screens

.standalone-form-submission-page {
    .main > .content {
        max-width: 62em;
    }
    #container > .main {
        justify-content: center;
    }
    #header {
        justify-content: center;
    }

    form {
        p > input:not([type=checkbox]), textarea {
            display: block;
        }
        p > select {
            display: block;
            max-width: 90vw;
        }
        input[type=checkbox] + span.helptext {
            display: block;
        }
        textarea {
            width: 55em;
            max-width: 90vw;
        }
        label, span.helptext {
            max-width: 60em;
            display: inline-block;
        }
        ul.radiolist li {
            list-style-type: none;
        }
    }
}

/* Admin overrides */


.actionnote {
    background-color: #ff8;
    padding: 0.3em;
}


form .wide .description p {
    // Override a rule for "form .wide p" which is bad for 'description' area:
    margin-left: 0px;
}

form .aligned.confirmation ul {
    margin-left: 10px;

    li {
        list-style: disc;
    }
}

.bookingProblems {
    padding: 1em;
    margin: 1em;
    border: 1px solid red;
}

.bookingProblems li {
    font-size: 120%;
}

// Dialogs

dialog.large {
    // Override some builtins that limit us:
    max-height: 100vh;
    max-width: 100vw;

    // Positioning
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 20px);
    top: 20px;  // bottom
    left: 0px;
    position: fixed;
    margin: 0;

    // Styling
    border: 0;
    border-top: 2px solid #888;
    padding: 20px;

    // Fade in:
    display: flex;  // for some reason, display: block disables the transition.
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; // necessary or the main page becomes inaccessible after closing dialog
    &[open] {
        opacity: 1;
        pointer-events: inherit;
    }
}

dialog::backdrop {
    background-color: #0008;
}

form.dialog-close-form {
    float: right;
    button.dialog-close {
        @include compact-button-styles;
        color: inherit;
        background-color: inherit;
        border: 1px solid #888;
        border-radius: 5px;
    }
}

// DBS page

#id_dbs_officer_table {
    @include compact-buttons;

    .address {
        background-color: #f8f8f8;
        padding: 2px;
        border: 1px solid #d0d0d0;
    }
    .layout-table.actions {
        .layout-td {
            padding: 2px;
            vertical-align: top;
        }
        .layout-tr:first-child .layout-td {
            padding-top: 0px;
        }
    }
}

// Officer list

#id_available_officers {
    height: 30em;
    overflow: scroll;
    img {
        vertical-align: middle;
        cursor: pointer;
    }
    & > div {
        padding: 5px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        &.previous-camp-officer {
            background-color: #dde;
        }
    }
}

#id_currentofficers {
    @include compact-buttons;
}

.requires_action, tr.requires_action {
    background-color: #f9dddd;
}

table.data th,
table.data td {
    border: 1px solid #ddd;
}

table.data th {
    text-align: center;
    vertical-align: middle;
    background-color: #f8f8f8;
}

details summary {
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
}


// HTMX

.htmx-request {
    opacity: 50%;
}


// data erasure requests
.data-erasure-report {
    padding: 1em;
    border: 1px solid #888;
}
