
/* Additional */

#container
{
    min-width: 700px;
}

#header2
{
	background-image: url('/static/images/header.png');
}

#headerlogo
{
	background-image: url('/static/images/headerlogo.png');
}
#header2
{
	height: 72px;
	background-repeat: repeat-x;
}

#headerlogo
{
	background-repeat: no-repeat;
	margin-left: 0px;
	height: 72px;
}

#header	{
        background:black;
        color:white;
        min-height:2.4em;
        overflow:auto;
}
#header a:link, #header a:visited {
        color: #ff8900;
}
#header a:hover {
        color: #ffa640;
        text-decoration: underline;
}

#helplink
{
    font-size: 11px;
    text-align: right;
    padding: 2px 10px;
}

#id_officer_list_table button {
    cursor: pointer;
    padding: 0px 2px;
}


.hidden
{
    display: none;
}

.good
{
    color: green;
}

.ok
{
    color: darkorange;
}

.refrow td
{
    border-bottom: 1px solid black;
}

.refrow table td
{
    border-bottom: 0px;
}

.refrow table
{
    width: 100%;
}

tr.refrow td.nopadding
{

    padding: 0px;
    margin: 0px;
}


a[target=_blank] {
    &::after {
        content: " ";
        display: inline-block;
        width: 14px;
        height: 12px;
        margin-left: 3px;
        background: url('/static/images/newwindow.png') no-repeat;
    }
}

.validation-warning {
    color: #04f;
    margin-left: 5px;
    background-color: #E0E0E0;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #04f;
}


/* References */

.refcount
{
    color: white;
    background: #8080ff;
    padding-left: 2px;
    padding-right: 2px;
}

.reference
{
    padding-left: 2em;
    margin-bottom: 3em;
}

.referencesection
{
    border-top: 1px solid #888;
    padding-left: 1em;
    padding-right: 1em;
    clear: both;
}


#notrequestedrefs
{
    background-color: #f8f8f8;
}

#requestedrefs
{
    background-color: #fff8d0;
}
#receivedrefs
{
    background-color: #f0fff0;
}

#notrequestedrefs,
#requestedrefs,
#receivedrefs
{
    border-bottom: 1px solid #888;
}


.referencebutton
{
    padding: 0.5em;
}

.referenceactions {
    float: right;
    width: 40em;
    max-width: 40%;
}

.reference-field-name {
    font-style: italic;
    font-weight: bold;
    color: #555;
}

p.reference-field-value {
    margin-left: 1em;
    border: 1px solid #888;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
    min-height: 1.3em;
}

tr.reference-header {
    td {
        border-bottom: 1px solid #ccc;
    }
    h3 {
        color: #000;
    }
}

tr.reference-list {
    td {
        width: 50%;
        padding: 5px 15px;
        border: 1px solid #ccc;
    }
}

/* Admin overrides */

body, ul, li, td, th {
    font-size: 13px;
    line-height: 18px;
}

.mini {
    font-size: 10px;
    line-height: 12px;
}

.help, p.help {
    font-size: 12px !important;
}

input, textarea, select, .form-row p, form .button {
    font-size: 13px;
}

#user-tools {
    top: 1.4em;
    right: 0;
    padding:0.2em 10px 1.2em 10px;
    position: absolute;
}

.actionnote {
    background-color: #ff8;
    padding: 0.3em;
}

#branding {
    float: none;
}

/* Popups */

.inlinepopup {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 2;
    background-color: white;
    color: black;
}

.inlinepopup .closebar {
    padding: 3px;
    background-color: black;
    color: white;
    text-align: right;
}

.inlinepopup .closebar a {
    color: white;
}

.inlinepopup_background {
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    z-index:1;
    opacity: 0.7;
}

/* Autocomplete */
/* Need to override something set in admin CSS */
ul.ui-autocomplete li {
    list-style: none;
}

.bookingProblems {
    padding: 1em;
    margin: 1em;
    border: 1px solid red;
}

.bookingProblems li {
    font-size: 120%;
}


/* Internet Explorer message */
#ie-message {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 5px;
}

#id_officer_table .address {
    background-color: #f8f8f8;
    padding: 2px;
    border: 1px solid #d0d0d0;
}

.actionable {
    background-color: #ffd0d0;
}

table.data th,
table.data td {
    border: 1px solid #ddd;
}

table.data th {
    text-align: center;
    vertical-align: middle;
    background-color: #f8f8f8;
}

@import "tabber.less";
