@import "variables.scss";

#id_use_existing_data_popup {
    max-width: 50em;
}

#id_use_existing_data_popup table {
    width: 100%;
}

#id_use_existing_radio_container label {
    display: block;
    margin-bottom: 1.4em;
}

.placeAvailability {
    color: $textLighterColor;
}
