/******************* COLOURS *******************/
/*
Primary Color:
00B64F	22884F	007633	(37DA7E) BACB97

Secondary Color A:
FF8900	BF7D30	A65900	FFA640	FFBE73

*/

/* Include all borders here too */

body {
    background-color: #f8f8f8;
    color: black;
    font-size: small;
}

a img, a {
    border-width: 0px;
}

a:link {
    color: #007633;
    font-weight: bold;
}

a:visited {
    color: #22884f;
    font-weight: bold;
}
a:hover {
    font-weight: bold;
    color: #00b64f;
    text-decoration: underline;
}


/* Header */

#header
{
    background-image: url('/static/images/header.png');
}

#headerlogo
{
    background-image: url('/static/images/headerlogo.png');
}

#header a:link {
    color: #ff8900;
    font-weight: normal;
}

#header a:visited {
    color: #ff8900;
}
#header a:hover {
    color: #ffa640;
    text-decoration: underline;
}

/* Main body */

#mainstandard #contentBody, #mainstandard #pageTitle
{
    background-color: white;
    border-bottom: 2px solid #007633;
    border-top: 2px solid #007633;
    margin-top: 0px;
}

#mainstandard #contentBody
{
    background-image: url('/static/images/contentbg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* menubar */

#menubar {
    font-weight: bold;
    padding: 3px 0 3px 0; /* equals padding on #menubar a */
}
#menubar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menubar ul li {
    display: inline;
}
#menubar ul li a {
    text-decoration: none;
    padding: 3px 10px;
    color: #000;
    background-color: #ddd;
    line-height:1.3em;
    margin: 0px 1px 0px 0px;
}
#menubar ul li a:hover {
    color:#fff;
    background-color:#bacb97;
}
#menubar ul li a.active,
#menubar ul li a.active:hover {
   color:#fff;
   background:#007633;
}


/* Content styles */

h2
{
    border-bottom: 2px solid #a65900;
}


/* Tables */


table.sideheaders th,
table.simpleform th,
table.topheaders th
{
    background-color: #bacb97;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders th,
table.topheaders td
{
    border: solid 1px #336633;
}

td div.postSubject
{
    border-bottom: 1px solid #336633;
}

/* Sorting control */
span.sortingControl img
{
    border-width: 0px;
    border-bottom: 1px solid #808080;
}
span.sortingControl img.sortAscActive,
span.sortingControl img.sortDescActive
{
    border-bottom: 2px solid #008000;

}

div.userError,
div.validationErrorTop,
div.validationErrorBottom {
    background-color: #ffbe73;
}

div.userError
{
    border-top: 1px solid #ff8900;
    border-bottom: 1px solid #ff8900;
}

div.validationErrorTop
{
    border-top: 1px solid #ff8900;
}
div.validationErrorBottom
{
    border-bottom: 1px solid #ff8900;
}

.successMessage
{
    border: 1px solid #007633;
    background-color: #bacb97;
}

div.awardInfo
{
    border-top: 1px solid #808080;
}

div.awardDescription
{
    border: 1px solid #808080;
}

div.breadcrumb
{
    border-bottom: 1px solid #007633;
}

div.bottombreadcrumb
{
    border-top: 1px solid #007633;
}

table.topheaders th.topicSubject
{
    background-color: transparent;
}

table.topheaders th.commentHeader
{
    background-color: transparent;
}

/* News */
div.newsItem h2
{
    border: 0px;
    color: white;
    background-color: #007633;
}

.newsItemDetails
{
    border-bottom: 1px solid #007633;
    margin-bottom: 4px;
}

/* Posts */
.postMessage blockquote
{
    border-left: 2px solid #00b64f;
    background-color: #bacb97;
}
.postMessage .memberquote
{
    border-bottom: 0px;
}

table.topheaders tr.selected td
{
    background-color: #f8fff8;
}

.messagePreview
{
    border: 1px solid #00b64f;
    background-color: #f8fff8;
}

.individualPost .postMessage
{
    border: 1px solid #00b64f;
    padding: 4px;
    background-color: #f8fff8;
}
/* Polls */

div.pollBarChartTotal
{
    width: 304px;
    border: 1px solid #114411;
}

div.pollBarChart
{
    height: 10px; background-color: black; margin: 2px;
}

.pollresults td
{
    vertical-align: top;
}

div.bottomlinks, div.bottomlinks a:link, div.bottomlinks a:visited
{
    color: #a0a0a0;
}
div.bottomlinks a:hover
{
    color: #c0c0c0;
}

/************************** END COLOURS *******************/


/************* LAYOUT, SPACING, GENERAL STYLES ************/

body
{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: verdana, arial, sans;
}

a:link, a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

pre
{
    margin-top: 0px;
}


h1, h2, h3, h4, h5, h6
{
    font-family: Amaranth, Tahoma;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.6em;
}

h1
{
    font-size: 1.5em;
}

h2
{
    font-size: 1.3em;

}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

p
{
    margin-top: 2px;
    margin-bottom: 1em;
}

/* Header and positioning */
#skiptocontentdiv
{
    display: none;
}
#header
{
    height: 72px;
    background-repeat: repeat-x;
    color: white;
}

#headerlogo
{
    background-repeat: no-repeat;
    margin-left: 0px;
    height: 72px;
}

/* base template only */
#mainbase h1
{
    margin: 0;
    padding: 0;

}

#mainbase #contentBody
{
    padding: 0px 10px;
    margin: 0px;
}

/* standard template */
#menubarOuter {
    margin-top: 10px;
}


#mainstandard, #header.mainstandard #headerlogo
{
    max-width: 60em;
    margin: auto;
}


#mainstandard #pageTitle
{
    margin-top: 0px;
    margin-bottom: 0px;
}
#mainstandard #pageTitle h1
{
    margin: 0;
    padding: 0.3em 0 0.3em 0;
    text-align: center;
}

#mainstandard #contentBody
{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em 0.8em 32px 0.8em;
}

#mainstandard #editfooter
{
    padding: 0 5px;
}

/* Quicklinks */
#quicklinks
{
    text-align: right;
    width: 400px;
    float: right;
    margin: 4px 8px 4px 8px;
    height: 64px;
}

#quicklinks li {
    font-size: 0.8em;
}

#quicklinks ul, #quicklinks li
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


/* Content styles */


/* Tables */

table.sideheaders,
table.simpleform,
table.topheaders
{
    border-collapse: collapse;
}
table.sideheaders,
table.topheaders
{
    width: 100%;
}

table.sideheaders td,
table.topheaders td
{
    overflow: hidden;
}

table.sideheaders th,
table.simpleform th
{
    text-align: left;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders th,
table.topheaders td
{
    padding: 3px;
}


td div.postSubject
{
    font-style: italic;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 2px;
    padding: 0px 4px;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders td
{
    vertical-align: top;
}

table.topheaders th
{
    white-space: nowrap;
}

ul.leaderlist
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.leaderlist li
{
    margin: 0 0 1em 0;
    padding: 0px;
}

div.paging
{
    text-align: right;
    padding: 5px 0px 5px 0px;
    position: relative; /* IE bug */
}

span.sortingControl
{
    white-space: nowrap;
}

span.sortingControl img
{
    padding-bottom: 2px;
    vertical-align: middle;
}

div.sitephoto
{
    text-align: center;
}

/*** FORMS ***/

div.formrow
{
    clear: both;
    margin: 0px 0px 4px 0px;
    padding: 0px 6px 2px 6px;
}

/* LHS of form */
div.formrow label
{
    display: block;
    float: left;
    width: 16em;
}

/* RHS of form */
div.formrow ul,
div.formrow ul li
{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

div.formrow ul
{
    margin-left: 16em;
}

div.formrow ul label
{
    // Override what we set before under div.formrow label
    float: none;
    width: auto;
}

div.userError
{
    padding: 5px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

ul.errorlist
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

div.awardInfo
{
    padding: 8px;
}

img.award
{
    vertical-align: top;
}

.awardname
{
    font-weight: bold;
}

div.awardDescription img
{
    vertical-align: middle;
    margin-right: 1em;
}
div.awardDescription
{
    margin: 1em 2em;
    padding: 5px;
}

div.breadcrumb
{
    margin-bottom: 5px;
}

div.bottombreadcrumb
{
    margin-top: 1em;
}

/* Message boards */
span.postMemberIcon
{
    float: right;
}

.editTopic
{
    float: right;
}
.editPost img
{
    border: 0px;
}
.postHiddenMsg, .topicHidden
{
    font-weight: bold;
    color: red;
}

th.postFromCol
{
    width: 15em;
}

th.topicStartedCol, th.topicLastPostCol, th.photoDateAddedCol, th.photoLastPostCol
{
    width: 10.5em;
}

table.topheaders th.topicSubject
{
    background-color: transparent;
}

table.topheaders th.commentHeader
{
    text-align: left;
    background-color: transparent;
}

td.topicLink
{
    vertical-align: middle;
}

td.topicLink h2
{
    border: 0px;
}

th.topicSubject h2
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1.1em;
    font-style: italic;
}

td.postMessage p
{
    margin-top: 0px;
    margin-bottom: 1em;
}

div.newsItem h2
{
    padding: 0px 4px;
    margin: 1em -5px 0px -5px;

}

div.center
{
    text-align: center;
}

.photo, .photoCol
{
    text-align: center;
}

.postMessage blockquote
{
    padding: 0.2em 1em ;
    margin: 0.1em 1em 0.5em 1em;
}

.postMessage .memberquote
{
    padding: 0px 2px;
    margin: 0.5em 1em 0 0em;
}

.messagePreview
{
    padding: 0.5em 1em ;
    margin: 0em 1em 0.5em 1em;
}

.successMessage
{
    padding: 5px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.editChunkLink
{
    font-size: 80%;
    text-align: right;
}

/* 'Recent posts' page */
.individualPost
{
    margin-bottom: 1em;
    margin-left: 1em;
}

.individualPost .postHeader h2
{
    margin-bottom: 0;
    margin-left: -1em;
}

.individualPost .postHeader
{
    margin-bottom: 0em;
}
.individualPost .postMessage
{
    margin-left: 1px;
    padding-left: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.readmore
{
    font-style: italic;
}


.verse-num
{
    vertical-align: super;
    font-size: smaller;
}
.chapter-num
{
    font-size: larger;
    font-weight: bold;
}

.note
{
    font-size: 85%;
}

a.button, a.button img
{
    border-width: 0px;
}
a.button img
{
    vertical-align: bottom;
    border-width: 0px;
}

#esvblock
{
    padding-bottom: 1em;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
}

div.bottomlinks
{
    text-align: right;
    padding-bottom: 4px;
    font-size: 80%;
}
div.bottomlinks img
{
    vertical-align: top;
}


/* Internet Explorer message */
#ie-message {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 5px;
}
