/******************* COLOURS *******************/
/*
  Primary Color:
  007633 22884F		(37DA7E) BACB97


Secondary Color A:
A65900

*/

/* Include all borders here too */


@import "elements.less";
@import "mixins.less";


@lineHeight: 24px;

body {
    background: #f0f0f0 url("/static/images/subtle_white_feathers.png") repeat scroll 0% 0%;
    color: black;
    font-size: 15px;
    line-height: @lineHeight;
}

a img, a {
    border-width: 0px;
}

a:link {
    color: @primaryColor;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #22884f;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

//

// Colour defs

@primaryColor: #007633;
@primaryColorLighter: #BACB97;

@secondaryColor: #A65900;


@headerColor: #444;

@pageTitleColor: @primaryColor;


// Page elements

#pagewrapper, footer
{
    max-width: 750px;
    margin: auto;
}

footer {
    margin-top: 10px;
}

#pagewrapper {
    background-color: @headerColor;
    box-shadow: 2px 0px 6px #000, -2px 0px 6px #888;
}

#pageTitle
{
    color: white;
    background-color: @pageTitleColor;
    border-bottom: 2px solid darken(@pageTitleColor, 5%);
    h1 {
        margin: 0;
        padding: 0.6em 0 0.3em 0;
        text-align: center;
    }
}

@contentPadding: 16px;

#contentInner
{
    padding: 10px @contentPadding 32px @contentPadding;
}


#skiptocontentdiv
{
    display: none;
}


/* Header */

@headerHeight: 72px;

#header
{
    color: white;
    box-shadow: inset 0px -3px 8px -3px #000,
                0px 2px 4px -2px #888;

    // Include floats:
    &:after {
          clear: both;
          display: block;
          height: 0;
          overflow: hidden;
          visibility: hidden;
          content: ".";
          font-size: 0;
    }
}

#headerlogo
{
    background-image: url('/static/images/headerlogo.png');
    background-repeat: no-repeat;
    margin-left: 0px;
    float: left;
}

#headerlogo, #headerlogo a {
    height: @headerHeight;
    width: 200px;
    display: block;
}

/* Main body */

@contentBackgroundColor: white;

#content
{
    background-color: @contentBackgroundColor;
    border-bottom: 2px solid @primaryColor;
    // Additional shadow to pagewrapper, as this bit is 'higher'.
    // Make sure it doesn't go up over header though.
    box-shadow: 2px 3px 4px #888, -1px 3px 4px #888;
}

#contentBody
{
    background-image: url('/static/images/contentbg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* menubar */

@menubarLineHeight: @lineHeight;

@menubarPaddingHeight: 3px;
@menubarBorderHeight: 1px;

#menubarSpacer {
    height: @headerHeight - (@menubarLineHeight + 2 * @menubarPaddingHeight + @menubarBorderHeight);
    width: 100px;
}

// menubar unselected wants to look about same as @primaryColorLighter, but due
// to contrast from dark background in header we have to darken and destaturate it
@menubarUnselectedColor: #90ab70;

#menubar {
    float: right;

    font-weight: bold;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;

        li {
            display: inline-block;
            z-index: 0;

            a {
                line-height: @menubarLineHeight;
                text-decoration: none;
                padding: @menubarPaddingHeight 10px;
                color: white;
                background-color: @menubarUnselectedColor;
                margin: 0px 1px 0px 1px;
                display: inline-block;
                border-bottom: @menubarBorderHeight solid #444;


                &:hover {
                    background-color: lighten(@menubarUnselectedColor, 20%);
                }

                &.active,
                &.active:hover,
                &.currentSection,
                &.currentSection:hover {
                    background: @pageTitleColor;
                }
            }
        }
    }
}

/* Content styles */

#contentInner h1
{
    margin-left: -@contentPadding; // to make bg go to edge
    margin-right: -@contentPadding;
    padding-left: @contentPadding;
    padding-right: @contentPadding;
    background: linear-gradient(white 0%, white 52%, #007633 53%, #007633 58%, white 59%);
    text-shadow: 2px 2px 2px white, 2px -2px 2px white, -2px 2px 2px white, -2px -2px 2px white;
}

h2
{
    border-bottom: 2px solid @secondaryColor;
}

section.grouped {
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #888;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(0, 118, 51);

    h1:first-child {
        margin-top: -34px;
    }
}

// Counteract #contentInner h1 styles
#contentInner section.grouped h1:first-child {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    // Still want the text shadow
}

/* Tables */


table.sideheaders,
table.simpleform,
table.topheaders
{
    th {
        background-color: @primaryColorLighter;
    }

    th, td {
        border: solid 1px #336633;
    }
    td {
        background-color: @contentBackgroundColor;
    }
    box-shadow: 0px 2px 4px #888;
    margin-bottom: 8px;

    &.noshadow {
        box-shadow: none;
        margin-bottom: 4px;
    }
}

table tr.spacer td
{
    border-left-width: 0px;
    border-right-width: 0px;
}

td div.postSubject
{
    border-bottom: 1px solid #336633;
}


div.userError,
div.validationErrors {
    border: 1px solid #d00000;
    border-radius: 7px;
}

div.validationErrors::after {
    /* auto-clearing of floats */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.fieldMessages {
    background-color: #d00000;
    border-radius: 5px;
    color: white;
    padding-bottom: 2px;
    margin-bottom: 6px;
}

label.required {
    font-weight: bold;
}

input.placeholder {
    color: #808080;
}

.successMessage
{
    border: 1px solid @primaryColor;
    background-color: @primaryColorLighter;
}

div.breadcrumb
{
    border-bottom: 1px solid @primaryColor;
}

div.bottombreadcrumb
{
    border-top: 1px solid @primaryColor;
}

table.topheaders tr.selected td
{
    background-color: #f8fff8;
}

footer, footer a:link, footer a:visited
{
    color: #202020;
}
footer a:hover
{
    color: #404040;
}

/************************** END COLOURS *******************/


/************* LAYOUT, SPACING, GENERAL STYLES ************/

body
{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: arial, helvetica, sans;
}

pre
{
    margin-top: 0px;
}


h1, h2, h3, h4, h5, h6
{
    font-family: Amaranth, Tahoma;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.6em;
}

h1
{
    font-size: 1.5em;
    line-height: 1.5em;
}

h2
{
    font-size: 1.3em;
    margin-top: 0.5em; /* Needed for when h2 follows a form label */
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

p
{
    margin-top: 2px;
    margin-bottom: 1em;
}


/* Content styles */


/* Tables */

table.sideheaders,
table.simpleform,
table.topheaders
{
    border-collapse: collapse;
}
table.sideheaders,
table.topheaders
{
    width: 100%;
}

table.sideheaders td,
table.topheaders td
{
    overflow: hidden;
}

table.sideheaders th,
table.simpleform th
{
    text-align: left;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders th,
table.topheaders td
{
    padding: 2px 5px;
}


td div.postSubject
{
    font-style: italic;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 2px;
    padding: 0px 4px;
}

table.sideheaders th,
table.sideheaders td,
table.simpleform th,
table.simpleform td,
table.topheaders td
{
    vertical-align: top;
}

table.topheaders th
{
    white-space: nowrap;
}

ul.leaderlist
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.leaderlist li
{
    margin: 0 0 1em 0;
    padding: 0px;
}

div.sitephoto
{
    text-align: center;
}

/*** FORMS ***/

div.formrow
{
    clear: both;
    margin: 0px 0px 4px 0px;
    padding: 0px 6px 2px 6px;
}

@labelWidth: 16em;

div.formrow {

    /* LHS of form */
    .field label {
        display: block;
        float: left;
        width: @labelWidth;
        margin-bottom: 0.8em;
    }

    /* RHS of form */
    .field ul, .field ul li
    {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
    }

    .field ul {
        margin-left: @labelWidth;
    }

    .field ul label {
        /* Override what we set before under div.formrow label */
        float: none;
        width: auto;
    }

    .emptywarning {
        color: blue;
        font-weight: bold;
        font-style: italic;
    }
}

div.userError
{
    padding: 5px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

ul.errorlist
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

div.formrow textarea {
    max-width: 100%;
}


div.breadcrumb
{
    margin-bottom: 5px;
}

div.bottombreadcrumb
{
    margin-top: 1em;
}

div.center
{
    text-align: center;
}

.successMessage
{
    padding: 5px;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.editChunkLink
{
    font-size: 80%;
    text-align: right;
}

/* 'Recent posts' page */
.individualPost
{
    margin-bottom: 1em;
    margin-left: 1em;
}

.individualPost .postHeader h2
{
    margin-bottom: 0;
    margin-left: -1em;
}

.individualPost .postHeader
{
    margin-bottom: 0em;
}
.individualPost .postMessage
{
    margin-left: 1px;
    padding-left: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.readmore
{
    font-style: italic;
}


.verse-num
{
    vertical-align: super;
    font-size: smaller;
}
.chapter-num
{
    font-size: larger;
    font-weight: bold;
}

.note
{
    font-size: 85%;
}

a.button, a.button img
{
    border-width: 0px;
}
a.button img
{
    vertical-align: bottom;
    border-width: 0px;
}

#esvblock
{
    padding-bottom: 1em;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
}

footer
{
    text-align: right;
    padding: 0 6px 4px 6px;
    font-size: 80%;
}
footer img
{
    vertical-align: top;
}

.placeAvailability {
    color: #404040;
}

/* Popups */

.inlinepopup {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 2;
    background-color: white;
    color: black;
}

.inlinepopup .closebar {
    padding: 3px;
    background-color: black;
    color: white;
    text-align: right;
}

.inlinepopup .closebar a {
    color: white;
}

.inlinepopup_background {
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    z-index:1;
    opacity: 0.7;
}

.inlinepopup .popupbody {
    padding: 5px;
}

.inlinepopup table {
    border-collapse: collapse;
    border: 1px solid black;
}

.inlinepopup th,
.inlinepopup td {
    padding: 2px;
    border-left: 1px solid black
}



/* Internet Explorer message */
#ie-message {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 5px;
}

/* Internet Explorer on WinXP message */
#winxp-ie-message {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 5px;
}

/* Messages */
ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(/static/admin/img/icon-yes.svg) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(/static/admin/img/icon-alert.svg);
}

ul.messagelist li.error{
    background-image: url(/static/admin/img/icon-no.svg);
}

/* Booking */

.bignotice {
    text-align: center;
    font-size: 120%;
    line-height: 150%;
    border-radius: 6px;
    background-color: @secondaryColor;
    color: white;
}

.bigaction() {
    -moz-box-shadow:inset 0px 1px 0px 0px #729e48;
    -webkit-box-shadow:inset 0px 1px 0px 0px #729e48;
    box-shadow:inset 0px 1px 0px 0px #729e48;
    background-color: @primaryColor;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #005611;
    display:inline-block;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528009;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
        background-color: @primaryColorLighter;
        border-color:#f0fff0;
    }
    &:active {
        position:relative;
        top:1px;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: #aaa;
        border-color: #aaa;
        box-shadow: none;
        &:active {
            top: 0px;
        }
    }
}

a.booknow {
    .bigaction();
}

a.bigaction, input.bigaction {
    .bigaction();
}

.actiongroup {
    .actionbutton {
        margin-top: 8px;
        text-align: right;
    }
}

.actionsplit {
    .actionbutton {
        display: inline;
        float: right;
    }
    .clearfix();
}

@bookingbarColor: @pageTitleColor;

#bookingbar {
    background-color: @bookingbarColor;
    color: white;
    text-align: center;
    box-shadow: inset 0 -3px 5px -3px #222;
    padding: 0 4px;
}

#bookingbartop {
    padding: 3px;
    margin: 0px 0px 3px 0px;
    text-align: left;
    min-height: @lineHeight;
    text-align: right;
    a.manageaccount {
        box-shadow: inset 0px 1px 0px 0px #aaa;
        background-color: #ddd;
        background-image: linear-gradient(180deg, #ddd 0%, #bbb 100%);
        border-radius: 6px;
        border: 1px solid #005611;
        display: inline-block;
        color: black;
        padding: 3px 12px;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 3px;
        &:hover {
            background-color: #eee;
            background-image: linear-gradient(180deg, #eee 0%, #ccc 100%);
        }
    }
}

#bookingbar {
     a {
         color: white;
     }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;

            a, span {
                display: inline-block;
                text-decoration: none;
                padding: 3px 10px;
                color: white;
                margin: 0px;
                font-weight: bold;

                &:hover {
                    background-color: lighten(@bookingbarColor, 10%);
                }
            }

            a.active,
            span.active,
            a.active:hover {
                color: black;
                background:white;
            }
        }
    }
}

.payboxes {
    .clearfix();
}


.paybox {
    float: left;
    margin-right: 20px;
    border: 1px solid #888;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #888;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0px;
    }

    input[type=number] {
        width: 6em;
    }
}


span.toc {
    font-size: 80%;
}

table.prices td {
    padding: 5px;
}

/* list bookings */

table td.total, table td.discounts {
    text-align: right;
    font-weight: bold;
}

table tr.sectionbottom td, table td.bookinglistaction {
    border-bottom-width: 2px;
}

table td.price {
    text-align: right;
}

table td.bookinglistaction {
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: 21px;
    }

    div.formrow .field ul {
        display: block;
        clear: left;
        margin-left: 0px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}

// Navigation bar differences
@mobileMenuWidth: 600px;

// Need shadows for tab effect for the desktop nav bar, but not on mobile nav
// menu


@media screen and (min-width: (@mobileMenuWidth + 1px)) {


    #menubar {
        ul {
            li {
                box-shadow: 0px -2px 2px #222;

                &.active,
                &.currentSection {
                    box-shadow: 2px -3px 3px -1px #222, -2px -3px 3px -1px #222;
                    z-index: 10;
                    position: relative; // make it stack in front of other tabs
                }

                a {
                    background-image: linear-gradient(180deg, @menubarUnselectedColor 80%, darken(@menubarUnselectedColor, 15%));

                    &:hover {
                        background-image: linear-gradient(180deg, lighten(@menubarUnselectedColor, 10%) 80%, lighten(darken(@menubarUnselectedColor, 15%), 10%));
                    }

                    &.active,
                    &.active:hover,
                    &.currentSection,
                    &.currentSection:hover {
                        border-color: @pageTitleColor; // make it look like tab, not button
                    }
                }

                &#menutoggle {
                    display: none;
                }
            }

        }
    }
}

@media screen and (max-width: @mobileMenuWidth) {

    #menubarSpacer {
        display: none;
    }

    #menubar {
        position: absolute;
        top: 5px;
        right: 5px;
        ul {
            text-align: left;
            li {
                display: none; // See cciwutils.js
                &.expanded {
                    display: block;
                }
                a {
                    display: block;
                    border-left: 1px solid @headerColor;
                    border-right: 1px solid @headerColor;
                }

                &#menutoggle {
                    display: block;
                    a {
                        background-color: lighten(@headerColor, 10%);
                        &:hover {
                            background-color: lighten(@headerColor, 20%);
                        }
                    }

                    a:after {
                        content: " ↓";
                        font-size: 120%;
                        font-weight: bold;
                    }
                    &.expanded a:after {
                        content: " ↑";
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    table.responsive {
        box-shadow: none;
        margin-bottom: 2px;

        thead {
            display: none;
        }
        tr {
            display: block;
            margin-top: 0.8em;
            margin-bottom: 0.5em;
            box-shadow: 0 2px 2px rgba(0,0,0,0.5);
        }
        td {
            display: block;
            text-align: right;
            border-bottom-width: 1px;
            border-top-width: 0px;
            &:first-child {
                border-top-width: 1px;
            }
            &:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        th {
            display: block;
            &.full-width {
                width: 100%;
                padding: 0px;
            }
        }
    }

    .actiongroup {
        .actionbutton {
            margin-top: 2px;
        }
    }

}
