// Layout utility classes


.columns-space-between {
    display: flex;
    justify-content: space-between;
}

.columns-align-left {
    display: flex;
    justify-content: left;
    > * {
        margin-right: 1rem;
    }
}

.columns-wrap {
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .columns-stacked-for-small {
        flex-direction: column;
    }
}

.layout-table {
    display: table;
}
.layout-tr {
    display: table-row;
}
.layout-td {
    display: table-cell;
}


// Buttons
.compactButton {
    padding: 1px 5px;
    border-radius: 3px;
}


.bigaction {
    -moz-box-shadow:inset 0px 1px 0px 0px #729e48;
    -webkit-box-shadow:inset 0px 1px 0px 0px #729e48;
    box-shadow:inset 0px 1px 0px 0px #729e48;
    background-color: var(--primaryColor);
    background-image: none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #005611;
    display:inline-block;
    color:#ffffff;
    font-size: 120%;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528009;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--primaryColorLighter);
        background-image: none;
        border-color:#f0fff0;
    }
    &:active {
        position:relative;
        top:1px;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: #aaa;
        border-color: #aaa;
        box-shadow: none;
        &:active {
            top: 0px;
        }
    }
}



.fullWidthDialog {
    // Override some builtins that limit us:
    max-height: 100vh;
    max-width: 100vw;

    // Positioning
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 2em);
    top: 2em;
    left: 0px;
    position: fixed;
    margin: 0;

    // Styling
    border: 0;
    border-top: 2px solid #888;
    padding: 20px;

    // Fade in:
    display: flex;  // for some reason, display: block disables the transition.
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; // keep main page accessible after closing dialog
    &[open] {
        opacity: 1;
        pointer-events: inherit;
    }

    &::backdrop {
        background-color: #0008;
    }
}
