
// Colours
//  Primary Color:
//  007633 22884F		(37DA7E) BACB97
//
// Secondary Color A: A65900

$textColor: black;
$textLighterColor: #404040;

$primaryColor: #007633;
$primaryColorLighter: #BACB97;

$secondaryColor: #A65900;

$pageTitleColor: $primaryColor;
$headerColor: scale-color($pageTitleColor, $alpha: -50%);
$contentBackgroundColor: white;
$footerBackgroundColor: #0b2333;

$smallMenubarFontScreenWidth: 800px;
$mobileMenuWidth: 600px;
$smallScreenWidth: 600px;
$noColumnsScreenWidth: 400px;
$responsiveTablesScreenWidth: 480px;
$contentWidth: 850px;
