{% extends 'cciw/bookings/standard.html' %}
{% block content %}

  <p>Please enter your name and address - we will use these to send you
    information about camp. You may also choose to receive other communications
    from us. Note that we do not pass on any details to third parties, except as
    indicated.</p>

  <form id='id_accountdetails' action="" method="POST" class="ajaxify">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="formrow">
      <br/>
      <input type="submit" name="submit" value="Save and continue" />
    </div>
  </form>


  <p><br/><br/>If you need to change the email address on your account, please <a href="{% url 'cciw-cciwmain-contact_us' %}?bookings">contact us</a>.

{% endblock %}
