{% extends 'cciw/bookings/standard.html' %}
{% block content %}

  <h1>Your details</h1>

  {% with account=request.booking_account %}
    <table class="sideheaders">
      <tr>
        <th>Name</th>
        <td>{{ account.name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ account.email }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ account.address|linebreaksbr }}</td>
      </tr>
      <tr>
        <th>Post code</th>
        <td>{{ account.post_code }}</td>
      </tr>
    </table>

    <p>Please <a href="{% url 'cciw.bookings.views.account_details' %}">update your details</a> if any of the above is wrong.
      If you need to change your email address, please <a href="{% url 'cciwmain.misc.contact_us' %}?bookings">contact us</a>.
    </p>
  {% endwith %}

  <h1>Your places</h1>

  <h2>Basket</h2>

  {% if basket or shelf %}

    <p>You have items in your basket or shelf - please remember to
      <a href="{% url 'cciw.bookings.views.list_bookings' %}">book and pay for
        them</a>.</p>

  {% else %}

      <p>You have nothing in your basket.</p>

  {% endif %}

  {% if unconfirmed_places %}

    <h2>Booked places</h2>

    <p>The following places are booked, but not yet confirmed:</p>
    <ul>
      {% for b in unconfirmed_places %}
        <li>{{ b.name }}, on <a href="{% url 'cciw.cciwmain.views.camps.detail' year=b.camp.year number=b.camp.number %}">camp {{ b.camp.number }}</a>, {{ b.get_price_type_display }}, £{{ b.amount_due }} </li>
      {% endfor %}
    </ul>
    <p>Please <a href="{% url 'cciw.bookings.views.pay' %}">remember to pay</a> for
      these places, otherwise they will expire, allowing someone else to take the
      place.</p>

  {% endif %}

  <h2>Confirmed places</h2>
  {% if confirmed_places %}
    <p>You have the following confirmed places on camps this year:</p>
    <ul>
      {% for b in confirmed_places %}
        <li>{{ b.name }}, on <a href="{% url 'cciw.cciwmain.views.camps.detail' year=b.camp.year number=b.camp.number %}">camp {{ b.camp.number }}</a>, {{ b.get_price_type_display }}, £{{ b.amount_due }} </li>
      {% endfor %}
    </ul>

  {% else %}
    <p>You have no confirmed places yet this year.</p>
  {% endif %}

  {% if cancelled_places %}
    <h2>Cancelled places</h2>

    <ul>
      {% for b in cancelled_places %}
        <li>{{ b.name }}, on <a href="{% url 'cciw.cciwmain.views.camps.detail' year=b.camp.year number=b.camp.number %}">camp {{ b.camp.number }}</a> (£{{ b.amount_due }} deposit)</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h1>Balance</h1>

  {% if balance_full <= 0 %}
    <p>You have nothing to pay.</p>
  {% else %}
    <div style="float: right"><a class="paybalance" href="{% url 'cciw.bookings.views.pay' %}">Pay now</a></div>
    <p>Your total balance is: £{{ balance_full }}</p>
    {% if balance_due != balance_full %}
      <p>Balance currently due: £{{ balance_due }}</p>
    {% endif %}
  {% endif %}

  <h1>Logging out</h1>

  <p><strong>In order to log back in again, you will need to verify your email address as
    you did the first time.</strong></p>

  <p>By logging out, other users of this computer will not be able to access your
    account details, which is important if you are using a public computer (for
    example in an internet cafe).</p>

  <p>Press this button in order to go ahead and log out:</p>

  <form action="" method="POST">
    {% csrf_token %}
    <p style="text-align: center">
      <input type="submit" name="logout" value="Log out">
    </p>
  </form>

  <p>Otherwise your session will expire two weeks after you last logged in.</p>

  {% include 'cciw/bookings/help.html' %}

{% endblock %}
