{% extends 'cciw/bookings/standard.html' %}
{% load cciwform %}
{% load url from future %}
{% block content %}
{% if not booking_open %}

<p>Booking for {{ thisyear }} cannot continue because prices have not been set.</p>

{% else %}

<script type="text/javascript">
<!--

(function($) {

   $(document).ready(function() {

{% if read_only %}
       $('input,select,textarea').attr('disabled', 'disabled');

{% else %}

       var userData = [];

       var escape = function(t) {
           return t.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&apos;");
       };

       var handleExistingPlacesData = function(json) {
           var places = json['places'];
           userData['places'] = places;
           if (places.length > 0) {
               var cont = $('#id_use_existing_radio_container');
               $('#id_use_existing_btn').show();
               for (var i=0; i < places.length; i++) {
                   var place = places[i];
                   var html = ("<label><input type='radio' name='use_which_booking' value='" +
                       i.toString() + "'>" + escape(place.name) + " " +
                       place.created.substr(0,4) + "<br/>" +
                       "&nbsp;&nbsp; Post code: " + escape(place.post_code) + "<br/>" +
                       "&nbsp;&nbsp; GP: " + escape(place.gp_name) + "</label><br/>" );
                   cont.append(html);
               }
           }
       };

       var handleAccountData = function(json) {
           var account = json['account'];
           userData['account'] = account;
           /* Easiest way to get them where we want is to move it using javascript */
           var btn1 = $('#id_use_account_1_btn');
           btn1.appendTo(btn1.prev('div.form').find('div.formrow'));
           btn1.css({'float':'right'}).show();

           var btn2 = $('#id_use_account_2_btn');
           btn2.appendTo(btn2.prev('div.form').find('div.formrow'));
           btn2.css({'float':'right'}).show();

       }

       var useExistingDataShow = function(ev) {
           ev.preventDefault();
           var popup = $('#id_use_existing_data_popup');
           popup.css({
               "position": "fixed",
               "top": ($(window).height()/2 - popup.height()/2).toString() + "px",
               "left": ($(window).width()/2 - popup.width()/2).toString() + "px"
            });
            popup.fadeIn("fast");
            $('#id_popup_background').fadeIn('fast');
       };

       var useExistingDataClose = function(ev) {
           $('#id_use_existing_data_popup').fadeOut('fast');
           $('#id_popup_background').fadeOut('fast');
       };

       var address_attrs = [
           'address',
           'post_code',
           'phone_number',
           'contact_name',
           'contact_phone_number'
       ];

       var gp_info_attrs = [
           'gp_name',
           'gp_address',
           'gp_phone_number'
       ];

       var all_attrs = [].concat(address_attrs, gp_info_attrs, [
           'name',
           'sex',
           'date_of_birth',
           'church',
           'south_wales_transport',
           'dietary_requirements',
           'medical_card_number',
           'last_tetanus_injection',
           'allergies',
           'regular_medication_required',
           'learning_difficulties',
           'serious_illness'
       ]);

       var useData = function(attrs) {
           var radios = $('input[name=use_which_booking]');
           var chosen = null;
           for (var i=0; i < radios.length; i++) {
               if (radios[i].checked) {
                   chosen = parseInt(radios[i].value, 10);
                   place = userData['places'][chosen];
                   var mainform = document.addplaceform;
                   for (var j=0; j < attrs.length; j++) {
                       var attr = attrs[j];
                       if (mainform[attr].type == 'checkbox') {
                           mainform[attr].checked = place[attr];
                       } else {
                           mainform[attr].value = place[attr];
                       }
                   }
               }
           }
           if (chosen === null) {
               alert('Please select a set of details on the left');
           } else {
               useExistingDataClose();
           }
       };

       var useAllBtnClick = function(ev) {
           ev.preventDefault();
           useData(all_attrs);
       };

       var useAddressBtnClick = function(ev) {
           ev.preventDefault();
           useData(address_attrs);
       };

       var useGPInfoBtnClick = function(ev) {
           ev.preventDefault();
           useData(gp_info_attrs);
       };

       var useAccountForCamperAddressClick = function(ev) {
           ev.preventDefault();
           $('#id_address').val(userData['account']['address']);
           $('#id_post_code').val(userData['account']['post_code']);
           $('#id_phone_number').val(userData['account']['phone_number']);
       }

       var useAccountForContactDetailsClick = function(ev) {
           ev.preventDefault();
           $('#id_contact_name').val(userData['account']['name']);
           $('#id_contact_phone_number').val(userData['account']['phone_number']);
       }

       $('#id_popup_close_btn').click(useExistingDataClose);
       $('#id_use_existing_btn').click(useExistingDataShow);
       $('#id_use_all_btn').click(useAllBtnClick);
       $('#id_use_address_btn').click(useAddressBtnClick);
       $('#id_use_gp_info_btn').click(useGPInfoBtnClick);
       $('#id_use_account_1_btn').click(useAccountForCamperAddressClick);
       $('#id_use_account_2_btn').click(useAccountForContactDetailsClick);

       // Typing enter on text boxes shouldn't activate the 'Use existing
       // data' button
       $('#id_addplaceform input[type=text]').keypress(function(ev) {
           var code = (ev.keyCode || e.which);
           if (code == 13) {
               ev.preventDefault();

           }
       });

       /* Load data about existing places */
       $.ajax({
           type: "GET",
           url: '{% url "cciw.bookings.views.places_json" %}',
           dataType: "json",
           success: handleExistingPlacesData
       });

       /* Load account data */
       $.ajax({
           type: "GET",
           url: '{% url "cciw.bookings.views.account_json" %}',
           dataType: "json",
           success: handleAccountData
       });

{% endif %}

   });
})(jQuery);

//-->
</script>
<form action="" method="POST" id="id_addplaceform" name="addplaceform" class="ajaxify">
{% csrf_token %}

{% if form.errors %}
<div class="userError">The details could not be saved - please check your input below:

{{ form.non_field_errors }}
</div>
{% else %}

  {% if read_only %}
     <p>This place has been approved or booked, and information here
       can only be changed by an admin.</p>

  {% else %}

     <p>Please enter the details needed to book a place on a camp. Required fields
       are starred.</p>

  {% endif %}


{% endif %}

<h2>Camp</h2>
{% cciw_form_field form 'camp' 'Choose camp:' %}
<div id="id_camp_availability">
</div>

<h2>Price</h2>
<p>The 2nd child from the same family is eligible for '2nd child discount'.
Subsequent children from the same family are eligible for '3rd child
discount'.</p>

<p>If you will struggle to pay the full fee, you can also apply for a custom
  discount. The exact price will have to be arranged by contacting the booking
  secretary, and you will not be able to complete the booking process online
  until this has been done if you choose this option.</p>

{% cciw_form_field form 'price_type' 'Price' %}

<h2>Camper details</h2>
 <input type="submit" id="id_use_existing_btn" value="Use previous data" style="display:none; float: right;">
{% cciw_form_field form 'name' 'Name' %}
{% cciw_form_field form 'sex' 'Sex' %}
{% cciw_form_field form 'date_of_birth' 'Date of birth (YYYY-MM-DD)' %}
{% cciw_form_field form 'address' 'Address' %} <input style="display:none;" type="submit" id="id_use_account_1_btn" value="Use account address">
{% cciw_form_field form 'post_code' 'Post code' %}
{% cciw_form_field form 'phone_number' 'Phone number' %}
{% cciw_form_field form 'email' 'Email' %}

<h2>Church</h2>

{% cciw_form_field form 'church' 'Name of church (if any)' %}


<h2>Transport</h2>

<p>If you require transport from South Wales on the CCIW minibus, please tick
this box. The cost for this transport is an additional £{{ south_wales_surcharge }}.</p>

{% cciw_form_field form 'south_wales_transport' 'South Wales transport required' %}
<br/><br/>

<h2>Contact details</h2>

<p>Please enter a contact name and number that can be used <strong>during the week of camp</strong> in case of emergency.</p>

{% cciw_form_field form 'contact_name' 'Name' %} <input style="display:none;" type="submit" id="id_use_account_2_btn" value="Use account name and number">
{% cciw_form_field form 'contact_phone_number' 'Phone number' %}

<h2>Dietary requirements</h2>

<p>Please enter any special deitary requirements here (e.g. vegetarian).</p>
{% cciw_form_field form 'dietary_requirements' 'Dietary requirements' %}

<h2>GP details</h2>

<p>Please enter the details of the camper's GP:</p>

{% cciw_form_field form 'gp_name' 'Name' %}
{% cciw_form_field form 'gp_address' 'Address' %}
{% cciw_form_field form 'gp_phone_number' 'Phone number' %}

<h2>Medical details</h2>

{% cciw_form_field form 'medical_card_number' 'Medical card number' %}
{% cciw_form_field form 'last_tetanus_injection' 'Last tetanus injection (if any) (YYYY-MM-DD)' %}
{% cciw_form_field form 'allergies' 'Allergies (including medication)' %}
{% cciw_form_field form 'regular_medication_required' 'Regular medication required' %}
{% cciw_form_field form 'illnesses' 'Illnesses (e.g. asthma, epilepsy)' %}
{% cciw_form_field form 'learning_difficulties' 'Any learning/behavioural difficulties' %}

<p>If the illnesses, allergies or learning/behavioural difficulties above
include conditions that would affect the safety of camp or our ability to look
after the camper, please indicate below.</p>

<p>This includes, for example, significant deafness or blindness, unstabilised
diabetes or epilepsy, life-threatening allergies, or other conditions which
would normally require supervision in school life, such as autism. You do not
need to tick this box for conditions that are easily managed by medication,
where the camper can administer the medication themselves.</p>

<p>If the box is ticked, a camp leader will then have to manually approve this
place before booking and payment can proceed. This system is needed to avoid
disappointment in the case where we will not be able to cater for the camper's
condition on camp.</p>

{% cciw_form_field form 'serious_illness' 'Serious condition/illness' %}

<h2>Agreements</h2>

<h3>Camper agreement</h3>

<p>The camper must agree to observe the camp's code of conduct. Failure to obey
camp rules can result in the camper being sent home, with no refund.</p>

<h3>Parent/guardian agreement</h3>

<p>In the event of any medical treatment becoming necessary during the camp
every effort will be made to contact the parent/guardian. However, parents are
required to authorise the leadership team to act in their absence where urgent
treatment becomes necessary.</p>

<p>If both camper and parent/guardian agree, tick the box to continue:</p>

{% cciw_form_field form 'agreement' 'Agree to above condtions' %}

{% if not read_only %}

<h2>Save</h2>

<p>All done! now just:


<input type="submit" name="submit" value="Save place details" id="id_save_btn" />

{% endif %}

</form>

<div id="id_use_existing_data_popup" class="inlinepopup" style="display:none;">
<div class="closebar">
<a href="#" id="id_popup_close_btn">Close</a>
</div>
<div class="popupbody">
<p>You can copy information previously entered to save time. Please check
 the data after using this to ensure it is all up to date.</p>

<table>
<tr>
<th>Select previous booking to copy from</th>
<th>Choose which information to copy</th>
</tr>
<tr>
<td>
  <div style="max-height: 20em; overflow: auto;";>
    <form name="select_place">
    <div id="id_use_existing_radio_container">
    </div>
    </form>
  </div>
</td>
<td style="vertical-align:top; text-align:center;">
  <input type="submit" id="id_use_all_btn" value="Use all personal information" /> <br/>
  <input type="submit" id="id_use_address_btn" value="Use address and contact information" /> <br/>
  <input type="submit" id="id_use_gp_info_btn" value="Use GP information" />
</td>

</tr>
</table>
</div>
</div>

<div class="inlinepopup_background" id="id_popup_background"></div>

<div style="display:nonex;">
</div>

{% endif %}
{% endblock %}
