{% extends 'cciw/standard.html' %}

{% block content %}

  <h2>Thank you!</h2>

  <p>Thank you for booking(s), which have been added to the queue.</p>

  {# simpler messages for common cases of `all_waiting_list_mode` and `none_waiting_list_mode` #}
  {% if none_waiting_list_mode %}
    <p>You have the following bookings waiting in the queue:</p>
    <ul>
      {% for booking in waiting_in_queue_bookings %}
        <li>{{ booking.name }}</li>
      {% endfor %}
    </ul>
    <p>
      We will notify you by email whether or not your application for these places has been successful.
    </p>

  {% elif all_waiting_list_mode %}
    <p>You have the following bookings in the waiting list:</p>
    <ul>
      {% for booking in waiting_in_queue_bookings %}
        <li>{{ booking.name }}</li>
      {% endfor %}
    </ul>
    <p>We will notify you by email if places come up. You will then need to accept the offers
      within {{ booking_expires_after_display }} or they will expire.
    </p>

  {% else %}
    {# mixed #}
    <p>You have the following bookings waiting in the queue:</p>
    <ul>
      {% for booking in waiting_in_queue_bookings %}
        <li>{{ booking.name }}:
          {% if booking.queue_entry.will_send_declined_notification %}
            We will notify you by email whether or not your application for this place has been successful.
          {% else %}
            We will notify you by email if a place comes up. You will then need to accept the offer
            within {{ booking_expires_after_display }} or it will expire.
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <p>You can check the status of bookings on
    your <a href="{% url 'cciw-bookings-account_overview' %}">account overview</a> page.
  </p>

  {% include 'cciw/bookings/booking_process_info.html' with booking_open_data=booking_open_data %}

{% endblock %}
