<div id="bookingbar">
  <div id="bookingbartop">
    {% if logged_in %}
      <b>{{ request.booking_account.email }}</b>
      <a class="manageaccount buttonlink" href="{% url 'cciw.bookings.views.account_overview' %}">View account</a>
    {% endif %}
  </div>
  <nav>
    {% spaceless %}
      <ul>
        {% for name, caption, is_link, url, msg in stages %}
          <li>
            {% if is_link and name != current_stage %}
              <a href="{{ url }}">{{ caption }}</a>
            {% elif name == current_stage %}
              <span class="active">{{ caption }}</span>
            {% else %}
              <span title="{{ msg }}">{{ caption }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endspaceless %}
  </nav>
</div>
