{% extends "cciw/bookings/standard.html" %}
{% block content %}
  {% if link_expired %}
    <p><b>The link you used for logging in has expired.</b></p>

    <p>We have sent you a new email with a new login link. Please use the login
      link in the email to continue the booking and payment process process.
      This must be done within a few days or the link will expire again.
    </p>

  {% else %}
    <p>An email has been sent to your address to verify that it works. Please
      use the login link in the email to continue the booking and payment
      process. This must be done within a few days or the link will expire.
    </p>
  {% endif %}

{% endblock %}
