{% extends "cciw/standard.html" %}
{% load standardpage %}
{% load url from future %}
{% block content %}

<h2>Prices {{ thisyear }}</h2>

{% if booking_open %}
  <p>
    <table>
      <tr>
        <td>Full price:</td>
        <td>£{{ price_full }}</td>
      </tr>

      <tr>
        <td>2nd camper from the same family:</td>
        <td>£{{ price_2nd_child }}</td>
      </tr>

      <tr>
        <td>Subsequent children from the same family:</td>
        <td>£{{ price_3rd_child }}</td>
      </tr>
    </table>
  </p>

{% else %}
  <p>Prices for {{ thisyear }} have not been finalised yet.</p>

{% endif %}

<h2>Booking</h2>

<p>There are two ways to book for camp:</p>

<h3>Paper booking</h3>

<p>You will need the booking form which comes with our camp brochure, which we
can post to you, or you can download below. You will need to include a cheque to
pay a deposit of £{{ price_deposit }} with your booking</p>

<h3>Online booking</h3>

<p>You can <a href="{% url 'cciw.bookings.views.start' %}">book and pay online</a>,
providing you have a debit card, credit card, or PayPal account.</p>

<p>If you book online, you can see how many places there are left in real time,
and your place will be confirmed immediately. However, you will have to pay the
full amount when booking, not just the deposit. For refunds, the same rules
apply to both paper bookings and online bookings.</p>

<h2>Paper booking form</h2>

{% if bookingform %}
    <p>If you have a printer you can download and print a booking form for
    {{ thisyear }}.  Please fill in the form and follow the instructions on it.
    You will need a PDF reader to view or print the form.</p>


    <div><a href="{{ MEDIA_URL }}{{ bookingform }}">Download the CCIW
	booking form for {{ thisyear }}</a> </div>

    <p><br/>The completed booking form must be sent to:</p>

    {% htmlchunk bookingform_post_to %}

{% else %}

    <p>There is no booking form for {{ thisyear }} available yet online. Booking
    forms are normally printed in January, and are distributed to all
    individuals who came on camp the previous year (sometimes via churches). We
    try to make the booking form available online as a PDF file at about the
    same time, so that you can print your own.</p>

    <p>An item will be added on the <a href="/news/">news page</a> when the
    booking form is available for download.</p>


{% endif %}

<p>If you would like a booking form sent in the post and are not on our
distribution list (or have not received a booking form and think you should
have), please use the <a href="{% url 'cciwmain.misc.feedback' %}">feedback
form</a> to request one. Please remember to to include your address so that we
can post one. If you are ordering a large number of booking forms, please
include your telephone number so that we can verify the request.</p>

{% endblock %}
