{% extends "cciw/standard.html" %}
{% load standardpage %}
{% block content %}

  {% if request.booking_account %}
    <h2>Your account</h2>
    You are logged in as <b>{{ request.booking_account.name }}</b>.
    <a href="{% url 'cciw-bookings-account_overview' %}">View your account details</a>.
  {% endif %}


  {% if booking_open and not any_bookings_possible %}
    <div class="bignotice">No more camp places are available for {{ thisyear }}, sorry!</div>
  {% endif %}



  <h2>Prices {{ thisyear }}</h2>

  {% if booking_open %}

    <div style="float: right;">
      <a class="booknow" href="{% url 'cciw-bookings-start' %}">Book online now!</a>
    </div>

    {% if early_bird_available %}
      <p><b>Early bird discount of £{{ price_early_bird_discount }}
        available if you book online before {{ early_bird_date|date:"jS F" }}!</b></p>
    {% endif %}

    {% include "cciw/bookings/price_table.html" %}


    {% if price_deposit %}
      <p>A deposit of £{{ price_deposit }} must be paid with bookings. The full
        amount is due {{ full_payment_due_time }} before the start of the camp.</p>
    {% endif %}

  {% else %}
    <p><strong>Prices for {{ thisyear }} have not been finalised yet.</strong></p>

    {% if price_list %}
      <p>However, you can see last year's prices below for reference. This year's
        prices will usually be the same or similar.</p>

      {% include "cciw/bookings/price_table.html" %}

    {% endif %}

  {% endif %}

  <h2>Booking</h2>

  <p>There are two ways to book places for campers:</p>

  <h3>Paper booking</h3>

  <p>You will need the booking form which comes with our camp brochure, which we
    can post to you, or you can download below. You will need to include a cheque to
    pay a deposit {% if price_deposit %}of £{{ price_deposit }}{% endif %} with your booking.</p>

  <h3>Online booking</h3>

  <p>You can <a href="{% url 'cciw-bookings-start' %}">book and pay online</a>,
    providing you have a debit card, credit card, or PayPal account.</p>

  <p>If you book online, you can see how many places there are left in real time,
    and your place will be confirmed immediately.</p>

  <p>When you book online, if you book more than {{ full_payment_due_time }} before the camp start
    date, you can choose to pay either the full amount, or the just deposit,
    just like paper bookings. {{ full_payment_due_time }} before camp starts you
    will be asked to pay the full amount.</p>

  <h3>Officers and leaders</h3>

  <p>If you are wanting to come on camp as a leader/officer, you cannot book a
    place using this system – please instead see the information about applying
    to be a <a href="/helpers/officers/">leader or officer</a>.</p>


  <h2>Paper booking form</h2>

  {% if bookingform %}
    <p>If you have a printer you can download and print a booking form for
      {{ thisyear }}.  Please fill in the form and follow the instructions on it.
      You will need a PDF reader to view or print the form.</p>


    <p><a href="{{ MEDIA_URL }}{{ bookingform }}">Download the CCIW
      booking form for {{ thisyear }}</a> </p>

    <p>Completed booking forms should be sent to the booking
      secretary (address below), with the deposit (cheques made payable to “CCIW”).</p>

  {% else %}

    <p>There is no booking form for {{ thisyear }} available yet online. Booking
      forms are normally printed in January, and are distributed to all
      individuals who came on camp the previous year (sometimes via churches). We
      try to make the booking form available online as a PDF file at about the
      same time, so that you can print your own.</p>

  {% endif %}

  <p>If you would like a booking form sent in the post and are not on our
    distribution list (or have not received a booking form and think you should
    have), please use the <a href="{% url 'cciw-cciwmain-contact_us' %}">contact
    form</a> to request one. Please remember to include your address so that we
    can post one. If you are ordering a large number of booking forms, please
    include your telephone number so that we can verify the request.</p>

  <h2>Booking secretary</h2>

  <p>Contact:</p>
  <ul>
    <li>Postal address:<br/><br/>


      {% htmlchunk booking_secretary_address %}
    </li>

    <li>Email: <a href="mailto:bookings@cciw.co.uk">bookings@cciw.co.uk</a><br/><br/></li>

    <li><a href="{% url 'cciw-cciwmain-contact_us' %}?bookings">Contact form</a><br/><br/></li>
  </ul>

{% endblock %}
