{% extends 'cciw/standard.html' %}
{% load url from future %}
{% load static %}

{% block content %}
{% if new_bookings %}
<h2>Basket</h2>

<ul>
  <li>Review and press 'Book now' to book the places and pay for
  them online.</li>
  <li>Choose 'Add another place' if you have more places to add before booking
  and paying.</li>
</ul>

<form action="" method="POST">
{% csrf_token %}

<table class="topheaders">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Camp</th>
    <th scope="col">Price</th>
    <th scope="col">Actions</th>
  </tr>

{% for b in new_bookings %}
  <tr>
    <td>
      {{ b.name }}
    </td>
    <td>
      <a href="{% url 'cciw.cciwmain.views.camps.detail' year=b.camp.year number=b.camp.number %}">Camp {{ b.camp.number }}, {{ b.camp.leaders_formatted }}</a>,
      {{ b.camp.start_date|date:"j M Y" }}
    </td>
    <td>
      {% if b.amount_due_normalised|default_if_none:"None" == "None" %}TBA{% else %}£{{ b.amount_due_normalised }}{% endif %}
    </td>
    <td rowspan="2" class="sectionbottom">
      <a href="{% url 'cciw.bookings.views.edit_place' id=b.id %}">View/edit</a>
    </td>
  </tr>
  <tr class="sectionbottom">
      <td><b>Status:</b></td>
      <td colspan="2">
        {% if b.bookable %}
          <img src="{% static "admin/img/icon-yes.gif" %}"> This place can be booked
          {% if b.manually_approved %}<b> - MANUALLY APPROVED</b>{% endif %}
        {% else %}
          <img src="{% static "admin/img/icon-no.gif" %}"> This place cannot be booked:
          <ul>
          {% for p in b.booking_problems %}
            <li>{{ p }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </td>
    </tr>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2" style="text-align:right; border: 0px;"><b>Total:</b></td>
    <td>{% if total|default_if_none:"None" == "None" %}TBA{% else %}£{{ total }}{% endif %}</td>
  </tr>
</table>


<p style="text-align: right; margin-top: 1em;">
  <input type="submit" name="add_another" value="Add another place">&nbsp;
  <input type="submit" name="book_now" value="Book now" id="id_book_now_btn"{% if not all_bookable %} disabled{% endif %}>

</p>
{% if not all_bookable %}
  {% if all_unbookable %}
    {% if new_bookings|length > 1 %}
       <p>These places cannot be booked for the reasons described above.
       You will need to wait for manual approval of the places.</p>
    {% else %}
       <p>This place cannot be booked for the reasons described above.
         You will need to wait for manual approval of the place.</p>
    {% endif %}
  {% else %}
     <p>One or more of the places cannot be booked, so this set cannot be booked as a group.
       You can either:</p>
     <ul>
       <li>Use the 'save for later' button on the place(s) that cannot be booked,
         and book the other place(s).</li>
       <li>or wait for the camp leader/booking secretary to manually
         approve the place(s) (or be in contact about why that is not possible).</li>
     </ul>
  {% endif %}
{% endif %}

</form>


{% endif %}

{% endblock %}
