{% extends 'cciw/bookings/standard.html' %}

{% block content %}

  {% if unconfirmed_places %}
    <p>After booking you have 24 hours to complete payment online, or the bookings
      will expire. If necessary you can go back and <a href="{% url 'cciw-bookings-add_place' %}">book other places</a>
      and then pay for them all together.</p>
  {% endif %}

  <p>Payment is done via Paypal. You do not need to have a Paypal account - any
    credit card or debit card can be used.</p>

  <p> Please note that if you have recently paid, it can take a few minutes for
    our records to be updated - please do not pay twice!</p>


  <h2>Balance</h2>

  <p>Your total amount outstanding is:</p>

  <p><b>Balance: £{{ balance_full }}</b></p>

  {% if balance_full == 0 %}
    <p>You have nothing to pay.</p>
  {% endif %}

  {% if balance_full < 0 %}
    <b>We owe you this money!</b> Our team will ensure that you are
    refunded this amount.</p>
  {% endif %}

  {% if balance_full > 0 %}

    {% include "cciw/bookings/pending_payment_notice.html" %}

    {% if balance_full != balance_due %}

      {% if balance_due > 0 %}

        <p>You do not yet have to pay the full amount — at this point you only have to
          pay the deposits to confirm your place. Choose from the options below:</p>

      {% else %}

        <p>You do not yet have to pay this amount, but can do so if you wish.</p>

      {% endif %}

    {% else %}

      <p>This amount is now due:</p>

    {% endif %}


    <div class="payboxes">

      {# Minimum/deposits #}
      {% if balance_full != balance_due and balance_due > 0 %}
        <div class="paybox">
          <h3>Pay minimum</h3>
          <p><b>Amount: £{{ balance_due }}</b></p>
          {{ paypal_form.render }}
        </div>
      {% endif %}

      {# Full balance #}
      <div class="paybox">
        <h3>Pay full balance</h3>
        <p><b>Amount: £{{ balance_full }}</b></p>
        {{ paypal_form_full.render }}
      </div>

      {# Custom #}
      {% if balance_due < balance_full %}
        <div class="paybox">
          <h3>Pay other amount</h3>
          {{ paypal_form_custom.render }}

        </div>

      {% endif %}


    </div>

    <h2>Notes</h2>

    <h3>Refunds:</h3>
    <p>If you cancel your place, your payment will be refunded, apart from the
      deposit{% if price_deposit %} of £{{ price_deposit }}{% endif %}.</p>

    <p>If we are forced to cancel the camp for some reason, you will receive a full
      refund.</p>

  {% endif %}

  {% include 'cciw/bookings/help.html' %}

{% endblock %}
