<table class="topheaders responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Camp</th>
      <th>Dates</th>
      <th>Cost</th>
      {% if show_manage_button %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  {% for booking in bookings %}
    <tr>
      <td data-label="Name">{{ booking.name }}</td>
      <td data-label="Camp">
        {% spaceless %}
          <span class="with-camp-colors-{{ booking.camp.slug_name }}">
            <a href="{{ booking.camp.get_absolute_url }}">{{ booking.camp.url_id }}</a>
          </span>
        {% endspaceless %}
        &nbsp;({{ booking.camp.leaders_formatted }})
      </td>
      <td data-label="Dates">{{ booking.camp.nice_dates }}</td>
      <td data-label="Cost">£{{ booking.amount_due }}</td>
      {% if show_manage_button %}
        <td data-label="Manage">
          <button
            id="id_manage_booking_button_{{ booking.id }}"
            type="button"
            class="text-button"
            hx-trigger="click"
            hx-get="{% url 'cciw-bookings-manage_queue_booking_modal' booking_id=booking.id %}"
            hx-target="body"
            hx-swap="beforeend"
          >⋮</button>
        </td>
      {% endif %}
    </tr>

  {% endfor %}
</table>
