{% load static %}
<tr data-booking-id="{{ booking.id }}">
  <td>
    {{ booking.name }}
  </td>
  <td>
    <span class="with-camp-colors-{{ booking.camp.slug_name }}"><a href="{% url 'cciw-cciwmain-camps_detail' year=booking.camp.year slug=booking.camp.slug_name %}">Camp {{ booking.camp.name }}</a></span> &nbsp;{{ booking.camp.leaders_formatted }},
    {{ booking.camp.start_date|date:"j M Y" }}
  </td>
  <td class="price">
    {% if booking.amount_due_confirmed|default_if_none:"None" == "None" %}TBA{% else %}£{{ booking.amount_due_confirmed }}{% endif %}
  </td>
  <td {% if showproblems %} rowspan="2" {% endif %} class="bookinglistaction">
    <input
      type="submit"
      name="edit"
      class="compactButton"
      hx-trigger="click"
      hx-post="."
      hx-vals='{"booking_id": {{ booking.id }}, "edit": "true" }'
      hx-swap="none"
      value="View/edit">
    <br>
    {% if show_save_for_later %}
      <input
        type="submit"
        name="shelve"
        class="compactButton"
        hx-trigger="click"
        hx-post="."
        hx-vals='{"booking_id": {{ booking.id }}, "shelve": "true", "use_block": ["content"] }'
        hx-target="#contentinner"
        hx-swap="innerHTML"
        value="Save for later"
      ><br>
    {% endif %}
    {% if show_move_to_basket %}
      <input
        type="submit"
        name="unshelve"
        class="compactButton"
        hx-trigger="click"
        hx-post="."
        hx-vals='{"booking_id": {{ booking.id }}, "unshelve": "true", "use_block": ["content"] }'
        hx-target="#contentinner"
        hx-swap="innerHTML"
        value="Move to basket"
      ><br>
    {% endif %}
    <input
      type="submit"
      name="delete"
      class="compactButton"
      hx-trigger="click"
      hx-post="."
      hx-confirm="Delete this booking for {{ booking.name }}?"
      hx-vals='{"booking_id": {{ booking.id }}, "delete": "true", "use_block": ["content"] }'
      hx-target="#contentinner"
      hx-swap="innerHTML"
      value="Delete"
    >
  </td>
</tr>
{% if showproblems %}
  <tr class="problemssection">
    <td colspan="3">
      <div>Status:
        {% if booking.bookable %}
          <img class="booking-ok-icon" src="{% static "admin/img/icon-yes.svg" %}">
          No problems with this booking.
        {% else %}
          <img class="booking-error-icon" src="{% static "admin/img/icon-no.svg" %}">
          This place cannot be booked.
        {% endif %}
      </div>

      {% if booking.problems %}
        <table class="topheaders">
          <thead>
            <tr>
              <th>Issue</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for problem in booking.problems %}
              <tr>
                <td>{{ problem.description }}</td>
                <td>
                  <nobr>
                    {% if problem.blocker %}
                      <img class="booking-error-icon" src="{% static "admin/img/icon-no.svg" %}">
                    {% elif problem.warning %}
                      <img class="booking-warning-icon" src="{% static "admin/img/icon-alert.svg" %}">
                    {% else %}
                      {# for approvals that have been granted #}
                      <img class="booking-ok-icon" src="{% static "admin/img/icon-yes.svg" %}">
                    {% endif %}
                    <i>{{ problem.status_display }}</i>
                  </nobr>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% endif %}
    </td>

  </tr>
{% endif %}
