<p>
  <table class="prices">
    {% if price_early_bird_discount %}
      <tr>
        <td></td>
        <td></td>
        <td>
          {% if booking_open and not early_bird_available %}
            <s>Early bird discount</s>
            <br>(too late, sorry!)
          {% else %}
            <b>Early bird discount</b>
          {% endif %}
        </td>
      </tr>
    {% endif %}

    {% for caption, price, discounted_price in price_list %}
      <tr>
        <td>{{ caption }}</td>
        <td>£{{ price }}</td>
        {% if discounted_price %}
          <td>
            {% if booking_open and not early_bird_available %}
              <s>£{{ discounted_price }}</s>
            {% else %}
              <b>£{{ discounted_price }}</b>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</p>
