{# This form is loaded dynamically at the bottom of the add_place.html template #}
<dialog id="id_use_existing_data_modal" data-onload-showmodal>
  <div class="columns-space-between">
    <h1>Copy previous information</h1>
    <form method="dialog" class="dialog-close-form"><button class="dialog-close">Close</button></form>
  </div>

  <div id="dialog-content-main">
    <p>You can copy information previously entered to save time. Please note:</p>

    <ul>
      <li>This will overwrite existing data on this form for the selected sections</li>
      <li><strong>Remember to check the data after using this to ensure it is all up to date</strong>
      </li>
    </ul>

    <div>
      Select previous booking to copy from:
    </div>
    <div>
      <form>
        {{ form.as_p }}
        <div>
          <button
            name="copy"
            type="submit"
            hx-get="{{ reuse_data_url }}"
            hx-target="#id_addplaceform"
            hx-swap="outerHTML"
            hx-vals='{"use_block": "form-block"}'
            hx-include="#id_addplaceform,#id_use_existing_data_modal form"
          >
            Copy details
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
