{% extends "cciw/base" %}
{% block title %}CCIW: Page Not Found{% endblock %}
{% block main %}
	<div id="mainbase">
		<div id="pageTitle">
			<h1>404: Page Not Found</h1>
		</div>
		<div id="contentBody">
			<p>The page at this address has not been found.
			If you arrived at this page from another link
			within the website, the web master will have been notified
			of the problem.  Otherwise, if you think the page
			should be here, please notify the web master.</p>
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
