{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>500 Internal Server Error</title>
    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "css/adminextra.scss" %}" />
    {% endcompress %}
    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>
  <body>

    <!-- Container -->
    <div id="container">


      <!-- Header -->
      <div id="header">
        <div id="branding">
          <div id="headerlogo">
            <div id="helplink"><a href="mailto:webmaster@cciw.co.uk">Help</a></div>
          </div>
        </div>
      </div>
      <!-- END Header -->

      <!-- Content -->
      <div id="content" class="colMS">

        <h1>500 Internal Server Error</h1>

        <div id="content-main">
          <p>Something went wrong!  Oops.</p>

          <p>It could be a temporary fault, caused by our database system going down.  Or
            it could be that you've discovered a bug in our system, in which case you win
            an ice cream, hurray!</p>

          <p>The webmaster should already have been notified of the full details of the
            problem, but if the fault persists,
            please <a href="mailto:webmaster@cciw.co.uk">contact us directly</a> (and
            claim your ice cream — we can send it in the post :-).
          </p>

          <p>If you were in the middle of submitting some data, you can press the
            'Back' button in your browser to go back to the page with the data.</p>

        </div>



        <br class="clear" />
      </div>
      <!-- END Content -->

      <div id="footer"></div>
    </div>
    <!-- END Container -->

  </body>
</html>
