{% extends "cciw/officers/modal_dialog.html" %}

{% block title %}Add DBS check for {{ officer.full_name }}{% endblock %}

{% block content %}
  <form
    hx-post="{{ request.get_full_path }}"
    hx-target="#dialog-content-main"
    hx-vals='{"use_block": "content"}'
  >
    <div class="tabular-form">
      {{ form.as_div }}
    </div>
    <p>
      <input type="submit" name="save" value="Save" />
      <input type="submit" name="cancel" value="Cancel" formnovalidate />
    </p>
  </form>
{% endblock %}
