{% extends "admin/base_site.html" %}
{% load static %}
{% load officer_utils %}

{% block title %}{{ title }} | CCiW Officers{% endblock %}

{% block branding %}
  <h1 id="site-name">CCiW Officers</h1>
{% endblock %}

{% block breadcrumbs %}
  {% officers_breadcrumbs %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "js/htmx-1.8.4.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/hyperscript-0.9.7.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/modernizr.custom.08138.js" %}"></script>
  {% if form %}
    {{ form.media }}
  {% endif %}
{% endblock %}
