{% extends "admin/base_site.html" %}
{% load static %}
{% load officer_utils %}

{% block title %}{{ title }} | CCiW Officers{% endblock %}

{% block branding %}
  <h1 id="site-name">CCiW Officers</h1>
{% endblock %}

{% block breadcrumbs %}
  {% officers_breadcrumbs %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "js/htmx-1.8.6.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/hyperscript-0.9.7.min.js" %}"></script>
  {% if form %}
    {{ form.media }}
  {% endif %}
{% endblock %}


{% block footer %}
  {{ block.super }}
  <div id="modal-dialog-container"></div>

  <script type="text/javascript">
    document.body.addEventListener("htmx:afterSettle", function(detail) {
      var loadedNodes = detail.target.children;
      if (loadedNodes && loadedNodes.length == 1 && loadedNodes[0].tagName == "DIALOG") {
        loadedNodes[0].showModal();
      };
    });

    document.body.addEventListener('closeModal', function(evt) {
      $('#modal-dialog-container > dialog')[0].close();
    });

  </script>
{% endblock %}
