{% extends "admin/base_site.html" %}
{% load static %}
{% load officer_utils %}

{% block title %}{{ title }} | CCiW Officers{% endblock %}

{% block branding %}
  <h1 id="site-name">CCiW Officers</h1>
{% endblock %}

{% block breadcrumbs %}
  {% officers_breadcrumbs %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "js/htmx-2.0.8.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/hyperscript-0.9.7.min.js" %}"></script>
  {% if form %}
    {{ form.media }}
  {% endif %}
{% endblock %}


{% block footer %}
  {{ block.super }}
  <div id="modal-dialog-container"></div>

  <script type="text/javascript">
    document.body.addEventListener("htmx:afterSettle", function(detail) {
      const loadedNodes = detail.target.children;
      if (loadedNodes && loadedNodes.length == 1 && loadedNodes[0].tagName == "DIALOG") {
        const dialog = loadedNodes[0];
        dialog.addEventListener("close", (event) => {
          // Remove dialog to ensure it can't interfere with anything or block
          // interaction. This is in addition to CSS `pointer-events: none`
          // on the dialog element which has the same purpose, but there may not
          // be complete browser support for both.
          dialog.remove();
        });
        dialog.showModal();
      };
    });

    document.body.addEventListener('jsCloseModal', function(evt) {
      $('#modal-dialog-container > dialog')[0].close();
    });
    document.body.setAttribute('hx-headers', '{"X-CSRFToken": "{{ csrf_token }}"}');
  </script>
{% endblock %}
