{% extends "cciw/officers/base.html" %}

{% block content %}

  {% if ranked_queue_bookings %}
    <table class="topheaders">
      <thead>
        <tr>
          <th>Place</th>
          <th>First name</th>
          <th>Last name</th>
          <th>
            <span
              title="This should be checked if the booking is for a child of someone who is an officer on the same camp."
            >Officer child</span>
          </th>
          <th>
            <span
              title="The position in the queue, this is always '1' for those who book within the initial period. Lower is better."
            >Queue position</span>
          </th>
          <th>
            <span
              title="The number of times they have previously been on camp. A higher number is better."
            >
              Previous attendance
            </span>
          </th>
          <th>
            <span
              title="This is a random number assigned to each booking as our 'lottery' system. Lower is better."
            >Tiebreaker
            </span>
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      {% partialdef bookings-table-body inline %}
        <tbody id="id_bookings_table">
          {% for booking in ranked_queue_bookings %}
            {% include "cciw/officers/booking_queue_row_inc.html" with booking=booking %}
          {% endfor %}
        </tbody>
      {% endpartialdef %}
    </table>
  {% else %}
    <p>No bookings in the queue.</p>
  {% endif %}

  <style>
    table {
      span[title] {
        text-decoration: underline dotted;
        cursor: help;
      }
      input[type=submit] {
        padding: 3px 6px;
        margin: 0;
      }
    }

  </style>
{% endblock %}
