{% extends "cciw/officers/stats_base.html" %}
{% block title %}Booking progress stats {% if start_year %}{{ start_year }}-{{ end_year }}{% endif %} | CCiW Officers{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Booking progress {% if start_year %}{{ start_year }}-{{ end_year }}{% endif %}</h1>

    <div style="width:800px;height:400px;"
      data-chart="{{ dates_chart_data }}"
      data-booking-progress-stats-chart-placeholder="true"
    >
    </div>

    <div style="width:800px;height:400px;"
      data-chart="{{ rel_days_chart_data }}"
      data-booking-progress-stats-chart-placeholder="true"
    >
    </div>

    <h2>Data</h2>

    <p>Download raw data:
      {% if camp_ids %}
        <a href="{% url 'cciw-officers-booking_progress_stats_custom_download' camp_ids=camp_ids %}?format=xls">XLS</a></p>
      {% else %}
        <a href="{% url 'cciw-officers-booking_progress_stats_download' start_year=start_year end_year=end_year %}?format=xls">XLS</a></p>
      {% endif %}
    </div>
{% endblock %}
