{% extends "cciw/officers/stats_base.html" %}
{% block title %}Booking summary stats {{ start_year }}-{{ end_year }} | CCiW Officers{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Booking summary {{ start_year }}-{{ end_year }}</h1>

    <div style="width:800px;height:400px;"
      data-chart="{{ chart_data }}"
      data-booking-summary-stats-chart-placeholder="true"
    >
    </div>

    <h2>Data</h2>

    <p>Download raw data: <a href="{% url 'cciw-officers-booking_summary_stats_download' start_year=start_year end_year=end_year %}?format=xls">XLS</a></p>

  </div>
{% endblock %}
