{% extends "cciw/officers/base.html" %}

{% block content %}
  <h2>Camps</h2>
  <table class="data">
    <tr>
      <th rowspan=2>Camp</th>
      <th rowspan=2>Maximum</th>
      <th colspan=3>Confirmed</th>
      {# TODO #52 - queue? #}
    </tr>
    <tr>
      <th>All</th>
      <th>Boys</th>
      <th>Girls</th>
    </tr>


    {% for camp in camps %}
      <tr>
        <td>{{ camp }}</td>
        <td>{{ camp.max_campers }}</td>
        <td>{{ camp.confirmed_bookings|length }}</td>
        <td>{{ camp.confirmed_bookings_boys|length }}</td>
        <td>{{ camp.confirmed_bookings_girls|length }}</td>
      </tr>

    {% endfor %}
  </table>


  <h2>Bookings needing approval</h2>
  {% if to_approve %}
    <table class="data">
      <tr>
        <th>Account</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Camper name</th>
        <th>Reason</th>
        <th>Edit</th>
      </tr>

      {% for b in to_approve %}
        <tr>
          <td>{{ b.account.name }}</td>
          <td>{{ b.account.email }}</td>
          <td>{{ b.account.phone_number }}</td>
          <td>{{ b.name }}</td>
          <td>
            {{ b.saved_approvals_needed_summary }}
          </td>
          <td><a href="{% url 'admin:bookings_booking_change' b.id %}" target="_blank">Edit</a></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>None found.</p>
  {% endif %}


  <h2>Outstanding fees</h2>

  {% if bookings %}

    <p>This list shows accounts that need attention:</p>
    <ul>
      <li>Either due to overpayment</li>
      <li>Or late payment</li>
    </ul>

    <p>Accounts where the full amount is not yet due will not be included. The
      “balance due” can be less than the “balance” if the full amount is not
      required at this point in time. Places booked this year are shown for
      reference, but the balance may include under-payment from previous years.
    </p>

    <table class="data outstanding-fees">
      <tr>
        <th>Account</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Balance</th>
        <th>Balance due</th>
        <th>Camper name</th>
        <th>Camp</th>
        <th>Place cost</th>
      </tr>

      {% for b in bookings %}
        <tr>
          {% ifchanged b.account.id %}
            <td rowspan="{{ b.count_for_account }}"><a href="{% url 'admin:bookings_bookingaccount_change' b.account.id %}">{{ b.account.name }}</a></td>
            <td rowspan="{{ b.count_for_account }}">{{ b.account.email }}</td>
            <td rowspan="{{ b.count_for_account }}">{{ b.account.phone_number }}</td>
            <td rowspan="{{ b.count_for_account }}">{{ b.account.calculated_balance }}
              {% if b.account.calculated_balance < 0 %}<b>(overpaid)</b>{% endif %}</td>
            <td rowspan="{{ b.count_for_account }}">
              {% if b.account.calculated_balance >= 0 and b.account.calculated_balance_due > 0 %}
                <b>{{ b.account.calculated_balance_due }}</b>
              {% endif %}
            </td>
          {% endifchanged %}
          <td><a href="{% url 'admin:bookings_booking_change' b.id %}">{{ b.name }}</a></td>
          <td>{{ b.camp.name }}</td>
          <td>£{{ b.amount_due }}</td>
        </tr>
      {% endfor %}

    </table>

  {% else %}
    <p>None found.</p>
  {% endif %}

  <h2>Export</h2>

  <h3>Bookings</h3>
  <p>Bookings data {{ year }}: <a
    href="{% url 'cciw-officers-export_camper_data_for_year' year %}"
    hx-get="{% url 'cciw-officers-export_camper_data_for_year' year %}"
    hx-target="#modal-dialog-container"
  >XLS</a></p>

  <h3>Payments</h3>
  <p>For {{ export_start|date:"j F Y" }} to  {{ export_end|date:"j F Y" }}: <a href="{{ export_data_link }}">XLS</a></p>

  <p>Or - choose custom dates:</p>
  <form method="GET" action="{% url 'cciw-officers-export_payment_data' %}">
    <p>From: <input type="date" name="start" value="{{ export_start|date:"Y-m-d" }}" required>
      to: <input type="date" name="end" value="{{ export_end|date:"Y-m-d" }}" required></p>
    <p><input type="submit" name="submit" value="Export"></p>
  </form>

  <h2>Charts</h2>

  <p><a href="{% url 'cciw-officers-booking_progress_stats' start_year=stats_start_year end_year=year %}">Progress stats {{ stats_start_year }}-{{ year }}</a></p>

  <p><a href="{% url 'cciw-officers-booking_summary_stats' start_year=stats_start_year end_year=year %}">Summary stats {{ stats_start_year }}-{{ year }}</a></p>

{% endblock %}
