{% extends "cciw/officers/base.html" %}

{% block title %}Bookings {{ year }} | CCIW Officers{% endblock %}

{% block content %}
<h1>Bookings {{ year }}</h1>

<h2>Camps</h2>
<table class="data">
  <tr>
    <th rowspan=2>Camp</th>
    <th rowspan=2>Booked</th>
    <th colspan=3>Confirmed</th>
  </tr>
  <tr>
    <th>All</th>
    <th>Boys</th>
    <th>Girls</th>
  </tr>


{% for camp in camps %}
  <tr>
    <td>{{ camp }}</td>
    <td>{{ camp.booked_places|length }}</td>
    <td>{{ camp.confirmed_bookings|length }}</td>
    <td>{{ camp.confirmed_bookings_boys|length }}</td>
    <td>{{ camp.confirmed_bookings_girls|length }}</td>
  </tr>

{% endfor %}
</table>


<h2>Bookings needing approval</h2>
{% if to_approve %}
<table class="data">
  <tr>
    <th>Account</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Camper name</th>
    <th>Reason</th>
    <th>Edit</th>
  </tr>

  {% for b in to_approve %}
  <tr>
    <td>{{ b.account.name }}</td>
    <td>{{ b.account.email }}</td>
    <td>{{ b.account.phone_number }}</td>
    <td>{{ b.name }}</td>
    <td>
      {% if b.serious_illness %}Serious illness<br/>{% endif %}
      {% if b.is_custom_discount %}Custom discount<br/>{% endif %}
    </td>
    <td><a href="{% url 'admin:bookings_booking_change' b.id %}" rel="external">Edit</a></td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>None found.</p>
{% endif %}


<h2>Outstanding fees</h2>

{% if bookings %}

<p>This list shows accounts that need attention:</p>
<ul>
  <li>Either due to overpayment</li>
  <li>Or late payment</li>
</ul>

<p>Accounts where deposits have been paid, and the full amount is not yet due,
will not be included. The “balance due” can be less than the “balance” if only
the deposit is required at this point in time. Places booked this year are shown
for reference, but the balance may include under-payment from previous years.
</p>

<table class="data outstanding-fees">
  <tr>
    <th>Account</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Balance</th>
    <th>Balance due</th>
    <th>Camper name</th>
    <th>Camp</th>
    <th>Place cost</th>
  </tr>

  {% for b in bookings %}
  <tr>
    {% ifchanged b.account.id %}
    <td rowspan="{{ b.count_for_account }}"><a href="{% url 'admin:bookings_bookingaccount_change' b.account.id %}">{{ b.account.name }}</a></td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.email }}</td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.phone_number }}</td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.calculated_balance }}
    {% if b.account.calculated_balance < 0 %}<b>(overpaid)</b>{% endif %}</td>
    <td rowspan="{{ b.count_for_account }}">
      {% if b.account.calculated_balance >= 0 and b.account.calculated_balance_due > 0 %}
        <b>{{ b.account.calculated_balance_due }}</b>
      {% endif %}
    </td>
    {% endifchanged %}
    <td>{{ b.name }}</td>
    <td>{{ b.camp.number }}</td>
    <td>£{{ b.amount_due }}</td>
  </tr>
  {% endfor %}

</table>

{% else %}
<p>None found.</p>
{% endif %}

<h2>Export</h2>

<p><a href="{{ export_data_link }}">Payment data for {{ export_start|date:"j F Y" }} to  {{ export_end|date:"j F Y" }} (xls)</a></p>

{% endblock %}
