<tr data-booking-id="{{ booking.id }}"
    hx-inherit="*"
    hx-vals='{"booking_id": "{{ booking.id }}"}'
    hx-target="this"
    hx-swap="outerHTML"
    hx-include="this"
>
  {% if not edit_queue_entry_mode %}
    <td {% if booking.rank_info.cutoff_state == "A" %}
          class="to-accept"
        {% endif %}
    >{{ booking.rank_info.cutoff_state }}</td>
    <td>{{ booking.first_name }}</td>
    <td>{{ booking.last_name }}</td>
    <td>{% if booking.queue_entry.officer_child %}✔️{% endif %}</td>
    <td>{% if booking.queue_entry.first_timer_allocated %}✔️{% endif %}</td>
    <td>
      {% partialdef otherplace inline %}
        {% if booking.rank_info.has_other_place_booked %}❌{% elif booking.rank_info.has_other_place_in_queue %}
          <span title="No other place booked yet, but they are in the queue for another camp, which will push them down if that place is booked."><b>?</b></span>
        {% endif %}
      {% endpartialdef %}
    </td>
    <td>{{ booking.rank_info.queue_position_rank }}</td>
    <td>{{ booking.rank_info.previous_attendance_score }}</td>
    <td>{% if booking.rank_info.in_previous_year_waiting_list %}✔️{% endif %}</td>
    <td>{{ booking.rank_info.sibling_bonus }}</td>
    <td>{{ booking.queue_entry.tiebreaker_display }}</td>
    <td>
      <input
        type="submit" name="edit-queue-entry" value="Edit queue details"
        hx-post="{% url 'cciw-officers-booking_queue_row' camp_id=camp.url_id %}"

      >
      {% if can_edit_bookings %}
        &nbsp;
        <a href="{% url 'admin:bookings_booking_change' booking.id %}" target="_blank">Edit booking</a>
      {% endif %}
    </td>
  {% else %}
    <td></td>
    <td>{{ booking.first_name }}</td>
    <td>{{ booking.last_name }}</td>
    <td>
      <label>Officer child: {{ form.officer_child }}</label>
    </td>
    <td>
      <label>First timer: {{ form.first_timer_allocated }}</label>
    </td>
    <td>{% partial otherplace %}</td>
    <td>{{ booking.rank_info.queue_position_rank }}</td>
    <td>{{ booking.rank_info.previous_attendance_score }}</td>
    <td>{% if booking.rank_info.in_previous_year_waiting_list %}✔️{% endif %}</td>
    {# MAYBE we should have some UI for fixing sibling fuzzy matching? #}
    <td>{{ booking.rank_info.sibling_bonus }}</td>
    <td>{{ booking.queue_entry.tiebreaker_display }}</td>
    <td>
      <input
        type="submit" name="save-queue-entry" value="Save"
        hx-post="{% url 'cciw-officers-booking_queue_row' camp_id=camp.url_id %}"
      >
      <input
        type="submit" name="cancel-edit-queue-entry" value="Cancel"
        hx-post="{% url 'cciw-officers-booking_queue_row' camp_id=camp.url_id %}"
      >
      {% if form.errors %}
        <br>
        {% for k, error in form.errors.items %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </td>
  {% endif %}
</tr>
