{% extends "cciw/officers/base.html" %}
{% load url from future %}

{% block title %}Bookings {{ year }} | CCIW Officers{% endblock %}

{% block content %}
<h1>Bookings {{ year }}</h1>

<h2>Camps</h2>
<table class="data">
  <tr>
    <th rowspan=2>Camp</th>
    <th rowspan=2>Booked</th>
    <th colspan=3>Confirmed</th>
  </tr>
  <tr>
    <th>All</th>
    <th>Boys</th>
    <th>Girls</th>
  </tr>


{% for camp in camps %}
  <tr>
    <td>{{ camp }}</td>
    <td>{{ camp.bookings.all|length }}</td>
    <td>{{ camp.confirmed_bookings|length }}</td>
    <td>{{ camp.confirmed_bookings_boys|length }}</td>
    <td>{{ camp.confirmed_bookings_girls|length }}</td>
  </tr>

{% endfor %}
</table>


<h2>Outstanding fees</h2>
<table class="data">
  <tr>
    <th>Account</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Balance due</th>
    <th>Camper name</th>
    <th>Camp</th>
    <th>Place cost</th>
  </tr>

  {% for b in bookings %}
  <tr>
    {% ifchanged b.account.id %}
    <td rowspan="{{ b.count_for_account }}">{{ b.account.name }}</td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.email }}</td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.phone_number }}</td>
    <td rowspan="{{ b.count_for_account }}">{{ b.account.calculated_balance }}</td>
    {% endifchanged %}
    <td>{{ b.name }}</td>
    <td>{{ b.camp.number }}</td>
    <td>{{ b.amount_due }}</td>
  </tr>
  {% endfor %}

</table>
{% endblock %}
