{% load capture %}

<ul>
  {% for c in camps %}
    <li>{{ c }}:
      {% if c.year == thisyear %}
        <br />&nbsp;&nbsp;&nbsp;<a href="{% url 'admin:cciwmain_camp_change' c.id %}">Edit camp details</a>
      {% endif %}
      <br />&nbsp;&nbsp;&nbsp;<a href="{% url 'cciw-officers-officer_list' camp_id=c.url_id %}">Officer list</a>
      <br />&nbsp;&nbsp;&nbsp;<a href="{% url 'cciw-officers-manage_applications' camp_id=c.url_id %}">Applications</a>
      <br />&nbsp;&nbsp;&nbsp;<a href="{% url 'cciw-officers-manage_references' camp_id=c.url_id %}">References</a>
      <br />&nbsp;&nbsp;&nbsp;<a href="{% url 'cciw-officers-officer_stats' year=c.year %}">Officer stats {{ c.year }}</a>
      <br />&nbsp;&nbsp;&nbsp;Campers:
      <a
        href="{% url 'cciw-officers-export_camper_data' camp_id=c.url_id %}?format=xls"
        hx-get="{% url 'cciw-officers-export_camper_data' camp_id=c.url_id %}?format=xls"
        hx-target="#camp-download-notice-{{ c.id }}"
        hx-indicator="#camp-download-notice-{{ c.id }}"
      >XLS</a> |
      <a
        href="{% url 'cciw-officers-export_camper_data' camp_id=c.url_id %}?format=ods"
        hx-get="{% url 'cciw-officers-export_camper_data' camp_id=c.url_id %}?format=ods"
        hx-target="#camp-download-notice-{{ c.id }}"
        hx-indicator="#camp-download-notice-{{ c.id }}"
      >ODS</a> |
      <a href="{% url 'cciw-officers-booking_progress_stats_custom' camp_ids=c.camp_ids_for_stats %}">Booking progress chart</a> |
      <a href="{% url 'cciw-officers-booking_ages_stats_custom' camp_ids=c.camp_ids_for_stats %}">Camper ages chart</a>
      <br />&nbsp;&nbsp;&nbsp;Sharable transport details:
      <a
        href="{% url 'cciw-officers-export_sharable_transport_details' camp_id=c.url_id %}?format=xls"
        hx-get="{% url 'cciw-officers-export_sharable_transport_details' camp_id=c.url_id %}?format=xls"
        hx-target="#camp-download-notice-{{ c.id }}"
        hx-indicator="#camp-download-notice-{{ c.id }}"
      >XLS</a> |
      <a
        href="{% url 'cciw-officers-export_sharable_transport_details' camp_id=c.url_id %}?format=ods"
        hx-get="{% url 'cciw-officers-export_sharable_transport_details' camp_id=c.url_id %}?format=ods"
        hx-target="#camp-download-notice-{{ c.id }}"
        hx-indicator="#camp-download-notice-{{ c.id }}"
      >ODS</a>

      <div id="camp-download-notice-{{ c.id }}"></div>
    </li>
  {% endfor %}

</ul>
