{% extends "cciw/officers/modal_dialog.html" %}

{% block title %}Correct referee details for {{ referee }}{% endblock %}

{% block content %}
  <p>Please correct the details for {{ referee.name }} for applicant {{ referee.application.full_name }}:</p>

  <form
    hx-post="{{ request.get_full_path }}"
    hx-target="#dialog-content-main"
    hx-vals='{"use_block": "content"}'
  >
    <div class="tabular-form">
      {{ form.as_div }}
    </div>
    <div class="submitrow">
      <input type="submit" name="save" value="Save">
      <input type="submit" name="cancel" value="Cancel" formnovalidate>
    </div>
  </form>
{% endblock %}
