{% extends "cciw/officers/modal_dialog.html" %}

{% block title %}Correct referee details for {{ referee }}{% endblock %}

{% block content %}
  {{ block.super }}

  <p>Please correct the details for {{ referee.name }} for applicant {{ referee.application.full_name }}:</p>

  <form
    hx-post="{{ post_url }}"
    hx-target="#dialog-content-main"
    hx-vals='{"use_block": "content"}'
  >
    <table>
      {{ form }}
    </table>
    <div>
      <input type="submit" name="save" value="Save">
      <input type="submit" name="cancel" value="Cancel" formnovalidate>
    </div>
  </form>
{% endblock %}
