{% extends "cciw/officers/base.html" %}
{% block breadcrumbs %}{% endblock %}
{% block content %}<div id="content-main">
<h1>Officer's home page</h1>

<h2>Tasks:</h2>
<form action="" method="post">

<ul>
{% if unfinished_applications %}
<li>Continue filling in an application:
<p>The following applications are unfinished and you may continue to edit them.</p>
<div>
<label for="edit_application">Choose application:</label>&nbsp;
	<select name="edit_application" id="edit_application">
	{% for app in unfinished_applications %}
	        <option value="{{ app.id }}">{{ app.camp }}, updated {{ app.date_submitted|date:"Y-m-d" }}</option>
	{% endfor %}
	</select>
	<input type="submit" name="edit" value="Edit" />
</div>
<br/><br/>
</li>
{% endif %}

{% if finished_applications %}
<li>Create new application based on an existing one:<br/>
<label for="new_application">Choose application</label>&nbsp;
	<select name="new_application" id="new_application">
		{% for app in finished_applications %}
			<option value="{{ app.id }}">{{ app.camp }}, updated {{ app.date_submitted|date:"Y-m-d" }}</option>
		{% endfor %}
	</select>
	<input type="submit" name="new" value="Create" />
<br/><br/>
</li>
<p>Once you have created an application based on the selected application,
you will need to <strong>change the selected camp</strong>, update any information
necessary, including your address, and re-check the declarations at the end of the
form.</p>

{% endif %}

<li><a href="/admin/officers/application/add/">Create new application (blank)</a></li>
</ul>



{% if show_leader_links %}
<h2>Leaders' tools</h2>
<ul>
	<li><a href="/admin/officers/application/">View all applications</a><br/><br/></li>
	{% if thisyearscamp %}
	<li><a href="/admin/officers/application/?camp__id__exact={{ thisyearscamp.id }}">View applications for camp {{ thisyearscamp }}</a><br/><br/></li>
	{% endif %}


	{% if applications_for_leader %}
		<li>Resend application as an e-mail to your e-mail address:<br/>
		<label for="resend_application">Choose application</label>&nbsp;
		<select name="resend_application" id="resend_application">
		{% for app in applications_for_leader %}
			<option value="{{ app.id }}">{{ app.full_name }}, {{ app.camp.year }}</option>
		{% endfor %}
		</select>
		<input type="submit" name="resend" value="Resend" /></li>
	{% endif %}
	
</ul>
{% endif %}


</form>
</div>
{% endblock %}
