{% extends "cciw/officers/base.html" %}
{% block content %}<div id="content-main">
<h1>Officer's home page</h1>

<h2>Menu:</h2>
<ul>
  {% if show_booking_secretary_links %}
  <li><a href="/admin/bookings/">Manage bookings</a></li>
  <li><a href="{% url 'cciw.officers.views.booking_secretary_reports' thisyear %}">Booking reports</a></li>
  <li><a href="{% url 'cciw.officers.views.export_camper_data_for_year' thisyear %}?format=xls">Download bookings data (xls)</a></li>
  {% endif %}
  <li><a href="{% url 'cciw.officers.views.applications' %}">Submit/view applications</a></li>
  <li><a href="{% url 'cciw.officers.views.info' %}">Information about camp</a></li>
  {% if show_leader_links %}
    <li><a href="{% url 'cciw.officers.views.leaders_index' %}">Tools for leaders</a></li>
  {% endif %}
  {% if show_secretary_links %}
    <li><a href="{% url 'cciw.officers.views.manage_crbs' thisyear %}">Manage CRBs</a></li>
    <li><a href="{% url 'cciw.officers.views.brochure_mailing_list' thisyear %}">Brochure mailing list ({{ thisyear }})</a></li>
  {% endif %}
  {% if show_admin_link %}
    <li><a href="/admin/">General admin interface</a> (manage camps, camp sites, officers etc)</li>
  {% endif %}
</ul>

</div>
{% endblock %}
