{% extends "cciw/officers/base.html" %}
{% block title %}Information | CCiW Officers {% endblock %}
{% block content %}<div id="content-main">
  <h1>Information for officers</h1>

  <p>The following information is available for officers:</p>

  <ul>
    <li>CCiW handbook

      <ul>
        <li><a target="_blank" href="/officers/files/handbook/Intro%20-%20CCiW%20Safe%20From%20Harm%20Policy.pdf">Intro - CCiW Safe From Harm Policy</a></li>
        <li><a target="_blank" href="/officers/files/handbook/1.%20Officers%20Handbook.pdf">1. Officers Handbook</a></li>
        <li><a target="_blank" href="/officers/files/handbook/2.%20Guidance%20for%20Leaders%20and%20Chaplains.pdf">2. Guidance for Leaders and Chaplains</a></li>
        <li><a target="_blank" href="/officers/files/handbook/3.%20Guidance%20for%20Medical%20and%20First%20Aid.pdf">3. Guidance for Medical and First Aid</a></li>
        <li><a target="_blank" href="/officers/files/handbook/4.%20Guidance%20for%20Site%20and%20Maintenance.pdf">4. Guidance for Site and Maintenance</a></li>
        <li><a target="_blank" href="/officers/files/handbook/5.%20Guidance%20for%20Minibus%20Drivers.pdf">5. Guidance for Minibus Drivers</a></li>
        <li><a target="_blank" href="/officers/files/handbook/6.%20Identifying%20and%20Responding%20to%20Child%20Abuse.pdf">6. Identifying and Responding to Child Abuse</a></li>
        <li><a target="_blank" href="/officers/files/handbook/7.%20Catering%20Manual.pdf">7. Catering Manual</a></li>
        <li><a target="_blank" href="/officers/files/handbook/8.%20Doctrinal%20Basis.pdf">8. Doctrinal Basis</a></li>
      </ul>
    </li>
    {% if show_wiki_link %}
      <li><a href="/wiki/">CCiW wiki</a></li>
    {% endif %}
  </ul>

{% endblock %}
