<div id="officerref{{ ref.id }}" class="referencesection">
  <h3 class="referencestart">
    {{ ref.application.officer.first_name }} {{ ref.application.officer.last_name }}
    &nbsp;&nbsp;<a href="{% url 'cciw-officers-officer_history' officer_id=ref.application.officer.id %}"
        target="_blank"
       >full history</a>
  </h3>
  <div class="referenceactions">
    {% with actions=ref.actions.all %}
      {% if actions %}
        <h4>History</h4>
        <table>
          {% for action in ref.actions.all %}
            <tr>
              <td>{{ action.created|date:"Y-m-d H:i" }}</td>
              <td>{{ action.created|timesince }} ago</td>
              <td>{{ action.get_action_type_display }}</td>
              <td>{% if action.user %}by {{ action.user.username }}{% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    {% endwith %}
  </div>
  <h4 class="refereename">From: {{ ref.referee.name }}</h4>

  <div class="referencemode" style="display:none;">{{ mode }}</div>
  <div class="reference">
    {% if ref.received %}
      <div class="good"><strong>Received</strong></div>
    {% else %}
      {% if ref.requested %}
        <div class="ok"><strong>Requested</strong></div>
        {% if ref.last_requested %}
          <div>Last requested: <b> {{ ref.last_requested|timesince }} ago</b></div>
        {% endif %}
      {% else %}
        <div><strong>Not requested</strong></div>
      {% endif %}
    {% endif %}

    {% if mode == "received" %}
      <p><a href="{% url 'cciw-officers-view_reference' ref_id=ref.id %}" target="_blank">View reference from {{ ref.referee.name }}</a>
        <br/><span class="referencebutton"><button
    onclick="manageReferenceManually({{ ref.id }});">Manage reference manually</button></span>
      </p>
    {% else %}
      <p>Ask for reference{% if mode == "requested" %} again{% endif %} - choose from the options:</p>
      <ul>
        {% if mode == "requested" %}
          <li>Ask {{ ref.application.officer.first_name }} to prompt their referee:
            <span class="referencebutton">
              <button onclick="nagByOfficer({{ ref.id }});">Get {{ ref.application.officer.first_name }} to do the nagging</button>
            </span>
          </li>

        {% endif %}
        {% if ref.previous_reference %}
          <li>{{ ref.referee.name }} {% if ref.referee.email %}&lt;{{ ref.referee.email }}&gt;{% endif %}
            has done a reference for {{ ref.application.officer.first_name}} before, so:
            <span class="referencebutton">
              <button onclick="requestUpdate({{ ref.id }}, {{ ref.previous_reference.id }});">Request updated reference{% if mode == "requested" %} (again){% endif %}</button>
            </span>
          </li>
        {% else %}
          <li>{{ ref.referee.name }} {% if ref.referee.email %}&lt;{{ ref.referee.email }}&gt;{% endif %}
            has not done an online reference for {{ ref.application.officer.first_name}} before, so:
            <span class="referencebutton"><button
    onclick="requestReference({{ ref.id }});">Request reference{% if mode == "requested" %} (again){% endif %}</button></span>
          </li>
        {% endif %}

        {% if ref.possible_previous_references %}
          <li>{{ ref.referee.name }}
            <strong>has</strong> done a reference for {{ ref.application.officer.first_name }} before.<br />
            There are no exact matches for "{{ ref.referee.name }}
            &lt;{{ ref.referee.email }}&gt;", but if one of the previous references
            submitted for this officer is actually by the same person, please select:<br />
            <select  name="ref_opts_{{ ref.id }}" id="id_ref_opts_{{ ref.id }}">
              {% for opt in ref.possible_previous_references %}
                <option value="{{ opt.id }}"
                        {% if forloop.first %}selected="selected"{% endif %}>
                  {{ opt.referee.name }} &lt;{{ opt.referee.email }}&gt;
                  ({{ opt.application.date_submitted|date:"Y" }})
                </option>
              {% endfor %}
            </select>
            <span class="referencebutton"><button
    onclick="requestUpdateCustom({{ ref.id }});">Request updated reference{% if mode == "requested" %} (again){% endif %}</button></span>
          </li>
        {% endif %}

        <li>{{ ref.referee.name }} can't do references using the online system, so:
          <span class="referencebutton"><button
    onclick="manageReferenceManually({{ ref.id }});">Manage reference manually</button></span>
        </li>
      </ul>

    {% endif %}

  </div>
  <p>If you need to amend details of the referee, <a href="/admin/officers/application/{{ ref.application_id }}/" target="_blank">view/edit officer's application form</a></p>
</div>
