{% extends "cciw/officers/base.html" %}
{% load reference_utils csrf %}
{% block title %}Manage references :: CCIW{% endblock %}
{% block extrastyle %}{{ block.super }}
<script type="text/javascript">
<!--

function toggleAddress(ev) {
    var addrblock = ev.src().nextSibling;
    if (hasElementClass(addrblock, "hidden")) {
        removeElementClass(addrblock, "hidden");
    } else {
        addElementClass(addrblock, "hidden");
    }
}

function toggleRefControls(ev) {
    var refcontrols = ev.src().nextSibling;
    if (hasElementClass(refcontrols, "hidden")) {
        removeElementClass(refcontrols, "hidden");
    } else {
        addElementClass(refcontrols, "hidden");
    }
}


function addToggleHandlers(ev) {
    var elems = getElementsByTagAndClassName("div", "firstline");
    for (var i = 0; i < elems.length; i++) {
        connect(elems[i], 'onclick', toggleAddress);
    }
    elems = getElementsByTagAndClassName("div", "refdetails");
    for (var i = 0; i < elems.length; i++) {
        connect(elems[i], 'onclick', toggleRefControls);
    }
}

connect(window, 'onload',
        function(ev) {
            addToggleHandlers();
        }
)

function requestGeneric(query) {
    window.open('{% url cciw.officers.views.request_reference %}?' + query,
                '_blank',"toolbar=yes,height=600,width=900,location=yes,menubar=yes,scrollbars=yes,resizable=yes");
}

function requestReference(ref_id) {
    requestGeneric('ref_id=' + ref_id.toString());
}

function requestUpdate(ref_id) {
    requestGeneric('ref_id=' + ref_id.toString() + '&update=1');
}

function requestUpdateCustom(ref_id) {
    var s = document.getElementById('id_ref_opts_' + ref_id.toString());
    if (s.selectedIndex == -1) {
        alert("Please select an option");
    } else {
        var val = s.options[s.selectedIndex].value;
        requestGeneric('ref_id=' + ref_id.toString() + '&update=1&prev_ref_id=' + val);
    }
}

//-->
</script>
{% endblock %}

{% block content %}<div id="content-main">

<h1>Manage references</h1>
<h2>For camp {{ camp }}</h2>

<p>This page allows you to request references for officers who have submitted
  application forms. References that have not been requested are at the top,
  those that have been requested are in the middle, and those that have been
  received are at the bottom.  Within each section they are sorted
  alphabetically by first name.
</p>

<p>For each reference that needs to be requested, choose from the options.  An
  option only appears if it is possible, and the most likely option is listed
  first.</p>

<p>All of the 'request' action buttons open new windows in which you may need to
  edit a default e-mail and confirm.</p>

<p>If the referee does not respond quickly, you can request the reference
  again.</p>

{% if message %}
<p><strong>{{ message }}</strong></p>
{% endif %}

<h2>References to be requested</h2>

{% for ref in notrequested %}

{% with "notrequested" as mode %}
{% include "cciw/officers/manage_reference.html" %}
{% endwith %}

{% empty %}
<p>No outstanding references to be requested.</p>
{% endfor %}

<h2 class="ok">References requested</h2>

{% for ref in requested %}

{% with "requested" as mode %}
{% include "cciw/officers/manage_reference.html" %}
{% endwith %}

{% empty %}
<p>No references requested.</p>
{% endfor %}

<h2 class="good">References received</h2>

{% for ref in received %}

{% with "received" as mode %}
{% include "cciw/officers/manage_reference.html" %}
{% endwith %}

{% empty %}
<p>No references received.</p>
{% endfor %}

</div>
{% endblock %}
