{% extends "cciw/officers/base.html" %}

{% load static %}
{% load compress %}
{% load cciwform %}

{% block title %}Manage DBSs {{ year }} | CCIW Officers{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static "js/manage_dbss.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block content %}
  <h1>Manage DBSs</h1>

  <p>This page shows all officers on camps, year {{ year }}, and their status
    regarding needing DBS checks.</p>

  <p>For officers needing DBSs:</p>

  <ul>
    <li>Use 'Show address' to view the officer's address (from application form)</li>
    <li>Use the buttons in the 'Manage' column to indicate you've physically sent them a DBS form to fill in.</li>
    <li>Officers requiring attention are <span class="requires_action">highlighted</span>.</li>
  </ul>

  <p>To enter information for DBSs that have been <em>completed</em>, use the
    <a href="{% url 'admin:officers_dbscheck_changelist' %}" target="_blank">DBS Disclosures admin</a>.</p>

  <div id='id_campselector'>
    <form action="." method="GET">
      <p>Select camps: {% for camp in camps %}
        <label><input type="checkbox" name="camp" value="{{ camp.slug_name }}"
                      {% if camp in selected_camps %}checked{% endif %}> {{ camp.slug_name }}</label>&nbsp;&nbsp;
      {% endfor %} <input type="submit" value="Update page">
      </p>
    </form>
  </div>

  <table id="id_officer_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Camps</th>
        <th>Application form</th>
        <th>DBS status</th>
        <th>Info and actions</th>
        <th>DBS form sent</th>
      </tr>
    </thead>
    <tbody>
      {% for officer, dbs_info in officers_and_dbs_info %}
        <tr id="id_highlightdiv_{{ officer.id }}"
            class="officer_dbs_row {% if dbs_info.requires_action %}requires_action{% endif %}"
            data-camps="{% for camp in dbs_info.camps %}{{ camp.slug_name }}{% if not forloop.last %},{% endif %}{% endfor %}"
            >
          <td>{{ officer.first_name }} {{ officer.last_name }}</td>
          <td>{% for camp in dbs_info.camps %}
            <a href="{% url 'cciw-officers-officer_list' year=camp.year slug=camp.slug_name %}" target="_blank">{{ camp.slug_name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
          </td>
          <td>{% if dbs_info.has_application_form %}<img src="{% static "admin/img/icon-yes.svg" %}">
            <a href="{% url 'admin:officers_application_change' dbs_info.application_id %}" target="_blank">View/edit</a>{% endif %}</td>
          <td>{% if not dbs_info.has_dbs %}<img src="{% static "admin/img/icon-no.svg" %}"> Never
          {% else %}{% if dbs_info.has_valid_dbs %}<img src="{% static "admin/img/icon-yes.svg" %}"> Recent
          {% else %}<img src="{% static "admin/img/icon-alert.svg" %}"> Out of date
          {% endif %}
          {% endif %}</td>
          <td>
            <table class="actions">
              <tr>
                {% if not dbs_info.has_valid_dbs %}
                  {% if dbs_info.has_application_form %}
                    {% if dbs_info.dbs_check_consent %}
                      <td>
                        Address:
                      </td>
                      <td>
                        <textarea class="address" id="id_address_{{ officer.id }}">{{ dbs_info.address }}</textarea>
                      </td>
                      <td>
                        <form action="{% url 'cciw-officers-mark_dbs_sent' %}"
                              method="POST"
                              class="dbs-form-sent">
                          {% csrf_token %}
                          <input type="hidden" name="officer_id" value="{{ officer.id }}" />
                          <button id="id_send_{{ officer.id }}">Mark DBS form sent</button>
                        </form>
                        <button id="id_undo_{{ officer.id }}"
                                action="{% url 'cciw-officers-undo_mark_dbs_sent' %}"
                                style="display: none;">Undo</button>
                      </td>
                    {% else %}
                      <td colspan="2">
                        <b>Officer does not consent to DBS check</b>
                      </td>
                      <td>
                        <form action="{% url 'cciw-officers-dbs_consent_problem' %}"
                              method="GET"
                              class="alert-leaders"
                              >
                          <input type="hidden" name="application_id" value="{{ dbs_info.application_id }}">
                          {% return_to_here %}
                          <button id="id_alert_leaders_{{ officer.id }}">Alert leaders</button>
                        </form>
                      </td>

                    {% endif %}
                  {% else %}
                    <td colspan="2">
                      Needs application form
                    </td>
                  {% endif %}
                {% endif %}
              </tr>
            </table>
          </td>
          <td id="id_last_dbs_form_sent_{{ officer.id }}">
            {% if dbs_info.has_valid_dbs %}
              n/a
            {% else %}
              {% if dbs_info.last_dbs_form_sent %}
                {{ dbs_info.last_dbs_form_sent|timesince }} ago
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
