{% extends "cciw/officers/base.html" %}
{% load url from future %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Camps</th>
      <th>Application form</th>
      <th>CRB</th>
    </tr>
  </thead>
  <tbody>
    {% for officer in all_officers %}
      <tr>
        <td>{{ officer.first_name }} {{ officer.last_name }}</td>
        <td>{% for camp in officer.temp.camps %}
              <a href="{% url 'cciw.officers.views.officer_list' year=camp.year number=camp.number %}">{{ camp.number }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td>{% if officer.temp.has_application_form %}<img src="{{ STATIC_URL }}admin/img/admin/icon-yes.gif">{% endif %}</td>
        <td>{% if not officer.temp.has_crb %}<img src="{{ STATIC_URL }}admin/img/admin/icon_error.gif"> Never{% else %}{% if officer.temp.has_valid_crb %}<img src="{{ STATIC_URL }}admin/img/admin/icon_success.gif"> Recent{% else %}<img src="{{ STATIC_URL }}admin/img/admin/icon_alert.gif"> Out of date{% endif %}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
