{# -*- coding:utf-8 -*- #}
{% extends "cciw/officers/base.html" %}

{% load static %}
{% load compress %}

{% block title %}Manage DBSs {{ year }} | CCiW Officers{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static "js/manage_dbss.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block content %}
  <h1>Manage DBSs</h1>

  <p>This page shows all officers on camp officer lists for year {{ year }}, and their status
    regarding needing DBS checks.</p>

  <p>Please the <a href="/wiki/managing-dbs/" target="_blank">DBS wiki page</a>
    for an overview of the process.</p>

  <p>For officers needing DBSs, various possible actions are listed in the <b>Info and actions</b>
    column, with any necessary info to take that action:</p>

  <ul>
    <li>If they have not yet filled an application form in, no actions are possible
      because the application form collects required information for a DBS check.</li>

    <li>Some officers will need to be sent in the post a DBS form to fill in. You should <b>either</b>:

      <ul>
        <li>Use the 'Ask {{ external_dbs_officer.organisation_short }} to send DBS form' button, OR</li>
        <li>Send them a form yourself and use 'Mark DBS form sent' button.</li>
      </ul>
    </li>

    <li>When a DBS check is returned, this should be entered using the relevant button.</li>

    <li>If an officer has a enhanced DBS number registered for the “update service”,
      and if the number is in our database, the possibility of doing an online check
      against the DBS number. This is by far the fastest method. Once complete, the
      relevant button should be used to update our records.</li>

    <li>Officers definitely requiring attention from the DBS officer
      are <span class="requires_action">highlighted</span>.</li>

  </ul>

  <p>If necessary, you can edit an officer's application form to correct bad data, using the links
    in the <b>Application Form</b> column.</p>

  <h2>Other options</h2>

  <ul>
    <li>To record information for an officer who is not listed as needing a DBS check below: <a href="{% url 'admin:officers_dbscheck_add' %}?_return_to={{ request.get_full_path|urlencode }}">manually add a DBS check record</a>.</li>

    <li><a target="_blank" href="{% url 'admin:officers_dbscheck_changelist' %}" target="_blank">Browse existing DBS check records</a></li>
  </ul>

  <p>The officer list below can be filtered by camp if required:</p>

  <div id='id_campselector'>
    <form action="." method="GET">
      <p>Select camps: {% for camp in camps %}
        <label><input type="checkbox" name="camp" value="{{ camp.slug_name }}"
          {% if camp in selected_camps %}checked{% endif %}> {{ camp.slug_name }}</label>&nbsp;&nbsp;
      {% endfor %} <input type="submit" value="Update page">
      </p>
    </form>
  </div>

  <table id="id_officer_table"
    data-url="{% url 'cciw-officers-manage_dbss' year=year %}"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Camps</th>
        <th>Application form</th>
        <th>DBS status</th>
        <th>Info and actions</th>
      </tr>
    </thead>
    <tbody>
      {% include 'cciw/officers/manage_dbss_rows_inc.html' %}
    </tbody>
  </table>
{% endblock %}
