{% extends "cciw/officers/base.html" %}
{% block content %}
  <div id="content-main">
    <h2>{{ camp.leaders_formatted }}</h2>

    <p>This page allows you to view submitted applications. Normally the leaders
      of the camps (and any 'admins' defined for the camp) will be automatically
      emailed links to any submitted application forms.
    </p>


    <h2>Edit</h2>
    <p>If you need to view/edit applications to make corrections, use the
      <a href="/admin/officers/application/">admin interface for applications</a>.</p>

    <h2>View</h2>

    {% if finished_applications %}

      <table>
        <tr>
          <th>Name</th>
          <th>Application</th>
          <th>Reference 1</th>
          <th>Reference 2</th>
        </tr>
        {% for app in finished_applications %}
          <tr>
            <td>{{ app.officer.full_name }}</td>
            <td><a id="id_view_application_{{ app.id }}" href="{% url 'cciw-officers-view_application' application_id=app.id %}" target="_blank">View application</a></td>
            <td>
              {% with reference=app.referees.0.reference %}
                {% if reference %}
                  <a href="{% url 'cciw-officers-view_reference' reference_id=reference.id %}"  target="_blank">{{ reference.referee_name}}</a>
                {% endif  %}
              {% endwith %}
            </td>
            <td>
              {% with reference=app.referees.1.reference %}
                {% if reference %}
                  <a href="{% url 'cciw-officers-view_reference' reference_id=reference.id %}"  target="_blank">{{ reference.referee_name}}</a>
                {% endif  %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      </table>

    {% else %}

      <p>No applications for your camps have been completed yet.</p>

    {% endif %}
  </div>
{% endblock %}
