<dialog class="large" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <header class="columns-space-between">
    <h1>{% block title %}{% endblock %}</h1>
    <form method="dialog" class="dialog-close-form"><button class="dialog-close">X</button></form>
  </header>

  <main id="dialog-content-main">
    {% block content %}
      {% block messages %}
        {% if messages %}
          <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
          {% endfor %}</ul>
        {% endif %}
      {% endblock messages %}
    {% endblock %}
  </main>
</dialog>
