{% extends "cciw/officers/base.html" %}
{% load adminmedia %}
{% block title %}Officer list :: CCIW{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script><script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script><script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script><script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script><script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script><script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>

{% endblock %}
{% block bodyclass%}change-form{% endblock %}

{% block content %}<div id="content-main">
<h1>Officer list - {{ camp }}</h1>

<p>This page can be used for viewing and managing the officers on your list,
 and for viewing those who have not yet filled in an application form.</p>

<h2>Current list</h2>

{% with officers_all as officers %}
{% include "cciw/officers/officer_list_table_editable.html" %}
{% endwith %}

{% if officers_all %}
<h3>List address:</h3>
<p>The above list of officers can alternatively be emailed at: 
<strong><a href="mailto:{{ addresses_all }}">{{ addresses_all }}</a></strong></p>

{% include "cciw/officers/email_list_note.html" %}
{% endif %}

<h2>Modify list</h2>
<p>Choose officers from 'Available officers' using the arrows, and remember to
 press 'Save' when done.</p>

{% if form.officers.errors %}{{ form.officers.errors }}{% endif %}

<form method="post" action="">{% csrf_token %}
<fieldset class="module aligned">

<div class="form-row" >
  <label for="id_officers">Officers:</label> 
  {{ form.officers }}
   <script type="text/javascript">addEvent(window, "load", function(e) { SelectFilter.init("id_officers", "officers", 0, "/admin_media/"); });</script>
</div>
</fieldset>

<input type="submit" value="Save" name="submit" id="id_submit" />

</form>

<h2>Create officer</h2>

<p>If you need to add a new officer to the 'Available officers' above, use
  the <a href="{% url cciw.officers.views.create_officer %}" rel="external">add
  officer form</a> (opens in new window). If you have a list on a computer, you
  can <a href="mailto:webmaster@cciw.co.uk">e-mail the webmaster</a> to have
  them imported.</p>


<h2>No/incomplete application form</h2>

<p>The following officers are on your camp list (above), but have not
  yet completed an application form.</p>

{% with officers_noapplicationform as officers %}
{% include "cciw/officers/officer_list_table.html" %}
{% endwith %}

{% if officers_noapplicationform %}
<h3>List address:</h3>
<p>The above list of officers can alternatively be emailed at: 
<strong><a href="mailto:{{ addresses_noapplicationform }}">{{ addresses_noapplicationform }}</a></strong></p>

{% include "cciw/officers/email_list_note.html" %}
{% endif %}

{% endblock %}
