{% if officers %}
<p>Details of officers (e.g. email address) can be changed by clicking 'Edit'.</p>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit user details</th>
  </tr>
  {% for officer in officers %}
  <tr>
    <td>{{ officer.first_name }} {{ officer.last_name }}</td>
    <td>{{ officer.email }}</td>
    <td><a rel="external" href="/admin/auth/user/{{ officer.id }}/">Edit</a></td>
  </tr>
  {% endfor %}
</table>

<h3>List for email:</h3>
<p>
{% for officer in officers %}"{{ officer.first_name }} {{ officer.last_name }}" &lt;{{ officer.email }}&gt;,{% endfor %}
</p>

{% else %}
<p>No officers found</p>
{% endif %}
