<details {% if expand_details %}open{% endif %}>
  <summary>
    Officer information data retention:
  </summary>
  <ul>
    <li><b>Share this data only with leaders</b> or the designated CCiW officers
      who assist leaders with tasks relating to officers, and no third parties.
      All such people must be aware of and abide by these rules.</li>
    <li><b>Keep downloaded data secure and well organised</b>, stored only on devices that
      unauthorised people do not have access to. You must be able to find and delete it later.</li>
    <li><b>Delete officer addresses within 1 year of the end of the camp</b> they
      pertain to. They must be fully erased from your electronic devices and
      online storage, including any copies you have made, such as attachments in
      emails and backups.</li>
  </ul>
</details>
