{% extends "cciw/officers/base.html" %}

{% block title %}{{ officer.first_name }} {{ officer.last_name }} | CCIW Officers{% endblock %}

{% block content %}
  <h1>{{ officer.first_name }} {{ officer.last_name }}</h1>

  <h2>References</h2>

  {% if referee_pairs %}
    <table>
      {% for referees in referee_pairs %}
        <tr class="reference-header">
          <td colspan="2"><h3>For application on {{ referees.0.application.date_submitted }}</h3></td>
        </tr>
        <tr class="reference-list">
          {% for referee in referees %}
            <td>
              {% with reference=referee.reference %}
                {% include "cciw/officers/officer_ref_inc.html" %}
              {% endwith %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No references found</p>
  {% endif %}

{% endblock %}
