{% extends "cciw/officers/base.html" %}
{% load static %}
{% block title %}Officer list {{ camp.year }}-{{ camp.number }} | CCIW Officers{% endblock %}

{% block extrastyle %}{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.tablesorter.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
<style type="text/css">

.innerleft {
    margin: 0px 10px 0px 0px;
}

.innerright {
    margin: 0px 10px;
}

.leftcolumnwrapper {
    float: left;
    width: 100%;
}

.leftcolumn {
    /* see javascript below for other instances of this width */
    margin-right: 30em; /* Same as width of right column */
}

.rightcolumn {
    float: left;
    width: 30em; /* Width of right column */
    margin-left: -30em; /* Same as  -(width of right column) */
    background-color: #f0f0f0;
}


table.tablesorter thead th {
    background-color: #f0f0f0;
    background-image: none;
}

table.tablesorter thead .header {
    background-image: url({% static "images/ascdesc.gif" %});
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead .header.headerSortDown {
    background-image: url({% static "images/desc.gif" %});
}

table.tablesorter thead .header.headerSortUp {
    background-image: url({% static "images/asc.gif" %});
}

#id_officer_list_div table thead th:nth-child(3),
#id_officer_list_div table thead th:nth-child(4) {
    min-width:25ex;
}
</style>
{% endblock %}
{% block bodyclass%}change-form{% endblock %}

{% block content %}<div id="content-main">
<h1>Officer list</h1>
<h2>For camp {{ camp }}</h2>

<p>This page can be used for viewing and managing the officers on your list,
 and for viewing those who have not yet filled in an application form.</p>

<div class="leftcolumnwrapper">
<div class="leftcolumn" id="id_officer_list_div">
<div class="innerleft">
<h2>Current list</h2>

{% include "cciw/officers/officer_list_table_editable.html" %}

<p><br/>(You can sort the list by clicking on the headers. Hold down shift while clicking to sort by multiple columns)</p>
</div>
</div>
</div>

<div class="rightcolumn" id="id_add_officer_div">
<div style="text-align: right;"><small><a href="#" id="id_hide_add_officer_div">(hide)</a></small></div>
<div class="innerright">
<h2>Add to list</h2>

<div class="selector-filter">
 <a href="#" id="id_add_officer_btn">Add  <img style="vertical-align: middle"
 alt="Add" src="{% static "images/officer-list-add.gif" %}" /></a>
 &nbsp;&nbsp;&nbsp;
 <input type="text" id="id_available_officers_filter" />
 <img style="vertical-align: middle" alt="search" src="{% static "admin/img/selector-search.gif" %}" />
</div>
<div>
<select multiple="multiple" id="id_available_officers" style="min-width:30em;height: 30em;" name="officers">
{% include "cciw/officers/officer_list_available.html" %}
</select>
</div>

<h3>Help</h3>
<ul>
<li>Add an officer from above by double clicking on the entry,
 or by selecting and pressing 'Enter' or clicking the 'Add' button.</li>
<li>Use Shift or Ctrl buttons to select multiple officers.</li>
<li>Type in the search box to quickly find an officer.</li>
<li>Officers from last year are at the start of the list and starred (if the information is available)</li>
</ul>

<h2>New officer</h2>

<ul>
<li>Got a new officer who isn't in the list above?
 <a href="#" id="id_new_officer_btn">Add them</a>.</li>
<li>If you have a list on a computer, you can <a href="mailto:webmaster@cciw.co.uk">e-mail
  the webmaster</a> to have them imported more quickly.</li>
</ul>
</div>
</div>

<br style="clear: left;" />
<script type="text/javascript">
//<![CDATA[
(function($){
    // Code specific to page
    var campId = {{ camp.id }};

    // Global that is true if a row of officer details is in 'edit mode'
    var editOfficerMode = false;

    // Global that is true if the 'add officer' block is visible
    var showAddOfficerBlock = true;


    var refreshLists = function(areas) {
        // Refresh different areas of the page:
        if (areas == null) {
            areas = ["chosen", "available", "noapplication"];
        }
        $.ajax({
            type: "GET",
            url: "?sections=1&" + Math.random().toString(),
            dataType: 'json',
            success: function(data) {
                if (areas.indexOf("chosen") != -1)
                    refreshChosenList(data.chosen);
                if (areas.indexOf("available") != -1)
                    refreshAvailableList(data.available);
                if (areas.indexOf("noapplication") != -1)
                    refreshNoApplicationFormList(data.noapplicationform);
            }
        });
    };

    var addTableSorter = function(sortList) {
        if (sortList == undefined) {
            sortList = [[0,0]];
        }
        $("#id_officer_list_table table").tablesorter({headers:
                                                        { 4: { sorter: false }},
                                                       sortList: sortList
                                                      });
    }


    var refreshChosenList = function(text) {
        var savedSortOrder = $("#id_officer_list_table table").data('tablesorter').sortList;
        $("#id_officer_list_table").children().remove();
        $("#id_officer_list_table").html(text);
        editOfficerMode = false;
        addOfficerListHandlers();
        addTableSorter(savedSortOrder);
    };

    var refreshAvailableList = function(text) {
        var selectedIdx = document.getElementById("id_available_officers").selectedIndex;
        $("#id_available_officers").html(text);
        // restore filter
        $("#id_available_officers_filter").trigger('refresh');
        // restore selected item
        var s = document.getElementById("id_available_officers");
        s.selectedIndex = Math.min(selectedIdx, s.options.length - 1);
    };

    var refreshNoApplicationFormList = function(text) {
        $("#id_noapplicationform").html(text);
    };


    var escape = function(t) {
                     return t.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&apos;");
                 };

    var addOfficerListHandlers = function() {
        // event handlers for all 'edit' buttons
        $(".editbtn").click(function(ev) {
            ev.preventDefault();
            if (editOfficerMode) {
                alert("Please finish editing the other row first");
                return;
            }
            editOfficerMode = true;
            var officerId = parseFloat(ev.target.id.substring(8), 10);
            var row = $('#id_officer_table_tr_' + officerId.toString());
            var firstNameCell = row.find('td:nth-child(1)');
            var lastNameCell  = row.find('td:nth-child(2)');
            var emailCell     = row.find('td:nth-child(3)');
            var notesCell     = row.find('td:nth-child(4)');
            var editCell      = row.find('td:nth-child(5)');
            var officer = { firstName: firstNameCell.text(),
                            lastName:  lastNameCell.text(),
                            email:     emailCell.text(),
                            notes:     notesCell.text()
                          };
            // Make input boxes, and save/cancel buttons
            firstNameCell.html('<input size=8 id="id_officer_first_name" type="text" value="' + escape(officer.firstName) + '" /></td>');
            lastNameCell.html('<input size=8 id="id_officer_last_name" type="text" value="' +  escape(officer.lastName) + '" />');
            emailCell.html('<input size=25 id="id_officer_email" type="text" value="' + escape(officer.email) + '" />');
            notesCell.html('<input size=25 id="id_officer_notes" type="text" value="' + escape(officer.notes) + '" />');
            editCell.find('img').hide();
            editCell.append(
                     '<span><a href="#" id="id_officer_save">Save</a> / ' +
                     '<a href="#" id="id_officer_cancel">Cancel</a><span>');
            var showAddOfficerBlockSaved = showAddOfficerBlock;
            var restoreAddBlockState = function() {};
            if (showAddOfficerBlock) {
                // Make room for editing
                addOfficerBlockToggle();
                restoreAddBlockState = addOfficerBlockToggle;
            }

            function setOfficerRow(officerData) {
                firstNameCell.html(escape(officer.firstName));
                lastNameCell.html(escape(officer.lastName));
                emailCell.html('<a href="mailto:' + escape(officer.email) + '">' + escape(officer.email) + '</a>')
                notesCell.html(escape(officer.notes));
                editCell.find('img').show();
                editCell.find('span').remove();
                restoreAddBlockState();
                editOfficerMode = false;
            }

            // 'Cancel' handler:
            row.find('#id_officer_cancel').click(function(ev) {
                ev.preventDefault();
                setOfficerRow(officer);
            });
            // 'Save' handler
            row.find('#id_officer_save').click(function(ev) {
                ev.preventDefault();
                officer.firstName = $('#id_officer_first_name').val();
                officer.lastName  = $('#id_officer_last_name').val();
                officer.email     = $('#id_officer_email').val();
                officer.notes     = $('#id_officer_notes').val();
                setOfficerRow(officer);
                $('#id_officer_list_table table').trigger('update');
                // For responsiveness, we update UI before server has
                // saved data.
                $.ajax({
                    type: 'POST',
                    url: "{% url 'cciw.officers.views.update_officer' %}",
                    data: {'officer_id': officerId.toString(),
                           'first_name': officer.firstName,
                           'last_name': officer.lastName,
                           'email': officer.email,
                           'notes': officer.notes,
                           'camp_id': campId.toString()
                           },
                    dataType: 'json',
                    success: function() {
                        refreshLists("noapplication");
                    }
                });
            });
        });

        // event handlers for 'remove' buttons
        $(".removebtn").click(function(ev) {
            var officerId = parseFloat(ev.target.id.substring(10), 10);
            // Remove from list
            $.ajax({
                type: "POST",
                url:  "{% url 'cciw.officers.views.remove_officer' camp.year camp.number %}",
                data: "officer_id=" + officerId.toString(),
                dataType: 'json',
                success: function(ev) { refreshLists(); }
            });
            ev.preventDefault();
        });

        // event handlers for 'email' buttons
        $(".emailbtn").click(function(ev) {
            ev.preventDefault();
            if (confirm("This will reset the officer's password and re-send the initial signup e-mail.  Continue?")) {
                var officerId = parseFloat(ev.target.id.substring(9), 10);
                $.ajax({
                    type: "POST",
                    url: "{% url 'cciw.officers.views.resend_email' %}",
                    data: "officer_id=" + officerId.toString(),
                    dataType: 'json'
                });
            }
        });
    };

    var officerAddHandler = function(ev) {
        ev.preventDefault();
        if (ev.type == "keyup") {
            var code = (ev.keyCode ? ev.keyCode : ev.which);
            if (code != 13) { // Enter
                return;
            }
        }
        var officer_ids = [];
        var options = $('#id_available_officers').get(0).options;
        for (var i = 0; i < options.length; i++) {
            if (options[i].selected) {
               officer_ids.push(options[i].value)
            }
        }
        if (officer_ids.length == 0) {
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'cciw.officers.views.add_officers' camp.year camp.number %}",
            data: "officer_ids=" + officer_ids.join(','),
            dataType: 'json',
            success: function(ev) { refreshLists(); }
        });
    };

    var newOfficerHandler = function(ev) {
        var popup = $('#id_add_officer_popup');
        popup.find(".iframe_container").html('<iframe src="{% url 'cciw.officers.views.create_officer' %}?is_popup=1&camp_id={{ camp.id }}" width="780" frameborder="0" height="400">');
        popup.css({
            "position": "fixed",
            "top": ($(window).height()/2 - popup.height()/2).toString() + "px",
            "left": ($(window).width()/2 - popup.width()/2).toString() + "px"
        });
        popup.fadeIn("fast");
        $('#id_popup_background').fadeIn('fast');
        ev.preventDefault();
    };

    var newOfficerClose = function(ev) {
        refreshLists();
        $('#id_add_officer_popup').fadeOut('fast');
        $('#id_popup_background').fadeOut('fast');
        ev.preventDefault();
    };

    var addOfficerBlockToggle = function(ev) {
        if (ev != null) {
            ev.preventDefault();
        }
        showAddOfficerBlock = !showAddOfficerBlock;
        var width = showAddOfficerBlock ? '30em' : '4em';
        $('#id_add_officer_div').css({'width':width, 'margin-left': '-' + width})
        $('#id_officer_list_div').css({'margin-right': width})
        if (showAddOfficerBlock) {
            $('#id_add_officer_div .innerright').show();
            $('#id_hide_add_officer_div').text('(hide)');
        } else {
            $('#id_add_officer_div .innerright').hide();
            $('#id_hide_add_officer_div').text('(show)');
        }
    }

    $(document).ready(function(){
        $("#id_available_officers_filter").multiSelectFilter("#id_available_officers");
        addOfficerListHandlers();
        addTableSorter();
        $("#id_available_officers")
           .dblclick(officerAddHandler)
           .keyup(officerAddHandler);
        $('#id_add_officer_btn').click(officerAddHandler);
        $('#id_new_officer_btn').click(newOfficerHandler);
        $('#id_popup_close_btn').click(newOfficerClose);
        $('#id_hide_add_officer_div').click(addOfficerBlockToggle);

        $("#loading").ajaxStart(function(){
            $(this).show();
        });
        $("#loading").ajaxStop(function(){
            $(this).hide();
        });
    });
})(jQuery);
//]]>
</script>

<h3>List address:</h3>
<p>The above list of officers can be emailed at:
<strong><a href="mailto:{{ address_all }}">{{ address_all }}</a></strong></p>

{% include "cciw/officers/email_list_note.html" %}


<p>You can also <a href="{% url 'cciw_mail_show_list' address=address_all %}">download the {{ address_all }} list</a>.</p>

<p>You may need to email your officers (using the downloaded list) and tell them
to add 'lists@cciw.co.uk' to their 'white list', to ensure that emails from this
address are not classified as junk mail.</p>

<div id="id_noapplicationform">
{% include "cciw/officers/officer_list_noapplicationform.html" %}
</div>


{% if officers_serious_slackers %}

<div id="id_seriousslackers">

<h2>Application form/references track record</h2>

<p>A number of officers need attention regarding their track record with
  application forms or references. (If they didn't actually come on the camps
  listed, it will help to remove them from the officer lists for those camps).
  </p>
<table>
  <tr>
    <th>Officer</th>
    <th>Missing application forms</th>
    <th>Missing references</th>
  </tr>
  {% for officer_data in officers_serious_slackers %}
  {% with officer=officer_data.officer %}
  <tr>
    <td>{{ officer.first_name }} {{ officer.last_name }}</td>
    <td>
      {% for camp in officer_data.missing_application_forms %}
      <a target="_blank" href="{% url 'cciw.officers.views.officer_list' year=camp.year number=camp.number %}">{{ camp.year }}-{{ camp.number }}</a><br/>
      {% endfor %}
    </td>
    <td>
      {% for camp in officer_data.missing_references %}
      <a target="_blank" href="{% url 'cciw.officers.views.officer_list' year=camp.year number=camp.number %}">{{ camp.year }}-{{ camp.number }}</a><br/>
      {% endfor %}
    </td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
</div>
{% endif %}


<h2>Export officer data</h2>

<p>The officer list above, along with address details from this year's
  application forms, can be downloaded below:</p>

<ul>
<li><a href="{% url 'cciw.officers.views.export_officer_data' year=camp.year number=camp.number %}">Officer data, camp {{ camp.number }}, {{ camp.year }} - Excel spreadsheet</a></li>
</ul>

</div> {# id=content-main #}

<div id="id_add_officer_popup" class="inlinepopup">
<div class="closebar">
<a href="#" id="id_popup_close_btn">Close</a>
</div>
<div class="iframe_container">
</div>
</div>

<div class="inlinepopup_background" id="id_popup_background"></div>

<div id="loading" style="text-align: center; background-color: white; border: 1px solid #888; position: fixed; bottom: 0px; right: 0px; width: 224px; height: 40px; display: none;">
<img src="{% static "images/loading.gif" %}" alt="" />
<br/>Loading...
</div>
{% endblock %}
