{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset requested' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset requested' %}</h1>

<p>{% trans "We've sent you an e-mail to the address you submitted.  You will need to follow the instructions in the e-mail to choose a new password. " %}</p>

{% endblock %}
