{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock %}

{% block content %}

{% if success %}

<h1>{% trans 'Password reset successful' %}</h1>


<p>{% trans "Your password has been reset." %}</p>

{% else %}
<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password could not be reset.  Please check you used the full URL from the e-mail." %}</p>

{% endif %}

{% endblock %}
