{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset requested' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset requested' %}</h1>

<p>{% trans "We've e-mailed a new password to the e-mail address you submitted. You should be receiving it shortly.  You will need to follow the instructions in the e-mail to complete the password reset. " %}</p>

{% endblock %}
