{% extends "cciw/officers/modal_dialog.html" %}

{% block title %}Request reference for {{ app.officer.full_name }} from {{ referee.name }}{% endblock %}

{% block content %}
  {{ block.super }}

  {% include "cciw/officers/referee_details_summary_inc.html" with referee=referee %}

  <div><br/></div>

  {% if already_requested %}
    <p><strong class="ok">PLEASE NOTE: A request has already been sent for this reference</strong></p>
  {% endif %}

  {% if is_update and known_email_address %}
    <p>{{ referee.name }} has done a reference for {{ app.officer.first_name }} in the past.</p>
  {% endif %}

  {% if not is_update %}
    <p><strong>{{ referee.name }} has not done a reference for
      {{ app.officer.first_name }} in the past.</strong>  Before requesting this reference, you should endeavour to ensure that this person is who the applicant claims they are, and <strong>ensure the email address is correct</strong>, and that they are happy to do a reference.</p>
  {% endif %}

  {% if is_update and not known_email_address %}
    <p>In the past, <b>"{{ old_referee.name }} &lt;{{ old_referee.email }}&gt;"</b> did a reference for {{ app.officer.first_name }}.  If you have confirmed that this person's name/email address is now <b>"{{ referee.name }} &lt;{{ referee.email }}&gt;",</b> you can ask them to update their reference.</p>
  {% endif %}

  {% if form.errors %}
    <p class="actionnote">Please check the errors below</p>
  {% endif %}

  <p>The following email, which you can now modify, will be sent to them. Make sure you don't modify the link contained in the email.</p>
  <form
    id="id_request_reference_send"
    hx-post="{{ post_url }}"
    hx-target="#dialog-content-main"
    hx-vals='{"use_block": "content"}'
  >
    {{ form.as_p }}
    <div>
      <input type="submit" name="send" value="Send" />
      <input type="submit" name="cancel" value="Cancel" formnovalidate />
    </div>
  </form>
{% endblock %}
