{% extends "cciw/officers/base.html" %}
{% load static %}
{% load json_filters %}
{% block title %}Officer stats | CCIW Officers{% endblock %}

{% block extrastyle %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/jquery.flot.min.js" %}"></script>

{% endblock %}
{% block bodyclass%}change-form{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Stats {{ year }}</h1>
    <p>Charts span the year leading up to the start date of the camp.</p>
    <p>Exact numbers can be seen by hovering your mouse over the charts.</p>

    {% for camp in camps %}
      <div style="float:left; margin-right: 20px;">
        <h2>{{ camp.number }} - {{ camp.leaders_formatted }}</h2>

        <div id="camp-graph-{{ camp.number }}" style="width:600px;height:200px;">
        </div>
        <script type="text/javascript">
         $(function() {
             var placeholder_id = "#camp-graph-{{ camp.number }}";

             var objToArray = function (obj) {
                 var a = $.map(obj, function(value, index) { return [[parseInt(index, 10), value]]; });
                 a.sort();
                 return a;
             };

             var dataArrived = function (stat) {
                 var app_dates_data = objToArray(stat.application_dates_data);
                 // Halve the references number to make it match the others.
                 var ref_dates_data = $.map(objToArray(stat.ref_dates_data),
                                            function (val, index) {
                                                return [[val[0], val[1]/2]];
                                            });
                 var all_crb_dates_data = objToArray(stat.all_crb_dates_data);
                 var valid_crb_dates_data = objToArray(stat.valid_crb_dates_data);
                 var officer_list_data = objToArray(stat.officer_list_data);
                 $.plot(placeholder_id,
                        [
                            {label: "<a href='{% url "cciw-officers-officer_list" year=camp.year number=camp.number %}' target='_blank'>Officer list</a>",
                             data: officer_list_data},
                            {label: "<a href='{% url "cciw-officers-manage_crbs" year=year %}?camp={{ camp.number }}' target='_blank'>Any DBSs</a>",
                             data: all_crb_dates_data},
                            {label: "Up-to-date DBSs",
                             data: valid_crb_dates_data},
                            {label: "<a href='{% url "cciw-officers-manage_applications" year=camp.year number=camp.number %}' target='_blank'>Applications</a>",
                             data: app_dates_data},
                            {label: "<a href='{% url "cciw-officers-manage_references" year=camp.year number=camp.number %}' target='_blank'>References</a> \u00F7 2",
                             data: ref_dates_data}
                        ],
                        { xaxis: { mode: "time",
                                   ticks: 12 },
                          yaxis: { min: 0 },
                          legend: { position: "nw" },
                          grid: { hoverable: true }
                        });
                 var previousPoint = null;
                 $(placeholder_id).bind("plothover", function (event, pos, item) {
                     if (item) {
                         if (previousPoint == null || (previousPoint.dataIndex != item.dataIndex || previousPoint.series != item.series)) {
                             previousPoint = item;

                             $("#tooltip").remove();
                             var d = new Date(item.datapoint[0]);
                             var num = item.datapoint[1];
                             var label = $('<div>' + item.series.label + '</div>').text();
                             var stat = num.toFixed(0);
                             if (item.series.label.match(/References/)) {
                                 label = "References";
                                 stat = (num * 2).toFixed(0);
                             }
                             showTooltip(item.pageX, item.pageY,
                                         label + ": <b>" + stat + "</b>" +
                                         "<br/><i>" + d.toLocaleDateString() + "</i>");
                         }
                     } else {
                         $("#tooltip").remove();
                         previousPoint = null;
                     }
                 });

             }

             var showTooltip = function (x, y, contents) {
                 $('<div id="tooltip">' + contents + '</div>').css( {
                     position: 'absolute',
                     display: 'none',
                     top: y + 5,
                     left: x + 18,
                     border: '1px solid #ddd',
                     padding: '2px',
                     'background-color': '#eee',
                     opacity: 0.90
                 }).appendTo("body").fadeIn(200);
             }


             $.ajax({
                 type: "GET",
                 url: "{% url 'cciw-officers-officer_stats_json' year=camp.year number=camp.number %}",
                 dataType: 'json',
                 success: dataArrived
             });


         });

        </script>
      </div>
    {% endfor %}


    <div style="clear: both;">
      <canvas height="50">
        Your browser is obsolete, and won't display the graphs above. Please upgrade
        to <a href="http://abetterbrowser.org/">a better browser</a>.
      </canvas>
    </div>

    <p>Notes:</p>

    <ul>
      <li>Ideally all lines should reach the 'Officer list' line by the start
        of camp.</li>
      <li>Each officer needs 2 references, so the references plot has been divided
        by 2 to make it fit the others. Correct figures are shown when hovering.</li>
      <li>Some data may be inaccurate where we do not have full past records.</li>
    </ul>

  </div>
{% endblock %}
