{% extends "cciw/officers/base.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script defer type="text/javascript" src="{% static "js/highcharts/highcharts.js" %}"></script>
  <script defer type="text/javascript" src="{% static "js/highcharts/modules/exporting.js" %}"></script>
  <script defer type="text/javascript" src="{% static "js/highcharts/modules/offline-exporting.js" %}"></script>
  <script defer type="text/javascript" src="{% static "js/officer_stats.js" %}"></script>
{% endblock %}
