{% extends "cciw/officers/base.html" %}
{% load static %}
{% load json_filters %}
{% block title %}Officer stats | CCIW Officers{% endblock %}

{% block extrastyle %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/jquery.flot.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/officer_stats.js" %}"></script>
{% endblock %}

{% block bodyclass%}change-form{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Stats {{ year }}</h1>
    <p>Charts span the year leading up to the start date of the camp.</p>
    <p>Exact numbers can be seen by hovering your mouse over the charts.</p>

    {% for camp in camps %}
      <div style="float:left; margin-right: 20px;">
        <h2>{{ camp.number }} - {{ camp.leaders_formatted }}</h2>
        <div id="camp-graph-{{ camp.number }}"
             style="width:600px;height:200px;"
             data-url-officer-list="{% url "cciw-officers-officer_list" year=camp.year number=camp.number %}"
             data-url-manage-crbs="{% url "cciw-officers-manage_crbs" year=year %}?camp={{ camp.number }}"
             data-url-manage-applications="{% url "cciw-officers-manage_applications" year=camp.year number=camp.number %}"
             data-url-manage-references="{% url "cciw-officers-manage_references" year=camp.year number=camp.number %}"
             data-url-officer-stats-json="{% url 'cciw-officers-officer_stats_json' year=camp.year number=camp.number %}"
             data-officer-stats-chart-placeholder="true"
             >
        </div>
      </div>
    {% endfor %}

    <div style="clear: both;">
      <canvas height="50">
        Your browser is obsolete, and won't display the graphs above. Please upgrade
        to <a href="http://abetterbrowser.org/">a better browser</a>.
      </canvas>
    </div>

    <p>Notes:</p>

    <ul>
      <li>Ideally all lines should reach the 'Officer list' line by the start
        of camp.</li>
      <li>Each officer needs 2 references, so the references plot has been divided
        by 2 to make it fit the others. Correct figures are shown when hovering.</li>
      <li>Some data may be inaccurate where we do not have full past records.</li>
    </ul>

    <h2>Data</h2>

    <p>Download raw data: <a href="{% url 'cciw-officers-officer_stats_download' year=year %}?format=xls">XLS</a></p>

  </div>
{% endblock %}
