{% extends "cciw/standard.html" %}
{% block content %}
  {% if success_message %}
    <div class="successMessage">{{ success_message }}</div>
    {% if current_member %}
      <div><a href="{{ current_member.get_absolute_url }}">Go back to your personal page</a></div>
    {% else %}
      <div><a href="/login/">Log in</a></div>
    {% endif %}
  {% else %}
    {% if error_message %}
      <div class="userError">
        {{ error_message }}
      </div>
    {% endif %}
    {% if show_form %}
      <p>Enter your new password (5-20 characters), and confirm it
        with the same password in the second box.</p>
      <form action="" method="post">{% csrf_token %}
        <div class="formrow"><label for="new_password">New password:</label>
          <input name="new_password" type="password" id="new_password" />
        </div>
        <div class="formrow"><label for="new_password2">Confirm:</label>
          <input name="new_password2" type="password" id="new_password2" />
        </div>
        <div><input type="submit" name="submit" value="Change" /></div>
      </form>
    {% endif %}
  {% endif %}

{% endblock %}
