{% extends "standard" %}
{% load forums %}
{% block content %}
	{% if currentMember %}
		{% ifequal currentMember.user_name member.user_name %}
		<h2>Links</h2>

		<ul>
			<li><a href="messages/">{{ currentMember.new_messages }} new message(s)</a></li>
			<li><a href="messages/?box=saved">{{ currentMember.saved_messages }} saved message(s)</a></li>
			<li><a href="bookmarks/">Bookmarks</a></li>
		</ul>
		<form method="post" action="{{pagevars.request.url}}">
		<p><input type="submit" name="logout" value="Log out" /></p>
		</form>

		{% endifequal %}
	{% endif %}

	<div class="memberinfo">
		<h2>Information</h2>
		<table class="sideheaders">
			<tr>
				<th>User name</th>
				<td>{{ member.user_name }}</td>
			</tr>
			<tr>
				<th>'Real' name</th>
				<td>{{ member.real_name }}</td>
			</tr>
			{% if member.icon %}
			<tr>
				<th>Icon</th>
				<td>{{ member.icon_image }}</td>
			</tr>
			{% endif %}
			{% if member.show_email %}
			<tr>
				<th>Email</th>
				<td>{{ member.email|obfuscate_email }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>Date joined</th>
				<td>{{ member.date_joined|date:"d M Y H:i:s" }}</td>
			</tr>
			<tr>
				<th>Last seen</th>
				<td>{{ member.last_seen|date:"d M Y H:i:s" }}</td>
			</tr>
			{% if member.comments %}
			<tr>
				<th>Comments</th>
				<td>{{ member.comments|bb2html }}</td>
			</tr>
			{% endif %}
			{% if member.website %}
			<tr>
				<th>Website</th>
				<td>{{ member.website }}</td>
			</tr>
			{% endif %}
		</table>
		<br/>

		{% if awards %}
			<h2>Awards</h2>
			<p><b>{{ member.user_name }}</b> has received the following awards:</p>
			{% for paward in awards %}
			<div class="awardInfo">
				<a href="{{paward.get_award.get_absolute_url}}" class="awardlink"><img class="award" alt="{{paward.get_award.nice_name}}" src="{{paward.get_award.imageurl}}" /></a><br/>
				<span class="awardname">
				{{ paward.get_award.nice_name }}</span>
				{% if paward.date_awarded %}
 					on {{ paward.date_awarded|date:"d M Y" }}
				{% endif %}
				<br/>
				Reason for award:
				<p>{{ paward.reason }}</p>
			</div>
	
			{% endfor %}


		{% endif %}
	</div>
{% endblock %}