{% extends "cciw/standard" %}
{% load view_extras %}
{% load standardpage %}
{% load forums %}

{% block extraheader %}
{{ block.super }}
<link rel="alternate" type="application/atom+xml" href="/members/?format=atom" title="Atom feed for new members." />
{% endblock %}
{% block content %}
	<form method='get' action='/members/'>
		<p>
		<label>Search:
		<input type='text' name='search' id='search' value="{{ request.search|escape }}" /></label><br/>
		<label>Online users only: <input type="checkbox" name="online" value="1"
			{% if request.online %}
				checked="checked"
			{% endif %} /></label> <input type="submit" name="go" value="Go" />
		</p>
		{% forward_query_param "order" %}
	</form>
	{% if object_list %}
	<div class="paging">{% paging_control %}</div>
	<table class="topheaders">
		<tr>
			<th scope="col">Icon</th>
			<th scope="col">Member name&nbsp;{% sorting_control "aun" "dun" "Sort by user name ascending" "Sort by user name descending" %}</th>
			<th scope="col">'Real' name&nbsp;{% sorting_control "arn" "drn" "Sort by real name ascending" "Sort by real name descending" %}</th>
			<th scope="col">Comments</th>
			<th scope="col">Joined&nbsp;{% sorting_control "adj" "ddj" "Sort by 'date joined' ascending" "Sort by 'date joined' descending" %}</th>
			<th scope="col">Last seen&nbsp;{% sorting_control "als" "dls" "Sort by 'last seen' ascending" "Sort by 'last seen' descending" %}</th>
		</tr>

		{% for member in object_list %}
		<tr>
			<td> {% if member.icon %}
				{{ member.icon_image }}
			     {% endif %}
			</td>
			<td>{{ member.get_link }}</td>
			<td>{{ member.real_name|escape }}</td>
			<td>{{ member.comments|bb2html }}</td>
			<td>
			{% if member.date_joined %}
				{{ member.date_joined|date:"d M Y" }}
			{% endif %}
			</td>
			<td>
			{% if member.last_seen %}
				{{ member.last_seen|date:"d M Y h:i" }}
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<div class="paging">{% paging_control %}</div>
	{% else %}
	<p>No members found.</p>
	{% endif %}

{% endblock %}