{% extends "standard" %}
{% load view_extras %}
{% load forums %}
{% block content %}
	<form method='get' action='/members/'>
		<p>
		<label>Search:
		<input type='text' name='search' id='search' value="{{ pagevars.request.search|escape }}" /></label><br/>
		<label>Online users only: <input type="checkbox" name="online" value="1"
			{% if pagevars.request.online %}
				checked="checked"
			{% endif %} /></label> <input type="submit" name="go" value="Go" />
		</p>
		{% forward_query_param "order" %}
	</form>
	{% if object_list %}
	<div class="paging">{% paging_control %}</div>
	<table class="topheaders">
		<tr>
			<th>Icon</th>
			<th>Member name&nbsp;{% sorting_control "aun" "dun" %}</th>
			<th>'Real' name&nbsp;{% sorting_control "arn" "drn" %}</th>
			<th>Comments</th>
			<th>Joined&nbsp;{% sorting_control "adj" "ddj" %}</th>
			<th>Last seen&nbsp;{% sorting_control "als" "dls" %}</th>
		</tr>

		{% for member in object_list %}
		<tr>
			<td> {% if member.icon %}
				{{ member.iconImage }}
			     {% endif %}
			</td>
			<td><a href="{{ member.get_absolute_url }}">{{ member.userName }}</a></td>
			<td>{{ member.realName|escape }}</td>
			<td>{{ member.comments|bb2html }}</td>
			<td>
			{% if member.dateJoined %}
				{{ member.dateJoined|date:"d M Y" }}
			{% endif %}
			</td>
			<td>
			{% if member.lastSeen %}
				{{ member.lastSeen|date:"d M Y h:i" }}
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<div class="paging">{% paging_control %}</div>
	{% else %}
	<p>No members found.</p>
	{% endif %}

{% endblock %}