{% extends "cciw/standard.html" %}
{% load url from future %}
{% block content %}
  {% if error_message %}
  <div class="userError">{{ error_message }}</div>
  {% else %}
    {% if isFromRedirect %}
    <p>Log in to continue.</p>
    {% endif %}
  {% endif %}
  <p>Enter your user name and password below:</p>
  <form action="" method="post">{% csrf_token %}
    <div class="formrow">
      <label for='user_name'>User name:</label>
      <input type='text' name='user_name' id='user_name' />
    </div>
    <div class="formrow">
      <label for='password'>Password:</label>
      <input type='password' name='password' id='password' />
    </div>
    <div>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="submit" name="login" value="Login" />
    </div>
  </form>
  <br/>
  <ul><li><small><a href="/help/logging-in/">Forgotten your username or password?</a></small></li>
  <li><small><a href="/signup/">Sign up</a> if you haven't done so already</small></li>
        <li><small>Need to log in to the <strong>officer</strong> section of the website?  <a href="{% url 'cciw.officers.views.index' %}">Go here</a></small></li>
  </ul>
{% endblock %}
