{% extends "cciw/base.html" %}
{% block title %}Add and edit tags{% endblock%}
{% block extraheader %}
{{ block.super }}
<style type="text/css">

form .formrow label,
form .formrow .label
{ 
        display: block;  /* block allows a width */
        float: left; 
        width: 150px; 
        margin: 2px 15px 0; /* set top margin same as form input - textarea etc. elements */
        text-align: right; 
	
}
div.formrow
{
        padding: 5px; 
	clear: both;
}
.formrow input,
.formrow .control
{
	width: 350px;
}
.formrow .control
{
	border: 1px solid #808080;
	padding: 2px;
}

</style>
{% endblock %}